<section class="titulo-phone">
<div class="container-fluid px-0">
  <div class="row m-0">
    <div class="col-md-4 px-0" (click)="openDialogImagen ('transparencia_institucional_img_1', imagenes?.transparencia_institucional_img_1)">
      <img [src]="imagenes?.transparencia_institucional_img_1.img" width="100%">
    </div>
    <div class="col-md-8 px-0" >
      <div id="rectangulo-fondo"></div>
    </div>
  </div>
</div>
<div class="container mt-5 mb-5">
  <div class="row m-0 mb-5">
    <div class="col-12 text-center">
      <h1 class="color-titulo mb-0" id="titulo-trans">
        <span (click)="openDialog ('transparencia_institucional_titulo', etiquetas?.transparencia_institucional_titulo, 0)">
          <span *ngIf="etiquetas?.transparencia_institucional_titulo">{{ etiquetas?.transparencia_institucional_titulo }}</span>
          <span *ngIf="!etiquetas?.transparencia_institucional_titulo">transparencia_institucional_titulo</span>
        </span>
        <span (click)="openDialog ('transparencia_institucional_subtitulo', etiquetas?.transparencia_institucional_subtitulo, 0)">
          <span *ngIf="etiquetas?.transparencia_institucional_subtitulo" class="ml-1" id="titulo-insti">{{ etiquetas?.transparencia_institucional_subtitulo }}</span>
          <span *ngIf="!etiquetas?.transparencia_institucional_subtitulo" class="ml-1" id="titulo-insti">transparencia_institucional_subtitulo</span>
        </span>
        </h1>
        <div (click)="openDialog ('transparencia_institucional_descripcion', etiquetas?.transparencia_institucional_descripcion, 0)">
            <p *ngIf="etiquetas?.transparencia_institucional_descripcion" id="texto-font-tran">{{ etiquetas?.transparencia_institucional_descripcion }}</p>
            <p *ngIf="!etiquetas?.transparencia_institucional_descripcion" id="texto-font-tran">transparencia_institucional_descripcion</p>
        </div>
    </div>
    <div class="col-12 mb-5">
        <div class="cajaselect">
          <span class="seleccionado">Elemento 01</span>
          <ul class="listaselect">
            <li>Elemento 01</li>
            <li>Elemento 02</li>
            <li>Elemento 03</li>
          </ul>
          <span class="trianguloinf"></span>
        </div>
    </div>
    <div class="col-12 mb-5 mb-md-3">
      <div class="row m-0">
        <div class="col-12 col-md-9 col-lg-10">
          <p class="color-letra-descarga-trans">CONFIRMAR los extremos de la Resolución Directoral N° 017-2018-GR CUSCO/DIRCETUR-DT</p>
        </div>
        <div class="col-12 col-md-3 col-lg-2">
          <div (click)="openDialog ('transparencia_institucional_btn_descarga', etiquetas?.transparencia_institucional_btn_descarga, 0)">
              <button *ngIf="etiquetas?.transparencia_institucional_btn_descarga" class="btn btn-descargar-fondo py-0">{{ etiquetas?.transparencia_institucional_btn_descarga }}</button>
              <button *ngIf="!etiquetas?.transparencia_institucional_btn_descarga" class="btn btn-descargar-fondo py-0">transparencia_institucional_btn_descarga</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 mb-5 mb-md-3">
      <div class="row m-0">
        <div class="col-12 col-md-9 col-lg-10">
          <p class="color-letra-descarga-trans">SE INCLUYA, al Sector de Poroy en el desarrollo de la actividad de turismo de aventura en la modalidad de Puentismo, ubicado en el (km 11), coordenadas de referencia, longitud 72°01»48.99» y Latitud 13°30»15.78» , Distrito de Poroy, Provincia y Departamento de Cusco</p>
        </div>
        <div class="col-12 col-md-3 col-lg-2">
          <button class="btn btn-descargar-fondo py-0">Descargar</button>
        </div>
      </div>
    </div>
    <div class="col-12 mb-5 mb-md-3">
      <div class="row m-0">
        <div class="col-12 col-md-9 col-lg-10">
          <p class="color-letra-descarga-trans">RECONFORMAR el Comité de Control Interno de la DIRCETUR Cusco, el cual tendrá a su cargo la implementación del Sistema de Control Interno de la Entidad, conforme a lo dispuesto en la guía de Sistema de Control Interno de las entidades del Estado, el comité dependerá de un Titular de la Entidad descargar</p>
        </div>
        <div class="col-12 col-md-3 col-lg-2">
          <button class="btn btn-descargar-fondo py-0">Descargar</button>
        </div>
      </div>
    </div>
    <div class="col-12 mb-5 mb-md-3">
      <div class="row m-0">
        <div class="col-12 col-md-9 col-lg-10">
          <p class="color-letra-descarga-trans">CONFORMAR LA COMISION PARA EL RECONOCIMIENTO DE PERSONALIDADES E INSTITUCIONES quienes se encargaran de identificar, evaluar, calificar y hacer el reconocimiento</p>
        </div>
        <div class="col-12 col-md-3 col-lg-2">
          <button class="btn btn-descargar-fondo py-0">Descargar</button>
        </div>
      </div>
    </div>
    <div class="col-12 mb-5 mb-md-3">
      <div class="row m-0">
        <div class="col-12 col-md-9 col-lg-10">
          <p class="color-letra-descarga-trans">DESIGNAR FUNCIONARIO RESPONSABLE DEL PORTAL DE TRANSPARENCIA DE LA DIRCETUR, quien se encargara de cumplir con el reglamento, de transparencia y acceso a la información publica</p>
        </div>
        <div class="col-12 col-md-3 col-lg-2">
          <button class="btn btn-descargar-fondo py-0">Descargar</button>
        </div>
      </div>
    </div>
    <div class="col-12 mb-5 mb-md-3">
      <div class="row m-0">
        <div class="col-12 col-md-9 col-lg-10">
          <p class="color-letra-descarga-trans">Expresar el RECONOCIMIENTO a la Hermandad de la Esclavitud de Nuestra Señora de la Almudena, por conmemorar los cincuenta años de vida institucional y saludo de felicitación de la DIRCETUR del GORE Cusco</p>
        </div>
        <div class="col-12 col-md-3 col-lg-2">
          <button class="btn btn-descargar-fondo py-0">Descargar</button>
        </div>
      </div>
    </div>
    <div class="col-12 mb-5 mb-md-3">
      <div class="row m-0">
        <div class="col-12 col-md-9 col-lg-10">
          <p class="color-letra-descarga-trans">DESIGNAR FUNCIONARIO RESPONSABLE DEL PORTAL DE TRANSPARENCIA DE LA DIRCETUR, quien se encargara de cumplir con el reglamento, de transparencia y acceso a la información publica</p>
        </div>
        <div class="col-12 col-md-3 col-lg-2">
          <button class="btn btn-descargar-fondo py-0">Descargar</button>
        </div>
      </div>
    </div>
    <div class="col-12 mb-5 mb-md-3">
      <div class="row m-0">
        <div class="col-12 col-md-9 col-lg-10">
          <p class="color-letra-descarga-trans">Expresar el RECONOCIMIENTO a la Hermandad de la Esclavitud de Nuestra Señora de la Almudena, por conmemorar los cincuenta años de vida institucional y saludo de felicitación de la DIRCETUR del GORE Cusco</p>
        </div>
        <div class="col-12 col-md-3 col-lg-2">
          <button class="btn btn-descargar-fondo py-0">Descargar</button>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
