.color-blanco{
	color: #fff;
}

.color-azul{
	color: #3E729A; 
}

.fondo-azul{
	background-color: #3E729A;
}
.fondo-rojo{
	background-color: #EC494B;
}
.titulo-subtitulo-viaje{
	font-family: Black 56px/67px Avenir;
	font-weight: 700;
	font-size: 35px;
}
.texto-general{
	font-family: Light 28px/36px Avenir;
	font-weight: 300;
}
.altitu-texto{
	font-family:Light 24px/33px Avenir;
	font-weight: 300;
}

.weight-grueso{
	font-weight: 800;
}
.weight-delgado{
	font-weight: 300;
}


#columnas-7{
	column-count: 7;
}
.color-81{
	color: #818181;
    opacity: 1;
}
.subtitulo-intenerario{
   color: #656565;
   font-family:Light 44px/45px Avenir;
   letter-spacing: 0.75px;
   font-weight: 400;
}
#fondo-detalle{
	background-color: #F1F1F1;
}
.subtitulo-turi-ruta{
	font-family: Light 44px/53px Avenir;
	font-weight: 300;
}
.texto-ruta-turi{
	font-family:  Book 22px/32px Avenir;
	font-weight: 300;
}
.color-05{
	color: #505050;
}
#verificar-text{
	font-family:Light 44px/45px Avenir;
	font-weight: 700;
}
input[type=number]::-webkit-inner-spin-button {

    -webkit-appearance: none;

    margin: 0;

}
#input-number{
	width: 100%;
	color: #8B8B8B;
	border-radius: 10px;
	box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #A8A8A8;
    font-family:  Light 24px/33px Avenir;
}
@media(min-width: 568px){
	#input-number{
		width: 50%;
	}
}
@media(min-width: 768px){
	#input-number{
		width: 100%;
	}
}
#input-number:focus{
	outline: none;
}
::placeholder { color: #8B8B8B; }
.btn-radius{
	border-radius: 17px;
}
.cuadro-derecha{
	height: 30rem;
}
.altura-bajar{
	height: 50%;
	margin-top: 6rem;
	background-color: #fff;
}
.interloineado{
	line-height: 1.2;
}
.letra-font{
	font-size: 0.9375rem;
}
/*.text-descripcion-circuito{
	
	}*/

@media(min-width: 1280px){
	.text-descripcion-circuito{
		display: -webkit-box;
		-webkit-line-clamp: 6;
		-webkit-box-orient: vertical;
		overflow: hidden;/*si no se declara a単ade los ... pero muestra todo el texto*/
		}
}
@media(min-width: 1366px){
	.text-descripcion-circuito{
		display: -webkit-box;
		-webkit-line-clamp: 6;
		-webkit-box-orient: vertical;
		overflow: hidden;/*si no se declara a単ade los ... pero muestra todo el texto*/
		}
}

@media(min-width: 1280px){
	.text-descripcion-viaje{
		display: -webkit-box;
		-webkit-line-clamp: 7;
		-webkit-box-orient: vertical;
		overflow: hidden;/*si no se declara a単ade los ... pero muestra todo el texto*/
	}
	.height-azul-slider{
		height: 457px;
	}
}
@media(min-width: 1366px){
	.text-descripcion-viaje{
		display: -webkit-box;
		-webkit-line-clamp: 6;
		-webkit-box-orient: vertical;
		overflow: hidden;/*si no se declara a単ade los ... pero muestra todo el texto*/
	}
	.height-azul-slider{
		height: 455px;
	}
}