
<section class="titulo-phone">
<div class="container-fluid px-0">
    <div class="row m-0">
    <div class="col-lg-4 px-0 order-2 order-lg-0">
        <img src="assets/imagenes/andres.jpg" width="100%" height="100%">
    </div>
    <div class="col-12 col-lg-8 fondo-azul-artesania px-0 px-sm-5 py-5 text-center text-lg-left">
        <div class="row m-0">
        <div class="col-12 col-lg-10 color-blanco-artesania py-5 py-lg-0">
            <h1 class="titulo-artesania mt-5">Dirección<span class="subtitulo-artesania"> Artesania</span></h1>
            <p class="texto-artesania mt-4">Formular, proponer, ejecutar, evaluar y controlar las políticas en materia de desarrollo de la artesanía, en concordancia con la política general del gobierno, los planes sectoriales y las políticas de desarrollo regional. Planificar concertadamente y ejecutar el desarrollo de la actividad artesanal de la región, mediante el aprovechamiento de las potencialidades regionales. Fomentar, desarrollar y ejecutar proyectos, programas u otros mecanismos para promover la competitividad y productividad de la actividad artesanal en la región, con la participación de entidades públicas y privadas.</p>
        </div>
        </div>
    </div>
    </div>
</div>
</section>
<section>
<div class="container-fluid py-5 mb-5 mt-3">
    <div class="row m-0">
    <div class="col-12 text-center color-65-artesania">
        <h2 class="mb-0 subtitulo-general">Para que</h2>
        <h3 class="subtitulo-pequeño-general">Inscribirme</h3>
    </div>
    <div class="col-12 color-81-artesania mt-5">
        <div class="row m-0">
        <div class="col-sm-4 col-lg-2 text-center mb-3 mb-lg-0">
            <div class="w-100 px-2">
            <img class="img-in-altura mb-2" src="assets/imagenes/icono-in-2.png">
            <h5 class="subtitulo-incribir mb-0"><small>Protección y asesoramiento legal</small></h5>
            </div>
        </div>
        <div class="col-sm-4 col-lg-2 text-center mb-3 mb-lg-0">
            <div class="w-100 px-2">
            <img class="img-in-altura mb-2" src="assets/imagenes/icono-in-5.png">
            <h5 class="subtitulo-incribir mb-0"><small>Capacitaciones profesionales</small></h5>
            </div>
        </div>
        <div class="col-sm-4 col-lg-2 text-center mb-3 mb-lg-0">
            <div class="w-100 px-2">
            <img class="img-in-altura mb-2" src="assets/imagenes/icono-in-1.png">
            <h5 class="subtitulo-incribir mb-0"><small>Forma parte de la base de datos RNA</small></h5>
            </div>
        </div>
        <div class="col-sm-4 col-lg-2 text-center mb-3 mb-lg-0">
            <div class="w-100 px-2">
            <img class="img-in-altura mb-2" src="assets/imagenes/icono-in-6.png">
            <h5 class="subtitulo-incribir mb-0"><small>Accede al mercado (ferias, pasantías y mas)</small></h5>
            </div>
        </div>
        <div class="col-sm-4 col-lg-2 text-center mb-3 mb-lg-0">
            <div class="w-100 px-2">
            <img class="img-in-altura mb-2" src="assets/imagenes/icono-in-4.png">
            <h5 class="subtitulo-incribir mb-0"><small>Reconocimiento nacional como artesano</small></h5>
            </div>
        </div>
        <div class="col-sm-4 col-lg-2 text-center mb-3 mb-lg-0">
            <div class="w-100 px-2">
                <img class="img-in-altura mb-2" src="assets/imagenes/icono-in-3.png">
                <h5 class="subtitulo-incribir mb-0"><small>Información</small></h5>
            </div>
        </div>
        </div>
    </div>
    </div>
</div>
</section>

<section>
<div class="container-fluid">
    <div class="row m-0">
    <div class="col-12 color-65-artesania text-center">
        <h2 class="subtitulo-general mb-0">Servicios</h2>
        <h3 class="subtitulo-pequeño-general">al agremiado</h3>
    </div>
    <div class="col-12 text-center my-5">
        <div class="row m-0">
        <div class="col-sm-6 col-md-4 mb-4">
            <h6><small class="subtitulo-azul-artesania color-zul-artesania">CURSOS Y TALLERES DE CAPACITACION</small></h6>
            <p class="px-lg-5 texto-artesania colo-22 entre-espaciados-artesania">Brindar asistencia técnica mediante cursos capacitación para el fortalecimiento de las habilidades y técnicas del artesano.</p>
        </div>
        <div class="col-sm-6 col-md-4 mb-4">
            <h6><small class="subtitulo-azul-artesania color-zul-artesania">PASANTIAS</small></h6>
            <p class="px-lg-5 texto-artesania colo-22 entre-espaciados-artesania">Garantizar el intercambio de técnicas conocimientos y experiencias, que faciliten el desarrollo artesanal de manera conjunta con distintas entidades a nivel local y regional.</p>
        </div>
            <div class="col-sm-6 col-md-4 mb-4">
            <h6><small class="subtitulo-azul-artesania color-zul-artesania">PROMOCION Y DIFUSION</small></h6>
            <p class="px-lg-5 texto-artesania colo-22 entre-espaciados-artesania">Que comprende la utilización de los medios de comunicación social, impresos, merchandising, para la actividad artesanal.</p>
            </div>
            <div class="col-sm-6 col-md-4 mb-4">
            <h6><small class="subtitulo-azul-artesania color-zul-artesania">CONCURSOS REGIONALES</small></h6>
            <p class="px-lg-5 texto-artesania colo-22 entre-espaciados-artesania">Reconocimiento de los artesanos de la región del Cusco, reconoce y valora el talento, competitividad y la creatividad del artesano, aporta en la conservación de la tradición artesanal de la Región mediante sus obras hechas a mano.</p>
            </div>
            <div class="col-sm-6 col-md-4 mb-4">
            <h6><small class="subtitulo-azul-artesania color-zul-artesania">EXPOSICIONES Y FERIAS</small></h6>
            <p class="px-lg-5 texto-artesania colo-22 entre-espaciados-artesania">Gestiona la participación de artesanos y asociaciones de artesanos, en eventos de índole comercial o cultural relacionados al sector artesanal, como una herramienta de articulación comercial.</p>
            </div>
            <div class="col-sm-6 col-md-4 mb-4">
            <h6><small class="subtitulo-azul-artesania color-zul-artesania">FERIAS Y EVENTOS</small></h6>
            <p class="px-lg-5 texto-artesania colo-22 entre-espaciados-artesania">Organización y realización de ferias, orientado a la exposición venta de los productos de los artesanos, asociaciones y empresas artesanales, con la finalidad de promover el crecimiento y desarrollo económico de los artesanos en la región Cusco.</p>
            </div>
        </div>
        </div>
    </div>
</div>
</section>

<section>
<div class="container-fluid px-0">
    <div class="row m-0">
    <div class="col-12 col-lg-4 px-0 order-2 order-lg-0">
        <img src="assets/imagenes/requisito.png" width="100%" height="100%">
    </div>
    <div class="col-12 col-lg-8 fondo-EF-artesania px-sm-5 pt-5">
        <div class="row m-0">
        <div class="col-12 px-0">
            <h4 class="color-65-artesania subtitulo-pequeño-general" style="font-weight: 400">Como me inscribo</h4>
            <p class="color-65-artesania texto-artesania mt-4">A través del Registro Nacional del Artesano (RNA): que es un servicio ofrecido por el Estado Peruano con el fin de brindar a los artesanos, sean personas naturales o jurídicas, un elemento de identificación y reconocimiento de su desempeño en la actividad artesanal, la inscripción es GRATUITA</p>
        </div>
        <div class="col-12 px-0 color-65-artesania">
            <h6><small class="ins-re-artesania">Donde inscribirse</small></h6>
            <p>En La Dirección de Artesanía – DIRCETUR CUSCO.<br> Plaza Túpac Amaru Mz. Lote 2, Wanchaq, Cusco, Tercer Piso.<br><br>A través del Portal Web <a class="color-65-artesania" href="">http://www.artesaniasdelperu.gob.pe</a></p>
        </div>
        <div class="col-12 px-0">
            <h6><small class="ins-re-artesania color-65-artesania">Requisto</small></h6>
            <div class="row m-0">
            <div class="col-md-4 px-0">
                <button class="btn btn-requesitos-artesania px-0">
                    Empresas artesanales
                </button>
            </div>
            <div class="col-md-4 px-0">
                <button class="btn btn-requesitos-artesania px-0">
                    Personas Naturales
                </button>
            </div>
            <div class="col-md-4 px-0">
                <button class="btn btn-requesitos-artesania px-0">
                    Asociaciones de Artesanos
                </button>
            </div>
            </div>
        </div>
        <div class="col-12 color-65-artesania mt-2">
            <ul>
            <li>FORMATO DE REGISTRO NACIONAL DEL ARTESANO (Declaración Jurada)</li>
            <li>Fotocopia DNI ampliada</li>
            </ul>
        </div>
        <div class="col-12 px-0 text-center text-lg-right my-4">
            <a class="btn btn-descargar-artesania py-1 text-center px-4" href="#" role="button">Descargar ficha de inscripción ></a>
        </div>
        </div>
    </div>
    </div>
</div>
</section>

<section>
<div class="container-fluid px-lg-5 py-4 py-sm-5 my-sm-5">
    <div class="row m-0">
    <div class="col-sm-6 col-lg-7 pl-lg-5 pr-lg-0 order-2 order-sm-0 text-center text-sm-left">
        <p class="texto-artesania color-81-artesania">El Registro Nacional del Artesano, es un servicio que presta el Estado Peruano con el fin de brindar a los artesanos, sean personas naturales o jurídicas, un elemento de identificación y reconocimiento de su desempeño en la actividad artesanal.</p>
        <a class="btn btn-ingresar-artesania py-1 text-center px-4" href="#" role="button">Ingresar</a>
    </div>
    <div class="col-sm-6 col-lg-4 color-65-artesania pr-lg-5 text-center mb-4 mb-sm-0">
        <h2 class="subtitulo-general mb-0">Registro Nacional</h2>
        <h3 class="subtitulo-pequeño-general mb-0">del Artesano (RNA)</h3>
        <img src="assets/imagenes/flechaizq.jpg" width="60%">
    </div>
    </div>
</div>
</section>

<section id="fondo-lineas">
<div class="container-fluid px-1 px-sm-5 py-5" id="fondo-negro">
    <div class="row m-0">
    <div class="col-lg-6 color-blanco-artesania pl-lg-5 mt-lg-5">
    <div class="row m-0">
        <div class="col-lg-5 text-center">
        <h2 class="subtitulo-general mb-0">Lineas</h2>
        <h3 class="subtitulo-pequeño-general mb-0">Artesanales</h3>
        <img src="assets/imagenes/arrow.png" width="100%">
        </div>
        <div class="col-12">
        <p class="texto-artesania mt-4 mb-5">La artesanía y la utilización de recursos naturales que generosamente brinda la naturaleza, son manejados adecuadamente, tratando de proteger y preservar cada una de las especies por que por ella se sustenta el futuro en la artesanía. Los artesanos con su capacidad creativa ven reflejados nuevos productos originales manifestando culturalmente sus líneas artesanales.</p>
        </div>
    </div>
    </div> 
    </div>
</div>
</section>

<section>
<div class="container-fluid px-0">
    <div class="row m-0">
    <div class="col-sm-6 col-md-4 col-lg-3 px-0" style="height: 196px">
        <div class="position-relative color-blanco-artesania" style="height: 100%">
        <img src="assets/imagenes/catalogo1.png" width="100%" height="100%">
        <p class="text-uppercase text-center subtitulos-catalogos px-lg-5 mb-4">Trabajos en cuero y pieles</p>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 px-0" style="height: 196px">
        <div class="position-relative color-blanco-artesania" style="height: 100%">
        <img src="assets/imagenes/catalogo2.png" width="100%" height="100%">
        <p class="text-uppercase text-center subtitulos-catalogos px-lg-5 mb-4">Trabajos en cuero y pieles</p>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 px-0" style="height: 196px">
        <div class="position-relative color-blanco-artesania" style="height: 100%">
        <img src="assets/imagenes/catalogo3.png" width="100%" height="100%">
        <p class="text-uppercase text-center subtitulos-catalogos px-lg-5 mb-4">Trabajos en cuero y pieles</p>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 px-0" style="height: 196px">
        <div class="position-relative color-blanco-artesania" style="height: 100%">
        <img src="assets/imagenes/catalogo4.png" width="100%" height="100%">
        <p class="text-uppercase text-center subtitulos-catalogos px-lg-5 mb-4">Trabajos en cuero y pieles</p>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 px-0" style="height: 196px">
        <div class="position-relative color-blanco-artesania" style="height: 100%">
        <img src="assets/imagenes/catalogo5.png" width="100%" height="100%">
        <p class="text-uppercase text-center subtitulos-catalogos px-lg-5 mb-4">Trabajos en cuero y pieles</p>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 px-0" style="height: 196px">
        <div class="position-relative color-blanco-artesania" style="height: 100%">
        <img src="assets/imagenes/catalogo6.png" width="100%" height="100%">
        <p class="text-uppercase text-center subtitulos-catalogos px-lg-5 mb-4">Trabajos en cuero y pieles</p>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 px-0" style="height: 196px">
        <div class="position-relative color-blanco-artesania" style="height: 100%">
        <img src="assets/imagenes/catalogo7.png" width="100%" height="100%">
        <p class="text-uppercase text-center subtitulos-catalogos px-lg-5 mb-4">Trabajos en cuero y pieles</p>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 px-0" style="height: 196px">
        <div class="position-relative color-blanco-artesania" style="height: 100%">
        <img src="assets/imagenes/catalogo8.png" width="100%" height="100%">
        <p class="text-uppercase text-center subtitulos-catalogos px-lg-5 mb-4">Trabajos en cuero y pieles</p>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 px-0" style="height: 196px">
        <div class="position-relative color-blanco-artesania" style="height: 100%">
        <img src="assets/imagenes/catalogo9.png" width="100%" height="100%">
        <p class="text-uppercase text-center subtitulos-catalogos px-lg-5 mb-4">Trabajos en cuero y pieles</p>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 px-0" style="height: 196px">
        <div class="position-relative color-blanco-artesania" style="height: 100%">
        <img src="assets/imagenes/catalogo10.png" width="100%" height="100%">
        <p class="text-uppercase text-center subtitulos-catalogos px-lg-5 mb-4">Trabajos en cuero y pieles</p>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 px-0" style="height: 196px">
        <div class="position-relative color-blanco-artesania" style="height: 100%">
        <img src="assets/imagenes/catalogo11.png" width="100%" height="100%">
        <p class="text-uppercase text-center subtitulos-catalogos px-lg-5 mb-4">Trabajos en cuero y pieles</p>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 px-0" style="height: 196px">
        <div class="position-relative color-blanco-artesania" style="height: 100%">
        <img src="assets/imagenes/catalogo12.png" width="100%" height="100%">
        <p class="text-uppercase text-center subtitulos-catalogos px-lg-5 mb-4">Trabajos en cuero y pieles</p>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 px-0" style="height: 196px">
        <div class="position-relative color-blanco-artesania" style="height: 100%">
        <img src="assets/imagenes/catalogo13.png" width="100%" height="100%">
        <p class="text-uppercase text-center subtitulos-catalogos px-lg-5 mb-4">Trabajos en cuero y pieles</p>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 px-0" style="height: 196px">
        <div class="position-relative color-blanco-artesania" style="height: 100%">
        <img src="assets/imagenes/catalogo14.png" width="100%" height="100%">
        <p class="text-uppercase text-center subtitulos-catalogos px-lg-5 mb-4">Trabajos en cuero y pieles</p>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 px-0" style="height: 196px">
        <div class="position-relative color-blanco-artesania" style="height: 100%">
        <img src="assets/imagenes/catalogo15.png" width="100%" height="100%">
        <p class="text-uppercase text-center subtitulos-catalogos px-lg-5 mb-4">Trabajos en cuero y pieles</p>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 px-0" style="height: 196px">
        <div class="position-relative color-blanco-artesania" style="height: 100%">
        <img src="assets/imagenes/catalogo16.png" width="100%" height="100%">
        <p class="text-uppercase text-center subtitulos-catalogos px-lg-5 mb-4">Trabajos en cuero y pieles</p>
        </div>
    </div>
    <div class="col-12" style="background-color: #EC494B">
        <div class="row m-0">
        <div class="col-sm-6 col-lg-4 offset-sm-3 offset-lg-4">
            <a class="btn py-0 text-center btn-ver-catalogo py-3 mb-3 mb-sm-5 mt-n2" href="#" role="button">Ver catalogo online ></a>
        </div>
        </div>
    </div>
    </div>
</div>
</section>

<section>
<div class="container-fluid py-5">
    <div class="row m-0">
    <div class="col-12 color-65-artesania text-center">
        <h2 class="subtitulo-general cal-subtitulo">Octubre<span class="subtitulo-pequeño-general">2019</span></h2>
    </div>
    <div class="col-12 px-0 my-3">
        <div class="row m-0">
        <div class="col-4 col-sm-2 col-md-2 col-lg-2 offset-md-1 offset-lg-2 px-0 text-center my-1">
            <div class="pretty p-default p-round">
            <input type="checkbox" />
            <div class="state">
                <label>Todo</label>
            </div>
            </div>
        </div>
        <div class="col-8 col-sm-4 col-md-3 col-lg-2 px-0 text-center my-1">
            <div class="pretty p-default p-round">
            <input type="checkbox" />
            <div class="state">
                <label>Cursos y capacitaciones</label>
            </div>
            </div>
        </div>
        <div class="col-4 col-sm-2 col-md-2 col-lg-2 px-0 text-right text-sm-center my-1">
            <div class="pretty p-default p-round">
            <input type="checkbox" />
            <div class="state">
                <label>Eventos</label>
            </div>
            </div>
        </div>
        <div class="col-8 col-sm-4 col-md-4 col-lg-2 px-0 text-center text-md-left text-lg-center my-1">
            <div class="pretty p-default p-round">
            <input type="checkbox" />
            <div class="state">
                <label>Cursos y capacitaciones</label>
            </div>
            </div>
        </div>
        </div>
    </div>
    <div class="col-12 px-0 my-3">
        <div class="row m-0">
        <div class="col-12 col-md-6 col-lg-4 px-0 px-sm-1 py-1 my-1 animacion1 animacion">
        <div class="row m-0">
            <div class="col-3 text-center color-letra-blanco px-0 alturacol" style="position: absolute;z-index: 1000;">
                <div class="azul-fondo pt-2 pt-lg-3 pt-xl-2 ml-sm-n2" style="box-shadow: 0px 3px 6px #0000004B;">
                <p class="numero-mes-font mb-0">04</p>
                <p class="letra-mes-font mt-n3">OCT</p>
                </div>
            </div>
            <div class="col-9 ocultar alturacol px-3" style="background: #FFFFFF;box-shadow: 0px 3px 6px #0000004B;">
                <div class="row m-0">
                    <div class="col-12 pt-2 pt-xl-2 px-0 px-sm-2 text-left">
                    <p class="cal-titulo-font mb-0">Virgen de algo</p>
                    <p class="cal-subtitulo-font mb-2">Fiesta patronal</p>
                    </div>
                    <div class="col-12 px-0 px-sm-2 pb-3">
                    <div class="row m-0">
                        <div class="col-5 col-sm-4  col-md-5 col-lg-4 p-0 text-left" style="border-right: 1px solid #A0A0A0">
                        <span class="cal-subtitulo-font"><small><img src="assets/imagenes/icono-img1.png"> Paucartambo</small> </span>
                        </div>
                        <div class="col-4 col-sm-4 col-md-4 col-lg-4 px-0" style="border-right: 1px solid #A0A0A0">
                        <span class="cal-subtitulo-font"><small><img src="assets/imagenes/icono-img2.png"> Popular</small> </span>
                        </div>
                        <div class="col-3 col-sm-4 col-md-3 col-lg-3 px-0">
                        <span class="cal-subtitulo-font"><small><img src="assets/imagenes/icono-img3.png"> 7 am</small> </span>
                        </div>
                    </div>
                    </div>
                </div>
            </div> 
            <div class="col-9 mostar px-0" style="background: #FFFFFF;box-shadow: 0px 3px 6px #0000004B;">
                <div class="row m-0">
                <div class="col-4 px-0 alturacol">
                <img src="assets/imagenes/mes-img1.png" width="100%" height="100%">
                </div>
                <div class="col-8 px-0">
                <div class="row m-0"  >
                    <div class="col-12 pt-2 text-left">
                    <p class="cal-titulo-font mb-0">Virgen de algo</p>
                    <p class="cal-subtitulo-font mb-">Fiesta patronal</p>
                    </div>
                    <div class="col-12 text-right pb-2">
                    <a class="calendario-link-font" href="">Ver mas ></a>
                    </div>
                </div>
            </div> 
                </div>
            </div>
        </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 px-0 px-sm-1 py-1 my-1 animacion1 animacion">
        <div class="row m-0">
            <div class="col-3 text-center color-letra-blanco px-0 alturacol" style="position: absolute;z-index: 1000;">
                <div class="azul-fondo pt-2 pt-lg-3 pt-xl-2 ml-sm-n2" style="box-shadow: 0px 3px 6px #0000004B;">
                <p class="numero-mes-font mb-0">04</p>
                <p class="letra-mes-font mt-n3">OCT</p>
                </div>
            </div>
            <div class="col-9 ocultar alturacol px-3" style="background: #FFFFFF;box-shadow: 0px 3px 6px #0000004B;">
                <div class="row m-0">
                    <div class="col-12 pt-2 pt-xl-2 px-0 px-sm-2 text-left">
                    <p class="cal-titulo-font mb-0">Virgen de algo</p>
                    <p class="cal-subtitulo-font mb-2">Fiesta patronal</p>
                    </div>
                    <div class="col-12 px-0 px-sm-2 pb-3">
                    <div class="row m-0">
                        <div class="col-5 col-sm-4  col-md-5 col-lg-4 p-0 text-left" style="border-right: 1px solid #A0A0A0">
                        <span class="cal-subtitulo-font"><small><img src="assets/imagenes/icono-img1.png"> Paucartambo</small> </span>
                        </div>
                        <div class="col-4 col-sm-4 col-md-4 col-lg-4 px-0" style="border-right: 1px solid #A0A0A0">
                        <span class="cal-subtitulo-font"><small><img src="assets/imagenes/icono-img2.png"> Popular</small> </span>
                        </div>
                        <div class="col-3 col-sm-4 col-md-3 col-lg-3 px-0">
                        <span class="cal-subtitulo-font"><small><img src="assets/imagenes/icono-img3.png"> 7 am</small> </span>
                        </div>
                    </div>
                    </div>
                </div>
            </div> 
            <div class="col-9 mostar px-0" style="background: #FFFFFF;box-shadow: 0px 3px 6px #0000004B;">
                <div class="row m-0">
                <div class="col-4 px-0 alturacol">
                <img src="assets/imagenes/mes-img1.png" width="100%" height="100%">
                </div>
                <div class="col-8 px-0">
                <div class="row m-0"  >
                    <div class="col-12 pt-2 text-left">
                    <p class="cal-titulo-font mb-0">Virgen de algo</p>
                    <p class="cal-subtitulo-font mb-">Fiesta patronal</p>
                    </div>
                    <div class="col-12 text-right pb-2">
                    <a class="calendario-link-font" href="">Ver mas ></a>
                    </div>
                </div>
            </div> 
                </div>
            </div>
        </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 px-0 px-sm-1 py-1 my-1 animacion1 animacion">
        <div class="row m-0">
            <div class="col-3 text-center color-letra-blanco px-0 alturacol" style="position: absolute;z-index: 1000;">
                <div class="azul-fondo pt-2 pt-lg-3 pt-xl-2 ml-sm-n2" style="box-shadow: 0px 3px 6px #0000004B;">
                <p class="numero-mes-font mb-0">04</p>
                <p class="letra-mes-font mt-n3">OCT</p>
                </div>
            </div>
            <div class="col-9 ocultar alturacol px-3" style="background: #FFFFFF;box-shadow: 0px 3px 6px #0000004B;">
                <div class="row m-0">
                    <div class="col-12 pt-2 pt-xl-2 px-0 px-sm-2 text-left">
                    <p class="cal-titulo-font mb-0">Virgen de algo</p>
                    <p class="cal-subtitulo-font mb-2">Fiesta patronal</p>
                    </div>
                    <div class="col-12 px-0 px-sm-2 pb-3">
                    <div class="row m-0">
                        <div class="col-5 col-sm-4  col-md-5 col-lg-4 p-0 text-left" style="border-right: 1px solid #A0A0A0">
                        <span class="cal-subtitulo-font"><small><img src="assets/imagenes/icono-img1.png"> Paucartambo</small> </span>
                        </div>
                        <div class="col-4 col-sm-4 col-md-4 col-lg-4 px-0" style="border-right: 1px solid #A0A0A0">
                        <span class="cal-subtitulo-font"><small><img src="assets/imagenes/icono-img2.png"> Popular</small> </span>
                        </div>
                        <div class="col-3 col-sm-4 col-md-3 col-lg-3 px-0">
                        <span class="cal-subtitulo-font"><small><img src="assets/imagenes/icono-img3.png"> 7 am</small> </span>
                        </div>
                    </div>
                    </div>
                </div>
            </div> 
            <div class="col-9 mostar px-0" style="background: #FFFFFF;box-shadow: 0px 3px 6px #0000004B;">
                <div class="row m-0">
                <div class="col-4 px-0 alturacol">
                <img src="assets/imagenes/mes-img1.png" width="100%" height="100%">
                </div>
                <div class="col-8 px-0">
                <div class="row m-0"  >
                    <div class="col-12 pt-2 text-left">
                    <p class="cal-titulo-font mb-0">Virgen de algo</p>
                    <p class="cal-subtitulo-font mb-">Fiesta patronal</p>
                    </div>
                    <div class="col-12 text-right pb-2">
                    <a class="calendario-link-font" href="">Ver mas ></a>
                    </div>
                </div>
            </div> 
                </div>
            </div>
        </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 px-0 px-sm-1 py-1 my-1 animacion1 animacion">
        <div class="row m-0">
            <div class="col-3 text-center color-letra-blanco px-0 alturacol" style="position: absolute;z-index: 1000;">
                <div class="rojo-calendario pt-2 pt-lg-3 pt-xl-2 ml-sm-n2" style="box-shadow: 0px 3px 6px #0000004B;">
                <p class="numero-mes-font mb-0">04</p>
                <p class="letra-mes-font mt-n3">OCT</p>
                </div>
            </div>
            <div class="col-9 ocultar alturacol px-3" style="background: #FFFFFF;box-shadow: 0px 3px 6px #0000004B;">
                <div class="row m-0">
                    <div class="col-12 pt-2 pt-xl-2 px-0 px-sm-2 text-left">
                    <p class="cal-titulo-font mb-0">Virgen de algo</p>
                    <p class="cal-subtitulo-font mb-2">Fiesta patronal</p>
                    </div>
                    <div class="col-12 px-0 px-sm-2 pb-3">
                    <div class="row m-0">
                        <div class="col-5 col-sm-4  col-md-5 col-lg-4 p-0 text-left" style="border-right: 1px solid #A0A0A0">
                        <span class="cal-subtitulo-font"><small><img src="assets/imagenes/icono-img1.png"> Paucartambo</small> </span>
                        </div>
                        <div class="col-4 col-sm-4 col-md-4 col-lg-4 px-0" style="border-right: 1px solid #A0A0A0">
                        <span class="cal-subtitulo-font"><small><img src="assets/imagenes/icono-img2.png"> Popular</small> </span>
                        </div>
                        <div class="col-3 col-sm-4 col-md-3 col-lg-3 px-0">
                        <span class="cal-subtitulo-font"><small><img src="assets/imagenes/icono-img3.png"> 7 am</small> </span>
                        </div>
                    </div>
                    </div>
                </div>
            </div> 
            <div class="col-9 mostar px-0" style="background: #FFFFFF;box-shadow: 0px 3px 6px #0000004B;">
                <div class="row m-0">
                <div class="col-4 px-0 alturacol">
                <img src="assets/imagenes/mes-img1.png" width="100%" height="100%">
                </div>
                <div class="col-8 px-0">
                <div class="row m-0"  >
                    <div class="col-12 pt-2 text-left">
                    <p class="cal-titulo-font mb-0">Virgen de algo</p>
                    <p class="cal-subtitulo-font mb-">Fiesta patronal</p>
                    </div>
                    <div class="col-12 text-right pb-2">
                    <a class="calendario-link-font" href="">Ver mas ></a>
                    </div>
                </div>
            </div> 
                </div>
            </div>
        </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 px-0 px-sm-1 py-1 my-1 animacion1 animacion">
        <div class="row m-0">
            <div class="col-3 text-center color-letra-blanco px-0 alturacol" style="position: absolute;z-index: 1000;">
                <div class="rojo-calendario pt-2 pt-lg-3 pt-xl-2 ml-sm-n2" style="box-shadow: 0px 3px 6px #0000004B;">
                <p class="numero-mes-font mb-0">04</p>
                <p class="letra-mes-font mt-n3">OCT</p>
                </div>
            </div>
            <div class="col-9 ocultar alturacol px-3" style="background: #FFFFFF;box-shadow: 0px 3px 6px #0000004B;">
                <div class="row m-0">
                    <div class="col-12 pt-2 pt-xl-2 px-0 px-sm-2 text-left">
                    <p class="cal-titulo-font mb-0">Virgen de algo</p>
                    <p class="cal-subtitulo-font mb-2">Fiesta patronal</p>
                    </div>
                    <div class="col-12 px-0 px-sm-2 pb-3">
                    <div class="row m-0">
                        <div class="col-5 col-sm-4  col-md-5 col-lg-4 p-0 text-left" style="border-right: 1px solid #A0A0A0">
                        <span class="cal-subtitulo-font"><small><img src="assets/imagenes/icono-img1.png"> Paucartambo</small> </span>
                        </div>
                        <div class="col-4 col-sm-4 col-md-4 col-lg-4 px-0" style="border-right: 1px solid #A0A0A0">
                        <span class="cal-subtitulo-font"><small><img src="assets/imagenes/icono-img2.png"> Popular</small> </span>
                        </div>
                        <div class="col-3 col-sm-4 col-md-3 col-lg-3 px-0">
                        <span class="cal-subtitulo-font"><small><img src="assets/imagenes/icono-img3.png"> 7 am</small> </span>
                        </div>
                    </div>
                    </div>
                </div>
            </div> 
            <div class="col-9 mostar px-0" style="background: #FFFFFF;box-shadow: 0px 3px 6px #0000004B;">
                <div class="row m-0">
                <div class="col-4 px-0 alturacol">
                <img src="assets/imagenes/mes-img1.png" width="100%" height="100%">
                </div>
                <div class="col-8 px-0">
                <div class="row m-0"  >
                    <div class="col-12 pt-2 text-left">
                    <p class="cal-titulo-font mb-0">Virgen de algo</p>
                    <p class="cal-subtitulo-font mb-">Fiesta patronal</p>
                    </div>
                    <div class="col-12 text-right pb-2">
                    <a class="calendario-link-font" href="">Ver mas ></a>
                    </div>
                </div>
            </div> 
                </div>
            </div>
        </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 px-0 px-sm-1 py-1 my-1 animacion1 animacion">
        <div class="row m-0">
            <div class="col-3 text-center color-letra-blanco px-0 alturacol" style="position: absolute;z-index: 1000;">
                <div class="rojo-calendario pt-2 pt-lg-3 pt-xl-2 ml-sm-n2" style="box-shadow: 0px 3px 6px #0000004B;">
                <p class="numero-mes-font mb-0">04</p>
                <p class="letra-mes-font mt-n3">OCT</p>
                </div>
            </div>
            <div class="col-9 ocultar alturacol px-3" style="background: #FFFFFF;box-shadow: 0px 3px 6px #0000004B;">
                <div class="row m-0">
                    <div class="col-12 pt-2 pt-xl-2 px-0 px-sm-2 text-left">
                    <p class="cal-titulo-font mb-0">Virgen de algo</p>
                    <p class="cal-subtitulo-font mb-2">Fiesta patronal</p>
                    </div>
                    <div class="col-12 px-0 px-sm-2 pb-3">
                    <div class="row m-0">
                        <div class="col-5 col-sm-4  col-md-5 col-lg-4 p-0 text-left" style="border-right: 1px solid #A0A0A0">
                        <span class="cal-subtitulo-font"><small><img src="assets/imagenes/icono-img1.png"> Paucartambo</small> </span>
                        </div>
                        <div class="col-4 col-sm-4 col-md-4 col-lg-4 px-0" style="border-right: 1px solid #A0A0A0">
                        <span class="cal-subtitulo-font"><small><img src="assets/imagenes/icono-img2.png"> Popular</small> </span>
                        </div>
                        <div class="col-3 col-sm-4 col-md-3 col-lg-3 px-0">
                        <span class="cal-subtitulo-font"><small><img src="assets/imagenes/icono-img3.png"> 7 am</small> </span>
                        </div>
                    </div>
                    </div>
                </div>
            </div> 
            <div class="col-9 mostar px-0" style="background: #FFFFFF;box-shadow: 0px 3px 6px #0000004B;">
                <div class="row m-0">
                <div class="col-4 px-0 alturacol">
                <img src="assets/imagenes/mes-img1.png" width="100%" height="100%">
                </div>
                <div class="col-8 px-0">
                <div class="row m-0"  >
                    <div class="col-12 pt-2 text-left">
                    <p class="cal-titulo-font mb-0">Virgen de algo</p>
                    <p class="cal-subtitulo-font mb-">Fiesta patronal</p>
                    </div>
                    <div class="col-12 text-right pb-2">
                    <a class="calendario-link-font" href="">Ver mas ></a>
                    </div>
                </div>
            </div> 
                </div>
            </div>
        </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 px-0 px-sm-1 py-1 my-1 animacion1 animacion">
        <div class="row m-0">
            <div class="col-3 text-center color-letra-blanco px-0 alturacol" style="position: absolute;z-index: 1000;">
                <div class="azul-fondo pt-2 pt-lg-3 pt-xl-2 ml-sm-n2" style="box-shadow: 0px 3px 6px #0000004B;">
                <p class="numero-mes-font mb-0">04</p>
                <p class="letra-mes-font mt-n3">OCT</p>
                </div>
            </div>
            <div class="col-9 ocultar alturacol px-3" style="background: #FFFFFF;box-shadow: 0px 3px 6px #0000004B;">
                <div class="row m-0">
                    <div class="col-12 pt-2 pt-xl-2 px-0 px-sm-2 text-left">
                    <p class="cal-titulo-font mb-0">Virgen de algo</p>
                    <p class="cal-subtitulo-font mb-2">Fiesta patronal</p>
                    </div>
                    <div class="col-12 px-0 px-sm-2 pb-3">
                    <div class="row m-0">
                        <div class="col-5 col-sm-4  col-md-5 col-lg-4 p-0 text-left" style="border-right: 1px solid #A0A0A0">
                        <span class="cal-subtitulo-font"><small><img src="assets/imagenes/icono-img1.png"> Paucartambo</small> </span>
                        </div>
                        <div class="col-4 col-sm-4 col-md-4 col-lg-4 px-0" style="border-right: 1px solid #A0A0A0">
                        <span class="cal-subtitulo-font"><small><img src="assets/imagenes/icono-img2.png"> Popular</small> </span>
                        </div>
                        <div class="col-3 col-sm-4 col-md-3 col-lg-3 px-0">
                        <span class="cal-subtitulo-font"><small><img src="assets/imagenes/icono-img3.png"> 7 am</small> </span>
                        </div>
                    </div>
                    </div>
                </div>
            </div> 
            <div class="col-9 mostar px-0" style="background: #FFFFFF;box-shadow: 0px 3px 6px #0000004B;">
                <div class="row m-0">
                <div class="col-4 px-0 alturacol">
                <img src="assets/imagenes/mes-img1.png" width="100%" height="100%">
                </div>
                <div class="col-8 px-0">
                <div class="row m-0"  >
                    <div class="col-12 pt-2 text-left">
                    <p class="cal-titulo-font mb-0">Virgen de algo</p>
                    <p class="cal-subtitulo-font mb-">Fiesta patronal</p>
                    </div>
                    <div class="col-12 text-right pb-2">
                    <a class="calendario-link-font" href="">Ver mas ></a>
                    </div>
                </div>
            </div> 
                </div>
            </div>
        </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 px-0 px-sm-1 py-1 my-1 animacion1 animacion">
        <div class="row m-0">
            <div class="col-3 text-center color-letra-blanco px-0 alturacol" style="position: absolute;z-index: 1000;">
                <div class="azul-fondo pt-2 pt-lg-3 pt-xl-2 ml-sm-n2" style="box-shadow: 0px 3px 6px #0000004B;">
                <p class="numero-mes-font mb-0">04</p>
                <p class="letra-mes-font mt-n3">OCT</p>
                </div>
            </div>
            <div class="col-9 ocultar alturacol px-3" style="background: #FFFFFF;box-shadow: 0px 3px 6px #0000004B;">
                <div class="row m-0">
                    <div class="col-12 pt-2 pt-xl-2 px-0 px-sm-2 text-left">
                    <p class="cal-titulo-font mb-0">Virgen de algo</p>
                    <p class="cal-subtitulo-font mb-2">Fiesta patronal</p>
                    </div>
                    <div class="col-12 px-0 px-sm-2 pb-3">
                    <div class="row m-0">
                        <div class="col-5 col-sm-4  col-md-5 col-lg-4 p-0 text-left" style="border-right: 1px solid #A0A0A0">
                        <span class="cal-subtitulo-font"><small><img src="assets/imagenes/icono-img1.png"> Paucartambo</small> </span>
                        </div>
                        <div class="col-4 col-sm-4 col-md-4 col-lg-4 px-0" style="border-right: 1px solid #A0A0A0">
                        <span class="cal-subtitulo-font"><small><img src="assets/imagenes/icono-img2.png"> Popular</small> </span>
                        </div>
                        <div class="col-3 col-sm-4 col-md-3 col-lg-3 px-0">
                        <span class="cal-subtitulo-font"><small><img src="assets/imagenes/icono-img3.png"> 7 am</small> </span>
                        </div>
                    </div>
                    </div>
                </div>
            </div> 
            <div class="col-9 mostar px-0" style="background: #FFFFFF;box-shadow: 0px 3px 6px #0000004B;">
                <div class="row m-0">
                <div class="col-4 px-0 alturacol">
                <img src="assets/imagenes/mes-img1.png" width="100%" height="100%">
                </div>
                <div class="col-8 px-0">
                <div class="row m-0"  >
                    <div class="col-12 pt-2 text-left">
                    <p class="cal-titulo-font mb-0">Virgen de algo</p>
                    <p class="cal-subtitulo-font mb-">Fiesta patronal</p>
                    </div>
                    <div class="col-12 text-right pb-2">
                    <a class="calendario-link-font" href="">Ver mas ></a>
                    </div>
                </div>
            </div> 
                </div>
            </div>
        </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 px-0 px-sm-1 py-1 my-1 animacion1 animacion">
        <div class="row m-0">
            <div class="col-3 text-center color-letra-blanco px-0 alturacol" style="position: absolute;z-index: 1000;">
                <div class="azul-fondo pt-2 pt-lg-3 pt-xl-2 ml-sm-n2" style="box-shadow: 0px 3px 6px #0000004B;">
                <p class="numero-mes-font mb-0">04</p>
                <p class="letra-mes-font mt-n3">OCT</p>
                </div>
            </div>
            <div class="col-9 ocultar alturacol px-3" style="background: #FFFFFF;box-shadow: 0px 3px 6px #0000004B;">
                <div class="row m-0">
                    <div class="col-12 pt-2 pt-xl-2 px-0 px-sm-2 text-left">
                    <p class="cal-titulo-font mb-0">Virgen de algo</p>
                    <p class="cal-subtitulo-font mb-2">Fiesta patronal</p>
                    </div>
                    <div class="col-12 px-0 px-sm-2 pb-3">
                    <div class="row m-0">
                        <div class="col-5 col-sm-4  col-md-5 col-lg-4 p-0 text-left" style="border-right: 1px solid #A0A0A0">
                        <span class="cal-subtitulo-font"><small><img src="assets/imagenes/icono-img1.png"> Paucartambo</small> </span>
                        </div>
                        <div class="col-4 col-sm-4 col-md-4 col-lg-4 px-0" style="border-right: 1px solid #A0A0A0">
                        <span class="cal-subtitulo-font"><small><img src="assets/imagenes/icono-img2.png"> Popular</small> </span>
                        </div>
                        <div class="col-3 col-sm-4 col-md-3 col-lg-3 px-0">
                        <span class="cal-subtitulo-font"><small><img src="assets/imagenes/icono-img3.png"> 7 am</small> </span>
                        </div>
                    </div>
                    </div>
                </div>
            </div> 
            <div class="col-9 mostar px-0" style="background: #FFFFFF;box-shadow: 0px 3px 6px #0000004B;">
                <div class="row m-0">
                <div class="col-4 px-0 alturacol">
                <img src="assets/imagenes/mes-img1.png" width="100%" height="100%">
                </div>
                <div class="col-8 px-0">
                <div class="row m-0"  >
                    <div class="col-12 pt-2 text-left">
                    <p class="cal-titulo-font mb-0">Virgen de algo</p>
                    <p class="cal-subtitulo-font mb-">Fiesta patronal</p>
                    </div>
                    <div class="col-12 text-right pb-2">
                    <a class="calendario-link-font" href="">Ver mas ></a>
                    </div>
                </div>
            </div> 
                </div>
            </div>
        </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 px-0 px-sm-1 py-1 my-1 animacion1 animacion">
        <div class="row m-0">
            <div class="col-3 text-center color-letra-blanco px-0 alturacol" style="position: absolute;z-index: 1000;">
                <div class="rojo-calendario pt-2 pt-lg-3 pt-xl-2 ml-sm-n2" style="box-shadow: 0px 3px 6px #0000004B;">
                <p class="numero-mes-font mb-0">04</p>
                <p class="letra-mes-font mt-n3">OCT</p>
                </div>
            </div>
            <div class="col-9 ocultar alturacol px-3" style="background: #FFFFFF;box-shadow: 0px 3px 6px #0000004B;">
                <div class="row m-0">
                    <div class="col-12 pt-2 pt-xl-2 px-0 px-sm-2 text-left">
                    <p class="cal-titulo-font mb-0">Virgen de algo</p>
                    <p class="cal-subtitulo-font mb-2">Fiesta patronal</p>
                    </div>
                    <div class="col-12 px-0 px-sm-2 pb-3">
                    <div class="row m-0">
                        <div class="col-5 col-sm-4  col-md-5 col-lg-4 p-0 text-left" style="border-right: 1px solid #A0A0A0">
                        <span class="cal-subtitulo-font"><small><img src="assets/imagenes/icono-img1.png"> Paucartambo</small> </span>
                        </div>
                        <div class="col-4 col-sm-4 col-md-4 col-lg-4 px-0" style="border-right: 1px solid #A0A0A0">
                        <span class="cal-subtitulo-font"><small><img src="assets/imagenes/icono-img2.png"> Popular</small> </span>
                        </div>
                        <div class="col-3 col-sm-4 col-md-3 col-lg-3 px-0">
                        <span class="cal-subtitulo-font"><small><img src="assets/imagenes/icono-img3.png"> 7 am</small> </span>
                        </div>
                    </div>
                    </div>
                </div>
            </div> 
            <div class="col-9 mostar px-0" style="background: #FFFFFF;box-shadow: 0px 3px 6px #0000004B;">
                <div class="row m-0">
                <div class="col-4 px-0 alturacol">
                <img src="assets/imagenes/mes-img1.png" width="100%" height="100%">
                </div>
                <div class="col-8 px-0">
                <div class="row m-0"  >
                    <div class="col-12 pt-2 text-left">
                    <p class="cal-titulo-font mb-0">Virgen de algo</p>
                    <p class="cal-subtitulo-font mb-">Fiesta patronal</p>
                    </div>
                    <div class="col-12 text-right pb-2">
                    <a class="calendario-link-font" href="">Ver mas ></a>
                    </div>
                </div>
            </div> 
                </div>
            </div>
        </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 px-0 px-sm-1 py-1 my-1 animacion1 animacion">
        <div class="row m-0">
            <div class="col-3 text-center color-letra-blanco px-0 alturacol" style="position: absolute;z-index: 1000;">
                <div class="rojo-calendario pt-2 pt-lg-3 pt-xl-2 ml-sm-n2" style="box-shadow: 0px 3px 6px #0000004B;">
                <p class="numero-mes-font mb-0">04</p>
                <p class="letra-mes-font mt-n3">OCT</p>
                </div>
            </div>
            <div class="col-9 ocultar alturacol px-3" style="background: #FFFFFF;box-shadow: 0px 3px 6px #0000004B;">
                <div class="row m-0">
                    <div class="col-12 pt-2 pt-xl-2 px-0 px-sm-2 text-left">
                    <p class="cal-titulo-font mb-0">Virgen de algo</p>
                    <p class="cal-subtitulo-font mb-2">Fiesta patronal</p>
                    </div>
                    <div class="col-12 px-0 px-sm-2 pb-3">
                    <div class="row m-0">
                        <div class="col-5 col-sm-4  col-md-5 col-lg-4 p-0 text-left" style="border-right: 1px solid #A0A0A0">
                        <span class="cal-subtitulo-font"><small><img src="assets/imagenes/icono-img1.png"> Paucartambo</small> </span>
                        </div>
                        <div class="col-4 col-sm-4 col-md-4 col-lg-4 px-0" style="border-right: 1px solid #A0A0A0">
                        <span class="cal-subtitulo-font"><small><img src="assets/imagenes/icono-img2.png"> Popular</small> </span>
                        </div>
                        <div class="col-3 col-sm-4 col-md-3 col-lg-3 px-0">
                        <span class="cal-subtitulo-font"><small><img src="assets/imagenes/icono-img3.png"> 7 am</small> </span>
                        </div>
                    </div>
                    </div>
                </div>
            </div> 
            <div class="col-9 mostar px-0" style="background: #FFFFFF;box-shadow: 0px 3px 6px #0000004B;">
                <div class="row m-0">
                <div class="col-4 px-0 alturacol">
                <img src="assets/imagenes/mes-img1.png" width="100%" height="100%">
                </div>
                <div class="col-8 px-0">
                <div class="row m-0"  >
                    <div class="col-12 pt-2 text-left">
                    <p class="cal-titulo-font mb-0">Virgen de algo</p>
                    <p class="cal-subtitulo-font mb-">Fiesta patronal</p>
                    </div>
                    <div class="col-12 text-right pb-2">
                    <a class="calendario-link-font" href="">Ver mas ></a>
                    </div>
                </div>
            </div> 
                </div>
            </div>
        </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 px-0 px-sm-1 py-1 my-1 animacion1 animacion">
        <div class="row m-0">
            <div class="col-3 text-center color-letra-blanco px-0 alturacol" style="position: absolute;z-index: 1000;">
                <div class="rojo-calendario pt-2 pt-lg-3 pt-xl-2 ml-sm-n2" style="box-shadow: 0px 3px 6px #0000004B;">
                <p class="numero-mes-font mb-0">04</p>
                <p class="letra-mes-font mt-n3">OCT</p>
                </div>
            </div>
            <div class="col-9 ocultar alturacol px-3" style="background: #FFFFFF;box-shadow: 0px 3px 6px #0000004B;">
                <div class="row m-0">
                    <div class="col-12 pt-2 pt-xl-2 px-0 px-sm-2 text-left">
                    <p class="cal-titulo-font mb-0">Virgen de algo</p>
                    <p class="cal-subtitulo-font mb-2">Fiesta patronal</p>
                    </div>
                    <div class="col-12 px-0 px-sm-2 pb-3">
                    <div class="row m-0">
                        <div class="col-5 col-sm-4  col-md-5 col-lg-4 p-0 text-left" style="border-right: 1px solid #A0A0A0">
                        <span class="cal-subtitulo-font"><small><img src="assets/imagenes/icono-img1.png"> Paucartambo</small> </span>
                        </div>
                        <div class="col-4 col-sm-4 col-md-4 col-lg-4 px-0" style="border-right: 1px solid #A0A0A0">
                        <span class="cal-subtitulo-font"><small><img src="assets/imagenes/icono-img2.png"> Popular</small> </span>
                        </div>
                        <div class="col-3 col-sm-4 col-md-3 col-lg-3 px-0">
                        <span class="cal-subtitulo-font"><small><img src="assets/imagenes/icono-img3.png"> 7 am</small> </span>
                        </div>
                    </div>
                    </div>
                </div>
            </div> 
            <div class="col-9 mostar px-0" style="background: #FFFFFF;box-shadow: 0px 3px 6px #0000004B;">
                <div class="row m-0">
                <div class="col-4 px-0 alturacol">
                <img src="assets/imagenes/mes-img1.png" width="100%" height="100%">
                </div>
                <div class="col-8 px-0">
                <div class="row m-0"  >
                    <div class="col-12 pt-2 text-left">
                    <p class="cal-titulo-font mb-0">Virgen de algo</p>
                    <p class="cal-subtitulo-font mb-">Fiesta patronal</p>
                    </div>
                    <div class="col-12 text-right pb-2">
                    <a class="calendario-link-font" href="">Ver mas ></a>
                    </div>
                </div>
            </div> 
                </div>
            </div>
        </div>
        </div>
        </div>
    </div>
    </div>
</div>
</section>

<section>
<div class="container-fluid px-0">
    <div class="row m-0">
    <div class="col-sm-6 col-md-7 col-lg-8 ancho-col-artesania align-items-center ancho-col-artesania px-sm-5 py-5 py-sm-4 py-md-5 order-2 order-sm-0" style="background-color: #F8F8F8">
        <div class="row m-0">
        <div class="col-lg-9 py-md-4 py-lg-5 my-md-0 my-lg-5">
            <p class="texto-artesania color-81-artesania">El Registro Nacional del Artesano, es un servicio que presta el Estado Peruano con el fin de brindar a los artesanos, sean personas naturales o jurídicas, un elemento de identificación y reconocimiento de su desempeño en la actividad artesanal.</p>
            <a class="btn btn-ingresar-artesania py-1 text-center px-4" href="#" role="button">Ingresar</a>
        </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-5 col-lg-4 fondo-azul-artesania color-blanco-artesania  ancho-col-artesania text-center px-4 py-5">
            <h2 class="subtitulo-general mt-5">DIRECTORIO DE</h2>
            <h3 class="subtitulo-pequeño-general">ASOCIACIONES ARTESANALES</h3>
            <img class="mb-5" src="assets/imagenes/arrow.png" width="100%">     
    </div>
    </div>
</div>
</section>

<section class="contac-fondo-exterior">
<div class="container-fluid py-5" style="background-color: #00000070">
    <div class="row m-0">
    <div class="col-sm-6 col-md-5 col-lg-4 offset-sm-3 offset-md-0 px-lg-5 text-center my-5 color-blanco-artesania">
        <h2 class="color-blanco subutitulo-general mb-0">Contactate</h2>
        <h3 class="color-blanco subtitulo-delgado mb-0">Artesania</h3>
        <img src="assets/imagenes/arrow.png" width="100%" style="transform: rotate(-180deg);">
    </div>
    <div class="col-md-7 col-lg-6 offset-lg-1 my-5">
        <div class="row m-0">
        <div class="col-12 color-blanco text-center text-md-left color-blanco-artesania">
            <p class="mb-0 subutitulo-general">Ubicación</p>
            <p class="texto-turismo">Plaza Túpac Amaru Mz. Lote 2 ,<br> Wanchaq, Cusco, Tercer Piso.</p>
        </div>
        <div class="col-12 color-blanco text-center text-md-left color-blanco-artesania">
            <p class="mb-0 subutitulo-general">Llamanos</p>
            <p class="texto-turismo">+51 (84) 223761</p>
        </div>
        <div class="col-12 color-blanco text-center text-md-left color-blanco-artesania">
            <p class="mb-0 subutitulo-general mb-3">Escribenos</p>
        </div>
        <div class="col-sm-6 pr-md-1 mb-2 mb-sm-0">
            <input class="color-fondo px-3 py-2 anchura-inpu" type="text" placeholder="¿Cuál es su nombre?">
        </div>
        <div class="col-sm-6 pl-md-1">
            <input class="color-fondo px-3 py-2 anchura-inpu"  type="text" placeholder="¿Cuál es su correo?">
        </div>
        <div class="col-12 mt-2 anchura-contac-input">
            <textarea class=" color-fondo px-3 py-2" aria-label="With textarea" placeholder="Escribe su mensaje aqui" style="width: 100%;height: 100%"></textarea>
        </div>
        <div class="col-12 mt-2">
            <button class="btn py-2 fondo-rojo-contac">Enviar</button>
        </div>
        </div>
    </div>
    </div>
</div>
</section>
      