<section class="titulo-phone">
<div class="container-fluid px-0">
    <div class="row m-0">
    <div class="col-12 col-md-6 col-lg-3 order-2 order-md-0 px-0">
        <img src="assets/imagenes/andres.jpg" width="100%">
    </div>
    <div class="col-12 col-md-6 col-lg-9 color-blanco px-lg-5 pt-5" id="fondo-titulo">
        <div class="row m-0">
        <div class="col-12 col-lg-9 py-4 px-0 px-xl-5 text-center text-lg-left">
            <h1 class="mb-4" id="titulo-turismo">Turismo<span id="subtitulo-rural"> Rural-comunitario</span></h1>
            <p>La Dirección de Artesanía, es un Órgano de Línea de segundo nivel organizacional, responsable de proponer y ejecutar la política regional de desarrollo y promoción de la artesanía; así como fomentar las exportaciones de los productos artesanales, su sigla es DART.</p>
        </div>
        </div>
    </div>
    </div>
</div>
</section>

<section class="mt-5">
<div class="container-fluid px-sm-5 mb-5">
    <div class="row m-0">
    <div class="col-12 col-md-4 text-center px-0 offset-md-4 mb-5">
        <h2 id="rutas-font">Rutas disponibles</h2>
    </div>
    <div class="col-sm-6 col-md-3 col-xl-2 offset-sm-3 offset-md-1 offset-xl-2 px-lg-3 mb-5">
        <div class="cajaselect" style="height: 2.25rem;">
            <span class="seleccionado" style="margin-top: -8px;">Elemento 01</span>
                <ul class="listaselect" style="margin-top: 30px;">
                    <li>Elemento 01</li>
                    <li>Elemento 02</li>
                    <li>Elemento 03</li>
                </ul>
            <span class="trianguloinf" style="margin-top: -8px;"></span>
        </div>
    </div> 
    <div class="col-12 px-0">
        <div class="row m-0">
            <div class="col-12 col-sm-6 col-lg-3 col-xl-3 px-0 mb-4" *ngFor="let viaje of Viajes">
                <div class="row m-0">
                    <div class="col-12 px-0 img-viajes-rural" [ngStyle]="{'background-image': 'url('+ viaje?.imagen +')'}">
                        
                    </div>
                    <div class="col-12 px-0 sombra">
                        <div class="row m-0">
                            <div class="col-12 px-2 text-center">
                            <h3 class="color-01 titulo-disponibles mt-3 text-titulo-viajes">{{viaje.nombre}}</h3>
                            </div>
                            <div class="col-12 px-4 my-3">
                            <div class="row m-0 justify-content-center">
                                <div class="col-6 col-sm-4 px-1 py-1">
                                    <div class="color-rojo-social text-center px-1">
                                        <p>Alimentacion</p>
                                    </div>
                                </div>
                                <div class="col-6 col-sm-4 px-1 py-1">
                                    <div class="color-rojo-social text-center px-1">
                                        <p>Ceramica</p>
                                    </div>
                                </div>
                                <div class="col-6 col-sm-4 px-1 py-1">
                                    <div class="color-rojo-social text-center px-1">
                                        <p>Crianza de cuy</p>
                                    </div>
                                </div>
                                
                            </div>
                            </div>
                            <div class="col-12 px-4 mt-sm-4 mt-lg-4 mt-xl-4">
                            <div class="row m-0">
                                <div class="col-12 px-0">
                                    <div class="row m-0">
                                        <div class="col-2 col-lg-3 col-xl-2 color-01 pl-0 pr-4 donde-altitud-font">
                                        <p class="mb-0">Donde</p>
                                        </div>
                                        <div class="col-10 col-lg-9 col-xl-10 color-02 px-0 texto-chiquito">
                                        <p class="mb-1">{{viaje.donde}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 px-0">
                                    <div class="row m-0">
                                        <div class="col-2 col-lg-3 col-xl-2 color-01 pl-0 pr-4 donde-altitud-font">
                                            <p>Altitud</p>
                                        </div>
                                        <div class="col-10 col-lg-9 col-xl-10 color-02 px-0 texto-chiquito">
                                            <p>{{viaje.altitud}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                            <div style="height: 135px;" class="col-12 text-center color-02 text-grande text-resumen-viajes mb-2" [innerHtml]="viaje.descripcion">
                               
                            </div>
                            <div class="col-12 text-center mt-3 mb-3">
                                <button class="btn colot-btn-ruta py-0" (click)="goTurismoRural (viaje.id)">Explorar ></button>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
    </div>
</div>
</section>

