<section class="titulo-phone">
<div class="container-fluid px-0 mb-5">
    <div class="row m-0">
    <div class="col-md-5 col-lg-4 color-blanco py-5 text-center" id="fondo-contac">
        <div (click)="openDialog ('contacto_titulo', etiquetas?.contacto_titulo, 0)">
            <h1 *ngIf="etiquetas?.contacto_titulo" class="mb-0" id="titulo-contac">{{ etiquetas?.contacto_titulo }}</h1>
            <h1 *ngIf="!etiquetas?.contacto_titulo" class="mb-0" id="titulo-contac">contacto_titulo</h1>
        </div>
        <div (click)="openDialog ('contacto_subtitulo', etiquetas?.contacto_subtitulo, 0)">
            <h2 *ngIf="etiquetas?.contacto_subtitulo" class="mb-0" id="subtitulo-contac">{{ etiquetas?.contacto_subtitulo }}</h2>
            <h2 *ngIf="!etiquetas?.contacto_subtitulo" class="mb-0" id="subtitulo-contac">contacto_subtitulo</h2>
        </div>
        <img src="assets/imagenes/arrow.png" width="70%" id="volter-img">
    </div>
    <div class="col-md-7 col-lg-8 px-md-5 py-5">
        <div class="row m-0">
        <div class="col-12 px-0 text-center text-md-left">
            <div (click)="openDialog ('contacto_preguntas_frecuentes', etiquetas?.contacto_preguntas_frecuentes, 0)">
                <h2 *ngIf="etiquetas?.contacto_preguntas_frecuentes" class="subtitulo-general color-65">{{ etiquetas?.contacto_preguntas_frecuentes }}</h2>
                <h2 *ngIf="!etiquetas?.contacto_preguntas_frecuentes" class="subtitulo-general color-65">contacto_preguntas_frecuentes</h2>
            </div>
        </div>
        <div class="col-12 px-0 mt-3">
            <div class="row m-0 justify-content-center justify-content-md-start">
                <div class="col-6 col-sm-3 col-md-4 col-lg-3 col-xl-2 px-0 mb-2" *ngFor="let categoria of Categorias">
                    <button [className]="idcat==categoria.id ? 'btn btn-cuadrado btn-cuadrado-activo' : 'btn btn-cuadrado'" (click)="TraerFaqs (categoria.id)">{{categoria.nombre}}</button>
                </div>
            </div>
        </div>
        <div class="col-12 px-0 mt-3">
            <div class="accordion-container mt-3">
                <div *ngFor="let faq of Faqs">
                    <button class="accordion-titulo py-2 px-4 my-2 text-capitalize text-left">{{faq.data.pregunta}}<span class="toggle-icon mt-n1"></span></button>
                    <div class="accordion-content py-3 px-4">
                        <p>
                            {{faq.data.respuesta}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 px-0 mt-5">
            <div class="row m-0">
            <div class="col-12 px-0 mb-3 text-center text-md-left">
                <div (click)="openDialog ('contacto_escribirno', etiquetas?.contacto_escribirno, 0)">
                    <h2 *ngIf="etiquetas?.contacto_escribirno" class="subtitulo-general">{{ etiquetas?.contacto_escribirno }}</h2>
                    <h2 *ngIf="!etiquetas?.contacto_escribirno" class="subtitulo-general">contacto_escribirno</h2>
                </div>
            </div>
            <div class="col-12 col-sm-6 pl-0 pr-0 pr-sm-1 mb-2 mb-sm-0" (click)="openDialog ('contacto_nombre', etiquetas?.contacto_nombre, 0)">
                <input class="color-fondo-contac py-3 px-3" type="text" name="" [placeholder]="etiquetas?.contacto_nombre">
            </div>
            <div class="col-12 col-sm-6 pr-0 pl-0 pl-sm-1" (click)="openDialog ('contacto_correo', etiquetas?.contacto_correo, 0)">
                <input class="color-fondo-contac py-3 px-3" type="text" name="" [placeholder]="etiquetas?.contacto_correo">
            </div>
            <div class="col-12 px-0 mt-2" (click)="openDialog ('contacto_mensaje', etiquetas?.contacto_mensaje, 0)">
                <textarea class="px-3 color-fondo-contac py-3" id="textarea" aria-label="With textarea" [placeholder]="etiquetas?.contacto_mensaje" ></textarea>
            </div>
            <div class="col-12 px-0 mb-3">
                    <div (click)="openDialog ('contacto_btn', etiquetas?.contacto_btn, 0)">
                            <button *ngIf="etiquetas?.contacto_btn" class="btn py-2 fondo-rojo-contac">{{ etiquetas?.contacto_btn }}</button>
                            <button *ngIf="!etiquetas?.contacto_btn" class="btn py-2 fondo-rojo-contac">contacto_btn</button>
                    </div>
            </div>
            <div class="col-12 col-sm-6 px-0 text-center text-sm-left">
                <div (click)="openDialog ('contacto_ubicanos', etiquetas?.contacto_ubicanos, 0)">
                    <h2 *ngIf="etiquetas?.contacto_ubicanos" class="subtitulo-general color-65 mb-0">{{ etiquetas?.contacto_ubicanos }}</h2>
                    <h2 *ngIf="!etiquetas?.contacto_ubicanos" class="subtitulo-general color-65 mb-0">contacto_ubicanos</h2>
                </div>
                <div (click)="openDialog ('contacto_direccion', etiquetas?.contacto_direccion, 1)">
                    <div *ngIf="etiquetas?.contacto_direccion" [innerHtml]="etiquetas?.contacto_direccion" class="escri-ubi-lla-font color-65"></div>
                    <div *ngIf="!etiquetas?.contacto_direccion" class="escri-ubi-lla-font color-65">contacto_direccion</div>
                </div>
            </div>
            <div class="col-12 col-sm-6 px-2 px-lg-0 text-center text-sm-left">
                <div (click)="openDialog ('contacto_llamanos', etiquetas?.contacto_llamanos, 0)">
                    <h2 *ngIf="etiquetas?.contacto_llamanos" class="subtitulo-general color-65 mb-0">{{ etiquetas?.contacto_llamanos }}</h2>
                    <h2 *ngIf="!etiquetas?.contacto_llamanos" class="subtitulo-general color-65 mb-0">contacto_llamanos</h2>
                </div>
                <div (click)="openDialog ('contacto_numeros', etiquetas?.contacto_numeros, 0)">
                    <p *ngIf="etiquetas?.contacto_numeros" class="escri-ubi-lla-font color-65">{{ etiquetas?.contacto_numeros }}</p>
                    <p *ngIf="!etiquetas?.contacto_numeros" class="escri-ubi-lla-font color-65">contacto_numeros</p>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>  
    </div>
</div>
</section>
