<section class="titulo-phone">
<div class="container-fluid px-0">
    <div class="row m-0">
        <div class="col-lg-4 order-3 order-lg-0" (click)="openDialogImagen ('boleto_turistico_img_1', imagenes?.boleto_turistico_img_1)">
            <img [src]="imagenes?.boleto_turistico_img_1.img" height="100%" id="img-boleto">
        </div>
        <div class="col-lg-8 pr-lg-0 pt-lg-5 pb-5" id="color-azul-borde" style="position: relative;">
            <div class="row m-0 pb-5">
                <div class="col-12 mb-lg-4 pt-4 pl-lg-5 text-center text-lg-left">
                        <h1 class="color-blanco" id="titulo-bole">
                            <span (click)="openDialog ('boleto_tursitico_titulo', etiquetas?.boleto_tursitico_titulo, 0)">
                                <span *ngIf="etiquetas?.boleto_tursitico_titulo">{{ etiquetas?.boleto_tursitico_titulo }}</span>
                                <span *ngIf="!etiquetas?.boleto_tursitico_titulo">boleto_tursitico_subtitulo</span>
                            </span>
                            <span (click)="openDialog ('boleto_tursitico_subtitulo', etiquetas?.boleto_tursitico_subtitulo, 0)">
                                <span *ngIf="etiquetas?.boleto_tursitico_subtitulo" id="subtitulo-font"> {{ etiquetas?.boleto_tursitico_subtitulo }}</span>
                                <span *ngIf="!etiquetas?.boleto_tursitico_subtitulo" id="subtitulo-font"> boleto_tursitico_subtitulo</span> 
                            </span>
                            </h1>
                </div>
                <div class="col-xl-9 pb-lg-5 mb-lg-5 pl-lg-5 text-center text-lg-left">
                    <div (click)="openDialog ('boleto_turistico_descripcion', etiquetas?.boleto_turistico_descripcion, 1)">
                        <div *ngIf="etiquetas?.boleto_turistico_descripcion" [innerHtml]="etiquetas?.boleto_turistico_descripcion" class="color-blanco texto-font mb-lg-5"></div>
                        <div *ngIf="!etiquetas?.boleto_turistico_descripcion" class="color-blanco texto-font mb-lg-5">boleto_turistico_descripcion</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 offset-0 offset-lg-6 mt-n5">
                    <div class="row m-0">
                        <div class="col-12 mb-md-3 mt-n4 text-center text-lg-left">
                            <div (click)="openDialog ('boleto_turistico_cuanto', etiquetas?.boleto_turistico_cuanto, 0)">
                                <h3 *ngIf="etiquetas?.boleto_turistico_cuanto" class="color-blanco subtitulo-delgado">{{ etiquetas?.boleto_turistico_cuanto }}</h3>
                                <h3 *ngIf="!etiquetas?.boleto_turistico_cuanto" class="color-blanco subtitulo-delgado">boleto_turistico_cuanto</h3>
                            </div>
                        </div>
                        <div class="col-md-6 pr-lg-1 pb-2 pb-md-0">
                            <div class="cajaselect" style="padding: 1px 0px; margin-top: 0px;">
                                <span class="seleccionado" style="margin-top: 0px;">Elemento 01</span>
                                    <ul class="listaselect" style="margin-top: 52px;">
                                        <li>Elemento 01</li>
                                        <li>Elemento 02</li>
                                        <li>Elemento 03</li>
                                    </ul>
                                <span class="trianguloinf" style="margin-top: 0px;"></span>
                            </div>
                        </div>
                        <div class="col-md-6 pl-xl-1">
                            <div class="cajaselect" style="padding: 1px 0px; margin-top: 0px;">
                                <span class="seleccionado" style="margin-top: 0px;">Elemento 01</span>
                                    <ul class="listaselect" style="margin-top: 52px;">
                                        <li>Elemento 01</li>
                                        <li>Elemento 02</li>
                                        <li>Elemento 03</li>
                                    </ul>
                                <span class="trianguloinf" style="margin-top: 0px;"></span>
                            </div>
                        </div>
                        <div class="col-12 text-center py-4">
                            <p class="color-negro mb-0" id="costo-font">
                                <span (click)="openDialog ('boleto_turistico_costo_persona', etiquetas?.boleto_turistico_costo_persona, 0)">
                                    <span *ngIf="etiquetas?.boleto_turistico_costo_persona">{{ etiquetas?.boleto_turistico_costo_persona }}</span>
                                    <span *ngIf="!etiquetas?.boleto_turistico_costo_persona">boleto_turistico_costo_persona</span>
                                </span>
                                : S/. 130.00</p>
                        </div>
                    </div>
        </div>
    </div>
</div>
</section>
<section class="py-4 pt-lg-5" id="color-rojo">
<div class="container-fluid pt-lg-5">
    <div class="row m-0 mt-lg-5">
        <div class="col-md-4 col-xl-5 color-blanco text-center py-md-5">
            <div (click)="openDialog ('boleto_turistico_donde_conseguir_titulo', etiquetas?.boleto_turistico_donde_conseguir_titulo, 0)">
                <h2 *ngIf="etiquetas?.boleto_turistico_donde_conseguir_titulo" class="subtitulo-grueso mb-0 mt-md-5 ml-lg-5">{{ etiquetas?.boleto_turistico_donde_conseguir_titulo }}</h2>
                <h2 *ngIf="!etiquetas?.boleto_turistico_donde_conseguir_titulo" class="subtitulo-grueso mb-0 mt-md-5 ml-lg-5">boleto_turistico_donde_conseguir_titulo</h2>
            </div>
            <div (click)="openDialog ('boleto_turistico_donde_conseguir_subtitulo', etiquetas?.boleto_turistico_donde_conseguir_subtitulo, 0)">
                <h3 *ngIf="etiquetas?.boleto_turistico_donde_conseguir_subtitulo" class="subtitulo-delgado mb-0 ml-lg-5">{{ etiquetas?.boleto_turistico_donde_conseguir_subtitulo }}</h3>
                <h3 *ngIf="!etiquetas?.boleto_turistico_donde_conseguir_subtitulo" class="subtitulo-delgado mb-0 ml-lg-5">boleto_turistico_donde_conseguir_subtitulo</h3>
            </div>
            <img src="assets/imagenes/arrow.png" width="50%" class="rotar-img ml-xl-5">
        </div>
        <div class="col-md-8 col-xl-7 color-blanco pb-4">
            <div class="row m-0">
                <div class="col-md-6 ml-lg-n5 pb-5 pb-md-0">
                    <div (click)="openDialog ('boleto_turistico_counter_central', etiquetas?.boleto_turistico_counter_central, 0)">
                       <p *ngIf="etiquetas?.boleto_turistico_counter_central" class="central-infor-font mb-0">{{ etiquetas?.boleto_turistico_counter_central }}</p>
                       <p *ngIf="!etiquetas?.boleto_turistico_counter_central" class="central-infor-font mb-0">boleto_turistico_counter_central</p>
                    </div>
                    <div (click)="openDialog ('boleto_turistico_direccion', etiquetas?.boleto_turistico_direccion, 0)">
                        <p *ngIf="etiquetas?.boleto_turistico_direccion" class="direccion-font mb-0">{{ etiquetas?.boleto_turistico_direccion }}</p>
                        <p *ngIf="!etiquetas?.boleto_turistico_direccion" class="direccion-font mb-0">boleto_turistico_direccion</p>
                    </div>
                    <img src="assets/imagenes/mapa.png" width="100%" height="70%" class="border-mapa">
                    <div (click)="openDialog ('boleto_turistico_horarios', etiquetas?.sobre_nosotros_subtitulo, 0)">
                        <p *ngIf="etiquetas?.boleto_turistico_horarios" class="fecha-font">{{ etiquetas?.boleto_turistico_horarios }}</p>
                        <p *ngIf="!etiquetas?.boleto_turistico_horarios" class="fecha-font">boleto_turistico_horarios</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div (click)="openDialog ('boleto_turistico_infor_turistica', etiquetas?.boleto_turistico_infor_turistica, 0)">
                        <p *ngIf="etiquetas?.boleto_turistico_infor_turistica" class="central-infor-font mb-0">{{ etiquetas?.boleto_turistico_infor_turistica }}</p>
                        <p *ngIf="!etiquetas?.boleto_turistico_infor_turistica" class="central-infor-font mb-0">boleto_turistico_infor_turistica</p>
                    </div>
                    <div (click)="openDialog ('boleto_turistico_direccion_infor', etiquetas?.boleto_turistico_direccion_infor, 0)">
                        <p *ngIf="etiquetas?.boleto_turistico_direccion_infor" class="direccion-font mb-0">{{ etiquetas?.boleto_turistico_direccion_infor }}</p>
                        <p *ngIf="!etiquetas?.boleto_turistico_direccion_infor" class="direccion-font mb-0">boleto_turistico_direccion_infor</p>
                    </div>
                    <img src="assets/imagenes/mapa.png" width="100%" height="70%" class="border-mapa">
                    <div (click)="openDialog ('boleto_turistico_horario_info', etiquetas?.boleto_turistico_horario_info, 0)">
                        <p *ngIf="etiquetas?.boleto_turistico_horario_info" class="fecha-font">{{ etiquetas?.boleto_turistico_horario_info }}</p>
                        <p *ngIf="!etiquetas?.boleto_turistico_horario_info" class="fecha-font">boleto_turistico_horario_info</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>

<section>
<div class="container py-5">
    <div class="row m-0">
        <div class="col-12 text-center mb-4">
            <div (click)="openDialog ('boleto_turistico_condiones', etiquetas?.boleto_turistico_condiones, 0)">
                <h2 *ngIf="etiquetas?.boleto_turistico_condiones" class="color-negro subtitulo-delgado">{{ etiquetas?.boleto_turistico_condiones }}</h2>
                <h2 *ngIf="!etiquetas?.boleto_turistico_condiones" class="color-negro subtitulo-delgado">boleto_turistico_condiones</h2>
            </div>
        </div>
        <div class="col-xl-8 offset-xl-2 text-center color-negro texto-font">
            <div (click)="openDialog ('boleto_turistico_condiones_descripcion', etiquetas?.boleto_turistico_condiones_descripcion, 1)">
                <div *ngIf="etiquetas?.boleto_turistico_condiones_descripcion" [innerHtml]="etiquetas?.boleto_turistico_condiones_descripcion" class="mb-0"></div>
                <div *ngIf="!etiquetas?.boleto_turistico_condiones_descripcion" class="mb-0">boleto_turistico_condiones_descripcion</div>
            </div>
        </div>
    </div>
</div>
</section>

<section class="pt-5" id="fondo-section">
<div class="container-fluid px-md-5">
    <div class="row m-0">
        <div class="col-12 text-center">
            <div (click)="openDialog ('boleto_parciales_titulos', etiquetas?.boleto_parciales_titulos, 0)">
                <h2 *ngIf="etiquetas?.boleto_parciales_titulos" class="subtitulo-grueso mb-0" style="color: #656565">{{ etiquetas?.boleto_parciales_titulos }}</h2>
                <h2 *ngIf="!etiquetas?.boleto_parciales_titulos" class="subtitulo-grueso mb-0" style="color: #656565">boleto_parciales_titulos</h2>
            </div>
            <div (click)="openDialog ('boleto_parciales_subtitulo', etiquetas?.boleto_parciales_subtitulo, 0)">
                <h3 *ngIf="etiquetas?.boleto_parciales_subtitulo" style="color: #656565">{{ etiquetas?.boleto_parciales_subtitulo }}</h3>
                <h3 *ngIf="!etiquetas?.boleto_parciales_subtitulo" style="color: #656565">boleto_parciales_subtitulo</h3>
            </div>
        </div>
        <div class="col-4 col-lg-2 offset-4 offset-lg-5">
            <div style="width: 100%; height: 1px;background-color: #6b6464;"></div>
        </div>
        <div class="col-sm-8 offset-sm-2 color-negro text-center my-4">
            <div (click)="openDialog ('boleto_parciales_descripcion', etiquetas?.boleto_parciales_descripcion, 1)">
                    <div *ngIf="etiquetas?.boleto_parciales_descripcion" [innerHtml]="etiquetas?.boleto_parciales_descripcion" class="texto-font mb-0"></div>
                    <div *ngIf="!etiquetas?.boleto_parciales_descripcion" class="texto-font mb-0">boleto_parciales_descripcion</div>
            </div>
            
        </div>
        <div class="col-12 p-0">
            <div class="row m-0">
                <div class="col-sm-4 px-1 mb-2">
                    <div class="card" style="width: 100%;">
                        <img src="assets/imagenes/boleto2.png" class="card-img-top" alt="...">
                        <div class="card-body" style="height: auto;">
                        <h5 class="card-title color-boletos-titulos mb-1">CIRCUITO 1</h5>
                        <ul class="px-0 color-texto-boleto mb-5" style="list-style-type:none;">
                            <li>- Parque Arqueológico de Saqsayhuaman  </li>
                            <li>- Sitio Arqueológico de Qenqo</li>
                            <li>- Grupo Arqueológico de Puka Pukara</li>
                        </ul>
                        <div class="row m-0" >
                            <div class="col-3 col-sm-4 col-md-4 col-lg-3 col-xl-2 px-0 bajar-igualar">
                                <p class="vigencia-font">Vigencia</p>
                            </div>
                            <div class="col-3 col-md-3 col-lg-2 px-1 bajar-igualar">
                                <p class="color-texto-boleto">1 dia</p>
                            </div>
                        </div>  
                    </div>
                    </div>
                </div>
                <div class="col-sm-4 px-1 mb-2">
                    <div class="card" style="width: 100%;">
                        <img src="assets/imagenes/boleto3.png" class="card-img-top" alt="...">
                        <div class="card-body" style="height: auto;">
                        <h5 class="card-title color-boletos-titulos mb-1">CIRCUITO 2</h5>
                        <ul class="px-0 color-texto-boleto mb-5" style="list-style-type:none;">
                            <li>- Museo Histórico Regional   </li>
                            <li>- Museo de Arte contemporáneo </li>
                            <li>- Grupo Arqueológico de Puka Pukara</li>
                            <li>- Museo de Arte Popular - Museo de Sitio de Qorikancha</li>
                            <li>- Centro Qosqo de Arte Nativo</li>
                            <li>- Monumento al Inca Pachacutec</li>
                            <li>- Parque Arqueológico de Tipón </li>
                            <li>- Parque Arqueológico de Pikillacta</li>
                        </ul>
                        <div class="row m-0">
                            <div class="col-3 col-sm-4 col-md-4 col-lg-3 col-xl-2 px-0">
                                <p class="vigencia-font">Vigencia</p>
                            </div>
                            <div class="col-3 col-md-3 col-lg-2 px-1">
                                <p class="color-texto-boleto">1 dia</p>
                            </div>
                        </div>  
                    </div>
                    </div>
                </div>
                <div class="col-sm-4 px-1 mb-2">
                    <div class="card" style="width: 100%">
                        <img src="assets/imagenes/boleto1.png" class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title color-boletos-titulos mb-1">CIRCUITO 3</h5>
                        <ul class="px-0 color-texto-boleto mb-5" style="list-style-type:none;">
                            <li>- Parque Arqueológico de Saqsayhuaman  </li>
                            <li>- Sitio Arqueológico de Qenqo</li>
                            <li>- Grupo Arqueológico de Puka Pukara</li>
                        </ul>
                        <div class="row m-0">
                            <div class="col-3 col-sm-4 col-md-4 col-lg-3 col-xl-2 px-0 bajar-igualar">
                                <p class="vigencia-font">Vigencia</p>
                            </div>
                            <div class="col-3 col-md-3 col-lg-2 px-1 bajar-igualar">
                                <p class="color-texto-boleto">1 dia</p>
                            </div>
                        </div>  
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>

<section class="mt-sm-5">
<div class="container-fluid px-md-5">
    <div class="row m-0">
        <div class="col-12 mt-sm-5 text-center">
            <div (click)="openDialog ('boleto_arquelogico_incluidos', etiquetas?.boleto_arquelogico_incluidos, 0)">
                <h3 *ngIf="etiquetas?.boleto_arquelogico_incluidos" class="subtitulo-delgado my-4 my-sm-5">{{ etiquetas?.boleto_arquelogico_incluidos }}</h3>
                <h3 *ngIf="!etiquetas?.boleto_arquelogico_incluidos" class="subtitulo-delgado my-4 my-sm-5">boleto_arquelogico_incluidos</h3>
            </div>
        </div>
        
    </div>
    <div  id="ancho-100">
        <div class="anchura-20 mb-2">
            <div class="row m-0">
                <div class="col-12 px-0">
                    <img src="assets/imagenes/arque1.png" width="100%">
                </div>
                <div class="col-12 text-center py-3" style="border: 1px solid #d9d9d9;">
                    <h6 class="titulo-incluidos">Saqsayhuaman</h6>
                    <p class="color-negro texto-incluidos">Órgano de Línea de segundo nivel organizacional, responsable de proponer y ejecutar la política regional de desarrollo y promoción de la artesanía; así como fomentar las exportaciones de los productos artesanales, su sigla es DART.</p>
                </div>
            </div>
        </div>
        <div class="anchura-20 mb-2">
            <div class="row m-0">
                <div class="col-12 px-0">
                    <img src="assets/imagenes/arque2.png" width="100%">
                </div>
                <div class="col-12 text-center py-3" style="border: 1px solid #d9d9d9;">
                    <h6 class="titulo-incluidos">Saqsayhuaman</h6>
                    <p class="color-negro texto-incluidos">Órgano de Línea de segundo nivel organizacional, responsable de proponer y ejecutar la política regional de desarrollo y promoción de la artesanía; así como fomentar las exportaciones de los productos artesanales, su sigla es DART.</p>
                </div>
            </div>
        </div>
        <div class="anchura-20 mb-2">
            <div class="row m-0">
                <div class="col-12 px-0">
                    <img src="assets/imagenes/arque3.png" width="100%">
                </div>
                <div class="col-12 text-center py-3" style="border: 1px solid #d9d9d9;">
                    <h6 class="titulo-incluidos">Saqsayhuaman</h6>
                    <p class="color-negro texto-incluidos">Órgano de Línea de segundo nivel organizacional, responsable de proponer y ejecutar la política regional de desarrollo y promoción de la artesanía; así como fomentar las exportaciones de los productos artesanales, su sigla es DART.</p>
                </div>
            </div>
        </div>
        <div class="anchura-20 mb-2">
            <div class="row m-0">
                <div class="col-12 px-0">
                    <img src="assets/imagenes/arque4.png" width="100%">
                </div>
                <div class="col-12 text-center py-3" style="border: 1px solid #d9d9d9;">
                    <h6 class="titulo-incluidos">Saqsayhuaman</h6>
                    <p class="color-negro texto-incluidos">Órgano de Línea de segundo nivel organizacional, responsable de proponer y ejecutar la política regional de desarrollo y promoción de la artesanía; así como fomentar las exportaciones de los productos artesanales, su sigla es DART.</p>
                </div>
            </div>
        </div>
        <div class="anchura-20 mb-2">
            <div class="row m-0">
                <div class="col-12 px-0">
                    <img src="assets/imagenes/arque5.png" width="100%">
                </div>
                <div class="col-12 text-center py-3" style="border: 1px solid #d9d9d9;">
                    <h6 class="titulo-incluidos">Saqsayhuaman</h6>
                    <p class="color-negro texto-incluidos">Órgano de Línea de segundo nivel organizacional, responsable de proponer y ejecutar la política regional de desarrollo y promoción de la artesanía; así como fomentar las exportaciones de los productos artesanales, su sigla es DART.</p>
                </div>
            </div>
        </div>
        <div class="anchura-20 mb-2">
            <div class="row m-0">
                <div class="col-12 px-0">
                    <img src="assets/imagenes/arque6.png" width="100%">
                </div>
                <div class="col-12 text-center py-3" style="border: 1px solid #d9d9d9;">
                    <h6 class="titulo-incluidos">Saqsayhuaman</h6>
                    <p class="color-negro texto-incluidos">Órgano de Línea de segundo nivel organizacional, responsable de proponer y ejecutar la política regional de desarrollo y promoción de la artesanía; así como fomentar las exportaciones de los productos artesanales, su sigla es DART.</p>
                </div>
            </div>
        </div>
        <div class="anchura-20 mb-2">
            <div class="row m-0">
                <div class="col-12 px-0">
                    <img src="assets/imagenes/arque7.png" width="100%">
                </div>
                <div class="col-12 text-center py-3" style="border: 1px solid #d9d9d9;">
                    <h6 class="titulo-incluidos">Saqsayhuaman</h6>
                    <p class="color-negro texto-incluidos">Órgano de Línea de segundo nivel organizacional, responsable de proponer y ejecutar la política regional de desarrollo y promoción de la artesanía; así como fomentar las exportaciones de los productos artesanales, su sigla es DART.</p>
                </div>
            </div>
        </div>
        <div class="anchura-20 mb-2">
            <div class="row m-0">
                <div class="col-12 px-0">
                    <img src="assets/imagenes/arque8.png" width="100%">
                </div>
                <div class="col-12 text-center py-3" style="border: 1px solid #d9d9d9;">
                    <h6 class="titulo-incluidos">Saqsayhuaman</h6>
                    <p class="color-negro texto-incluidos">Órgano de Línea de segundo nivel organizacional, responsable de proponer y ejecutar la política regional de desarrollo y promoción de la artesanía; así como fomentar las exportaciones de los productos artesanales, su sigla es DART.</p>
                </div>
            </div>
        </div>
        <div class="anchura-20 mb-2">
            <div class="row m-0">
                <div class="col-12 px-0">
                    <img src="assets/imagenes/arque9.png" width="100%">
                </div>
                <div class="col-12 text-center py-3" style="border: 1px solid #d9d9d9;">
                    <h6 class="titulo-incluidos">Saqsayhuaman</h6>
                    <p class="color-negro texto-incluidos">Órgano de Línea de segundo nivel organizacional, responsable de proponer y ejecutar la política regional de desarrollo y promoción de la artesanía; así como fomentar las exportaciones de los productos artesanales, su sigla es DART.</p>
                </div>
            </div>
        </div>
        <div class="anchura-20 mb-2">
            <div class="row m-0">
                <div class="col-12 px-0">
                    <img src="assets/imagenes/arque1.png" width="100%">
                </div>
                <div class="col-12 text-center py-3" style="border: 1px solid #d9d9d9;">
                    <h6 class="titulo-incluidos">Saqsayhuaman</h6>
                    <p class="color-negro texto-incluidos">Órgano de Línea de segundo nivel organizacional, responsable de proponer y ejecutar la política regional de desarrollo y promoción de la artesanía; así como fomentar las exportaciones de los productos artesanales, su sigla es DART.</p>
                </div>
            </div>
        </div>
    </div>
</div>
</section>

<section class="mt-5 pb-5" id="fondo-museo">
<div class="container mb-5">
    <div class="row m-0">
        <div class="col-12 text-center my-5">
            <div (click)="openDialog ('boleto_museos_incluidos', etiquetas?.boleto_museos_incluidos, 0)">
                <h2 *ngIf="etiquetas?.boleto_museos_incluidos" class="color-negro subtitulo-delgado">{{ etiquetas?.boleto_museos_incluidos }}</h2>
                <h2 *ngIf="!etiquetas?.boleto_museos_incluidos" class="color-negro subtitulo-delgado">boleto_museos_incluidos</h2>
            </div>
        </div>
        <div class="col-12 col-md-10 col-lg-8 offset-md-1 offset-lg-2 px-0">
            <div class="row m-0">
                <div class="col-12 col-sm-4 mb-2 px-0">
                    <div class="row m-0">
                    <div class="col-12 px-0">
                    <img src="assets/imagenes/arque11.png" width="100%">
                    </div>
                    <div class="col-12 text-center py-3" style="border: 1px solid #d9d9d9;background-color: #fff;">
                    <h6 class="titulo-incluidos">Museo Histórico Regional Casa</h6>
                    <p class="color-negro texto-incluidos">Órgano de Línea de segundo nivel organizacional, responsable de proponer y ejecutar la política regional de desarrollo y promoción de la artesanía; así como fomentar las exportaciones de los productos artesanales, su sigla es DART.</p>
                    </div>
                    </div>
                </div>
                <div class="col-12 col-sm-4 mb-2 px-0">
                    <div class="row m-0">
                    <div class="col-12 px-0">
                    <img src="assets/imagenes/arque11.png" width="100%">
                    </div>
                    <div class="col-12 text-center py-3" style="border: 1px solid #d9d9d9;background-color: #fff;">
                    <h6 class="titulo-incluidos">Museo Histórico Regional Casa</h6>
                    <p class="color-negro texto-incluidos">Órgano de Línea de segundo nivel organizacional, responsable de proponer y ejecutar la política regional de desarrollo y promoción de la artesanía; así como fomentar las exportaciones de los productos artesanales, su sigla es DART.</p>
                    </div>
                    </div>
                </div>
                <div class="col-12 col-sm-4 mb-2 px-0">
                    <div class="row m-0">
                    <div class="col-12 px-0">
                    <img src="assets/imagenes/arque11.png" width="100%">
                    </div>
                    <div class="col-12 text-center py-3" style="border: 1px solid #d9d9d9;background-color: #fff;">
                    <h6 class="titulo-incluidos">Museo Histórico Regional Casa</h6>
                    <p class="color-negro texto-incluidos">Órgano de Línea de segundo nivel organizacional, responsable de proponer y ejecutar la política regional de desarrollo y promoción de la artesanía; así como fomentar las exportaciones de los productos artesanales, su sigla es DART.</p>
                    </div>
                    </div>
                </div>
                <div class="col-12 col-sm-4 mb-2 px-0">
                    <div class="row m-0">
                    <div class="col-12 px-0">
                    <img src="assets/imagenes/arque11.png" width="100%">
                    </div>
                    <div class="col-12 text-center py-3" style="border: 1px solid #d9d9d9;background-color: #fff;">
                    <h6 class="titulo-incluidos">Museo Histórico Regional Casa</h6>
                    <p class="color-negro texto-incluidos">Órgano de Línea de segundo nivel organizacional, responsable de proponer y ejecutar la política regional de desarrollo y promoción de la artesanía; así como fomentar las exportaciones de los productos artesanales, su sigla es DART.</p>
                    </div>
                    </div>
                </div>
                <div class="col-12 col-sm-4 mb-2 px-0">
                    <div class="row m-0">
                    <div class="col-12 px-0">
                    <img src="assets/imagenes/arque11.png" width="100%">
                    </div>
                    <div class="col-12 text-center py-3" style="border: 1px solid #d9d9d9;background-color: #fff;">
                    <h6 class="titulo-incluidos">Museo Histórico Regional Casa</h6>
                    <p class="color-negro texto-incluidos">Órgano de Línea de segundo nivel organizacional, responsable de proponer y ejecutar la política regional de desarrollo y promoción de la artesanía; así como fomentar las exportaciones de los productos artesanales, su sigla es DART.</p>
                    </div>
                    </div>
                </div>
                <div class="col-12 col-sm-4 mb-2 px-0">
                    <div class="row m-0">
                    <div class="col-12 px-0">
                    <img src="assets/imagenes/arque11.png" width="100%">
                    </div>
                    <div class="col-12 text-center py-3" style="border: 1px solid #d9d9d9;background-color: #fff;">
                    <h6 class="titulo-incluidos">Museo Histórico Regional Casa</h6>
                    <p class="color-negro texto-incluidos">Órgano de Línea de segundo nivel organizacional, responsable de proponer y ejecutar la política regional de desarrollo y promoción de la artesanía; así como fomentar las exportaciones de los productos artesanales, su sigla es DART.</p>
                    </div>
                    </div>
                </div>
        </div>
        </div>
    </div>
</div>
</section>
