<section class="titulo-phone">
<div class="container-fluid px-0">
    <div class="row m-0">
        <div class="col-lg-4 order-3 order-lg-0">
            <img src="assets/imagenes/boleto-2.png" height="100%" id="img-boleto">
        </div>
        <div class="col-lg-8 pr-lg-0 pt-lg-5 pb-5" id="color-azul-borde" style="position: relative;">
            <div class="row m-0 pb-5">
                <div class="col-12 mb-lg-4 pt-4 pl-lg-5 text-center text-lg-left">
                        <h1 class="color-blanco" id="titulo-bole">Boleto<span id="subtitulo-font"> Turistico</span> </h1>
                </div>
                <div class="col-xl-9 pb-lg-5 mb-lg-5 pl-lg-5 text-center text-lg-left">
                        <p class="color-blanco texto-font mb-lg-5">El boleto turístico es un boleto de ingreso con el cual se tiene acceso a 16 lugares entre sitios arqueológicos, museos y el Centro Qosqo de Arte Nativo. El boleto se puede comprar de forma general y parcial. Los precios se detallas a continuación:</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 offset-0 offset-lg-6 mt-n5">
                    <div class="row m-0">
                        <div class="col-12 mb-md-3 mt-n4 text-center text-lg-left">
                            <h3 class="color-blanco subtitulo-delgado">¿Cuánto cuesta?</h3>
                        </div>
                        <div class="col-md-6 pr-lg-1 pb-2 pb-md-0">
                            <div class="cajaselect" style="padding: 1px 0px; margin-top: 0px;">
                                <span class="seleccionado" style="margin-top: 0px;">Elemento 01</span>
                                    <ul class="listaselect" style="margin-top: 52px;">
                                        <li>Elemento 01</li>
                                        <li>Elemento 02</li>
                                        <li>Elemento 03</li>
                                    </ul>
                                <span class="trianguloinf" style="margin-top: 0px;"></span>
                            </div>
                        </div>
                        <div class="col-md-6 pl-xl-1">
                            <div class="cajaselect" style="padding: 1px 0px; margin-top: 0px;">
                                <span class="seleccionado" style="margin-top: 0px;">Elemento 01</span>
                                    <ul class="listaselect" style="margin-top: 52px;">
                                        <li>Elemento 01</li>
                                        <li>Elemento 02</li>
                                        <li>Elemento 03</li>
                                    </ul>
                                <span class="trianguloinf" style="margin-top: 0px;"></span>
                            </div>
                        </div>
                        <div class="col-12 text-center py-4">
                            <p class="color-negro mb-0" id="costo-font">Costo por persona: S/. 130.00</p>
                        </div>
                    </div>
        </div>
    </div>
</div>
</section>
<section class="py-4 pt-lg-5" id="color-rojo">
<div class="container-fluid pt-lg-5">
    <div class="row m-0 mt-lg-5">
        <div class="col-md-4 col-xl-5 color-blanco text-center py-md-5">
            <h2 class="subtitulo-grueso mb-0 mt-md-5 ml-lg-5">Donde</h2>
            <h3 class="subtitulo-delgado mb-0 ml-lg-5">Conseguir</h3>
            <img src="assets/imagenes/arrow.png" width="50%" class="rotar-img ml-xl-5">
        </div>
        <div class="col-md-8 col-xl-7 color-blanco pb-4">
            <div class="row m-0">
                <div class="col-md-6 ml-lg-n5 pb-5 pb-md-0">
                    <p class="central-infor-font mb-0">Counter Central</p>
                    <p class="direccion-font mb-0">Dirección: Av. El Sol 103 Galerías Turísticas</p>
                    <img src="assets/imagenes/mapa.png" width="100%" height="70%" class="border-mapa">
                    <p class="fecha-font">Lunes a Domingo de 08:00 - 18:00 Hrs.</p>
                </div>
                <div class="col-md-6">
                    <p class="central-infor-font mb-0">Oficina de Información Turística</p>
                    <p class="direccion-font mb-0">Dirección: Calle Mantas</p>
                    <img src="assets/imagenes/mapa.png" width="100%" height="70%" class="border-mapa">
                    <p class="fecha-font">Lunes a Sábado 09:00 - 13:00 Hrs. / 14:00 - 18:00 Hrs.</p>
                </div>
            </div>
        </div>
    </div>
</div>
</section>

<section>
<div class="container py-5">
    <div class="row m-0">
        <div class="col-12 text-center mb-4">
            <h2 class="color-negro subtitulo-delgado">Condiciones</h2>
        </div>
        <div class="col-xl-8 offset-xl-2 text-center color-negro texto-font">
            <p class="mb-0">- La Vigencia del boleto turístico completo es de 10 días. <br>- Los niños pagan desde los 10 años de edad, de 10 a 17 años, pueden adquirir el boleto de estudiante previa presentación del documento de identidad (DNI, Pasaporte, etc.) <br>- El Boleto Turístico no incluye servicio de guía y movilidad. <br>- No existen boletos individuales para cada atractivo turístico, se debe adquirir el boleto general o parcial.</p>
        </div>
    </div>
</div>
</section>

<section class="pt-5" id="fondo-section">
<div class="container-fluid px-md-5">
    <div class="row m-0">
        <div class="col-12 text-center">
            <h2 class="subtitulo-grueso mb-0" style="color: #656565">Boletos</h2>
            <h3 class="subtitulo-delgado" style="color: #656565">Parciales</h3>
        </div>
        <div class="col-4 col-lg-2 offset-4 offset-lg-5">
            <div style="width: 100%; height: 1px;background-color: #6b6464;"></div>
        </div>
        <div class="col-sm-8 offset-sm-2 color-negro text-center my-4">
            <p class="texto-font mb-0">El boleto turístico completo tiene una valides de 10 días, sin embargo también existe la posibilidad de comprarlo de forma parcial como se detalla a continuación:</p>
        </div>
        <div class="col-12 p-0">
            <div class="row m-0">
                <div class="col-sm-4 px-1 mb-2">
                    <div class="card" style="width: 100%;">
                        <img src="assets/imagenes/boleto2.png" class="card-img-top" alt="...">
                        <div class="card-body" style="height: auto;">
                        <h5 class="card-title color-boletos-titulos mb-1">CIRCUITO 1</h5>
                        <ul class="px-0 color-texto-boleto mb-5" style="list-style-type:none;">
                            <li>- Parque Arqueológico de Saqsayhuaman  </li>
                            <li>- Sitio Arqueológico de Qenqo</li>
                            <li>- Grupo Arqueológico de Puka Pukara</li>
                        </ul>
                        <div class="row m-0" >
                            <div class="col-3 col-sm-4 col-md-4 col-lg-3 col-xl-2 px-0 bajar-igualar">
                                <p class="vigencia-font">Vigencia</p>
                            </div>
                            <div class="col-3 col-md-3 col-lg-2 px-1 bajar-igualar">
                                <p class="color-texto-boleto">1 dia</p>
                            </div>
                        </div>  
                    </div>
                    </div>
                </div>
                <div class="col-sm-4 px-1 mb-2">
                    <div class="card" style="width: 100%;">
                        <img src="assets/imagenes/boleto3.png" class="card-img-top" alt="...">
                        <div class="card-body" style="height: auto;">
                        <h5 class="card-title color-boletos-titulos mb-1">CIRCUITO 2</h5>
                        <ul class="px-0 color-texto-boleto mb-5" style="list-style-type:none;">
                            <li>- Museo Histórico Regional   </li>
                            <li>- Museo de Arte contemporáneo </li>
                            <li>- Grupo Arqueológico de Puka Pukara</li>
                            <li>- Museo de Arte Popular - Museo de Sitio de Qorikancha</li>
                            <li>- Centro Qosqo de Arte Nativo</li>
                            <li>- Monumento al Inca Pachacutec</li>
                            <li>- Parque Arqueológico de Tipón </li>
                            <li>- Parque Arqueológico de Pikillacta</li>
                        </ul>
                        <div class="row m-0">
                            <div class="col-3 col-sm-4 col-md-4 col-lg-3 col-xl-2 px-0">
                                <p class="vigencia-font">Vigencia</p>
                            </div>
                            <div class="col-3 col-md-3 col-lg-2 px-1">
                                <p class="color-texto-boleto">1 dia</p>
                            </div>
                        </div>  
                    </div>
                    </div>
                </div>
                <div class="col-sm-4 px-1 mb-2">
                    <div class="card" style="width: 100%">
                        <img src="assets/imagenes/boleto1.png" class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title color-boletos-titulos mb-1">CIRCUITO 3</h5>
                        <ul class="px-0 color-texto-boleto mb-5" style="list-style-type:none;">
                            <li>- Parque Arqueológico de Saqsayhuaman  </li>
                            <li>- Sitio Arqueológico de Qenqo</li>
                            <li>- Grupo Arqueológico de Puka Pukara</li>
                        </ul>
                        <div class="row m-0">
                            <div class="col-3 col-sm-4 col-md-4 col-lg-3 col-xl-2 px-0 bajar-igualar">
                                <p class="vigencia-font">Vigencia</p>
                            </div>
                            <div class="col-3 col-md-3 col-lg-2 px-1 bajar-igualar">
                                <p class="color-texto-boleto">1 dia</p>
                            </div>
                        </div>  
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>

<section class="mt-sm-5">
<div class="container-fluid px-md-5">
    <div class="row m-0">
        <div class="col-12 mt-sm-5 text-center">
            <h3 class="subtitulo-delgado my-4 my-sm-5">Parques arqueológicos incluidos</h3>
        </div>
        
    </div>
    <div  id="ancho-100">
        <div class="anchura-20 mb-2">
            <div class="row m-0">
                <div class="col-12 px-0">
                    <img src="assets/imagenes/arque1.png" width="100%">
                </div>
                <div class="col-12 text-center py-3" style="border: 1px solid #d9d9d9;">
                    <h6 class="titulo-incluidos">Saqsayhuaman</h6>
                    <p class="color-negro texto-incluidos">Órgano de Línea de segundo nivel organizacional, responsable de proponer y ejecutar la política regional de desarrollo y promoción de la artesanía; así como fomentar las exportaciones de los productos artesanales, su sigla es DART.</p>
                </div>
            </div>
        </div>
        <div class="anchura-20 mb-2">
            <div class="row m-0">
                <div class="col-12 px-0">
                    <img src="assets/imagenes/arque2.png" width="100%">
                </div>
                <div class="col-12 text-center py-3" style="border: 1px solid #d9d9d9;">
                    <h6 class="titulo-incluidos">Saqsayhuaman</h6>
                    <p class="color-negro texto-incluidos">Órgano de Línea de segundo nivel organizacional, responsable de proponer y ejecutar la política regional de desarrollo y promoción de la artesanía; así como fomentar las exportaciones de los productos artesanales, su sigla es DART.</p>
                </div>
            </div>
        </div>
        <div class="anchura-20 mb-2">
            <div class="row m-0">
                <div class="col-12 px-0">
                    <img src="assets/imagenes/arque3.png" width="100%">
                </div>
                <div class="col-12 text-center py-3" style="border: 1px solid #d9d9d9;">
                    <h6 class="titulo-incluidos">Saqsayhuaman</h6>
                    <p class="color-negro texto-incluidos">Órgano de Línea de segundo nivel organizacional, responsable de proponer y ejecutar la política regional de desarrollo y promoción de la artesanía; así como fomentar las exportaciones de los productos artesanales, su sigla es DART.</p>
                </div>
            </div>
        </div>
        <div class="anchura-20 mb-2">
            <div class="row m-0">
                <div class="col-12 px-0">
                    <img src="assets/imagenes/arque4.png" width="100%">
                </div>
                <div class="col-12 text-center py-3" style="border: 1px solid #d9d9d9;">
                    <h6 class="titulo-incluidos">Saqsayhuaman</h6>
                    <p class="color-negro texto-incluidos">Órgano de Línea de segundo nivel organizacional, responsable de proponer y ejecutar la política regional de desarrollo y promoción de la artesanía; así como fomentar las exportaciones de los productos artesanales, su sigla es DART.</p>
                </div>
            </div>
        </div>
        <div class="anchura-20 mb-2">
            <div class="row m-0">
                <div class="col-12 px-0">
                    <img src="assets/imagenes/arque5.png" width="100%">
                </div>
                <div class="col-12 text-center py-3" style="border: 1px solid #d9d9d9;">
                    <h6 class="titulo-incluidos">Saqsayhuaman</h6>
                    <p class="color-negro texto-incluidos">Órgano de Línea de segundo nivel organizacional, responsable de proponer y ejecutar la política regional de desarrollo y promoción de la artesanía; así como fomentar las exportaciones de los productos artesanales, su sigla es DART.</p>
                </div>
            </div>
        </div>
        <div class="anchura-20 mb-2">
            <div class="row m-0">
                <div class="col-12 px-0">
                    <img src="assets/imagenes/arque6.png" width="100%">
                </div>
                <div class="col-12 text-center py-3" style="border: 1px solid #d9d9d9;">
                    <h6 class="titulo-incluidos">Saqsayhuaman</h6>
                    <p class="color-negro texto-incluidos">Órgano de Línea de segundo nivel organizacional, responsable de proponer y ejecutar la política regional de desarrollo y promoción de la artesanía; así como fomentar las exportaciones de los productos artesanales, su sigla es DART.</p>
                </div>
            </div>
        </div>
        <div class="anchura-20 mb-2">
            <div class="row m-0">
                <div class="col-12 px-0">
                    <img src="assets/imagenes/arque7.png" width="100%">
                </div>
                <div class="col-12 text-center py-3" style="border: 1px solid #d9d9d9;">
                    <h6 class="titulo-incluidos">Saqsayhuaman</h6>
                    <p class="color-negro texto-incluidos">Órgano de Línea de segundo nivel organizacional, responsable de proponer y ejecutar la política regional de desarrollo y promoción de la artesanía; así como fomentar las exportaciones de los productos artesanales, su sigla es DART.</p>
                </div>
            </div>
        </div>
        <div class="anchura-20 mb-2">
            <div class="row m-0">
                <div class="col-12 px-0">
                    <img src="assets/imagenes/arque8.png" width="100%">
                </div>
                <div class="col-12 text-center py-3" style="border: 1px solid #d9d9d9;">
                    <h6 class="titulo-incluidos">Saqsayhuaman</h6>
                    <p class="color-negro texto-incluidos">Órgano de Línea de segundo nivel organizacional, responsable de proponer y ejecutar la política regional de desarrollo y promoción de la artesanía; así como fomentar las exportaciones de los productos artesanales, su sigla es DART.</p>
                </div>
            </div>
        </div>
        <div class="anchura-20 mb-2">
            <div class="row m-0">
                <div class="col-12 px-0">
                    <img src="assets/imagenes/arque9.png" width="100%">
                </div>
                <div class="col-12 text-center py-3" style="border: 1px solid #d9d9d9;">
                    <h6 class="titulo-incluidos">Saqsayhuaman</h6>
                    <p class="color-negro texto-incluidos">Órgano de Línea de segundo nivel organizacional, responsable de proponer y ejecutar la política regional de desarrollo y promoción de la artesanía; así como fomentar las exportaciones de los productos artesanales, su sigla es DART.</p>
                </div>
            </div>
        </div>
        <div class="anchura-20 mb-2">
            <div class="row m-0">
                <div class="col-12 px-0">
                    <img src="assets/imagenes/arque1.png" width="100%">
                </div>
                <div class="col-12 text-center py-3" style="border: 1px solid #d9d9d9;">
                    <h6 class="titulo-incluidos">Saqsayhuaman</h6>
                    <p class="color-negro texto-incluidos">Órgano de Línea de segundo nivel organizacional, responsable de proponer y ejecutar la política regional de desarrollo y promoción de la artesanía; así como fomentar las exportaciones de los productos artesanales, su sigla es DART.</p>
                </div>
            </div>
        </div>
    </div>
</div>
</section>

<section class="mt-5 pb-5" id="fondo-museo">
<div class="container mb-5">
    <div class="row m-0">
        <div class="col-12 text-center my-5">
            <h2 class="color-negro subtitulo-delgado">Museos incluidos</h2>
        </div>
        <div class="col-12 col-md-10 col-lg-8 offset-md-1 offset-lg-2 px-0">
            <div class="row m-0">
                <div class="col-12 col-sm-4 mb-2 px-0">
                    <div class="row m-0">
                    <div class="col-12 px-0">
                    <img src="assets/imagenes/arque11.png" width="100%">
                    </div>
                    <div class="col-12 text-center py-3" style="border: 1px solid #d9d9d9;background-color: #fff;">
                    <h6 class="titulo-incluidos">Museo Histórico Regional Casa</h6>
                    <p class="color-negro texto-incluidos">Órgano de Línea de segundo nivel organizacional, responsable de proponer y ejecutar la política regional de desarrollo y promoción de la artesanía; así como fomentar las exportaciones de los productos artesanales, su sigla es DART.</p>
                    </div>
                    </div>
                </div>
                <div class="col-12 col-sm-4 mb-2 px-0">
                    <div class="row m-0">
                    <div class="col-12 px-0">
                    <img src="assets/imagenes/arque11.png" width="100%">
                    </div>
                    <div class="col-12 text-center py-3" style="border: 1px solid #d9d9d9;background-color: #fff;">
                    <h6 class="titulo-incluidos">Museo Histórico Regional Casa</h6>
                    <p class="color-negro texto-incluidos">Órgano de Línea de segundo nivel organizacional, responsable de proponer y ejecutar la política regional de desarrollo y promoción de la artesanía; así como fomentar las exportaciones de los productos artesanales, su sigla es DART.</p>
                    </div>
                    </div>
                </div>
                <div class="col-12 col-sm-4 mb-2 px-0">
                    <div class="row m-0">
                    <div class="col-12 px-0">
                    <img src="assets/imagenes/arque11.png" width="100%">
                    </div>
                    <div class="col-12 text-center py-3" style="border: 1px solid #d9d9d9;background-color: #fff;">
                    <h6 class="titulo-incluidos">Museo Histórico Regional Casa</h6>
                    <p class="color-negro texto-incluidos">Órgano de Línea de segundo nivel organizacional, responsable de proponer y ejecutar la política regional de desarrollo y promoción de la artesanía; así como fomentar las exportaciones de los productos artesanales, su sigla es DART.</p>
                    </div>
                    </div>
                </div>
                <div class="col-12 col-sm-4 mb-2 px-0">
                    <div class="row m-0">
                    <div class="col-12 px-0">
                    <img src="assets/imagenes/arque11.png" width="100%">
                    </div>
                    <div class="col-12 text-center py-3" style="border: 1px solid #d9d9d9;background-color: #fff;">
                    <h6 class="titulo-incluidos">Museo Histórico Regional Casa</h6>
                    <p class="color-negro texto-incluidos">Órgano de Línea de segundo nivel organizacional, responsable de proponer y ejecutar la política regional de desarrollo y promoción de la artesanía; así como fomentar las exportaciones de los productos artesanales, su sigla es DART.</p>
                    </div>
                    </div>
                </div>
                <div class="col-12 col-sm-4 mb-2 px-0">
                    <div class="row m-0">
                    <div class="col-12 px-0">
                    <img src="assets/imagenes/arque11.png" width="100%">
                    </div>
                    <div class="col-12 text-center py-3" style="border: 1px solid #d9d9d9;background-color: #fff;">
                    <h6 class="titulo-incluidos">Museo Histórico Regional Casa</h6>
                    <p class="color-negro texto-incluidos">Órgano de Línea de segundo nivel organizacional, responsable de proponer y ejecutar la política regional de desarrollo y promoción de la artesanía; así como fomentar las exportaciones de los productos artesanales, su sigla es DART.</p>
                    </div>
                    </div>
                </div>
                <div class="col-12 col-sm-4 mb-2 px-0">
                    <div class="row m-0">
                    <div class="col-12 px-0">
                    <img src="assets/imagenes/arque11.png" width="100%">
                    </div>
                    <div class="col-12 text-center py-3" style="border: 1px solid #d9d9d9;background-color: #fff;">
                    <h6 class="titulo-incluidos">Museo Histórico Regional Casa</h6>
                    <p class="color-negro texto-incluidos">Órgano de Línea de segundo nivel organizacional, responsable de proponer y ejecutar la política regional de desarrollo y promoción de la artesanía; así como fomentar las exportaciones de los productos artesanales, su sigla es DART.</p>
                    </div>
                    </div>
                </div>
        </div>
        </div>
    </div>
</div>
</section>
