
<section class="titulo-phone">
<div class="container-fluid px-0">
  <div class="row m-0">
    <div class="col-12 col-md-6 col-lg-3 order-2 order-md-0 px-0" (click)="openDialogImagen ('turismo_social_img_1', imagenes?.turismo_social_img_1)">
      <img [src]="imagenes?.turismo_social_img_1.img" width="100%">
    </div>
    <div class="col-12 col-md-6 col-lg-9 color-blanco px-lg-5 pt-5" id="fondo-titulo">
      <div class="row m-0">
        <div class="col-12 col-lg-9 py-4 px-0 px-xl-5 text-center text-lg-left">
          <h1 class="mb-4" id="titulo-turismo">
            <span (click)="openDialog ('turismo_social_titulo', etiquetas?.turismo_social_titulo, 0)">
              <span *ngIf="etiquetas?.turismo_social_titulo">{{ etiquetas?.turismo_social_titulo }}</span>
              <span *ngIf="!etiquetas?.turismo_social_titulo">turismo_social_titulo</span>
            </span>
            <span (click)="openDialog ('turismo_social_subtitulo', etiquetas?.turismo_social_subtitulo, 0)">
              <span *ngIf="etiquetas?.turismo_social_subtitulo" id="subtitulo-rural"> {{ etiquetas?.turismo_social_subtitulo }}</span>
              <span *ngIf="!etiquetas?.turismo_social_subtitulo" id="subtitulo-rural">turismo_social_subtitulo</span>
            </span>
            </h1>
            <div (click)="openDialog ('turismo_social_descripcion', etiquetas?.turismo_social_descripcion, 1)">
                <div *ngIf="etiquetas?.turismo_social_descripcion" [innerHtml]="etiquetas?.turismo_social_descripcion"></div>
                <div *ngIf="!etiquetas?.turismo_social_descripcion">turismo_social_descripcion</div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>

<section class="mt-5">
<div class="container-fluid px-sm-5 mb-5">
  <div class="row m-0">
    <div class="col-12 mb-5">
      <div class="row m-0">
        <div class="col-6 col-sm-4 col-lg-3 col-xl-2 px-0 offset-sm-2 offset-lg-3 offset-xl-4 text-md-right">
          <button class="btn-rojo py-2 px-sm-3">Soy de la ciudad</button>
        </div>
        <div class="col-6 col-sm-4 col-lg-3 col-xl-2 px-0 ">
          <button class="btn-rojo py-2 px-sm-3">Soy comunitario</button>
        </div>
      </div>
    </div>
    <div class="col-12 px-0">
      <div class="row m-0">
          <div class="col-12 col-sm-6 col-lg-3 col-xl-3 px-0 mb-4" *ngFor="let viaje of Viajes">
            <div class="row m-0">
              <div class="col-12 px-0 img-viajes-programados" [ngStyle]="{'background-image': 'url('+ viaje?.imagen +')'}">
                
              </div>
              <div class="col-12 px-0 sombra">
              <div class="row m-0">
                <div class="col-12 px-2 text-center">
                  <h3 class="color-01 titulo-disponibles mt-3 text-titulo-viajes">{{viaje.nombre}}</h3>
                </div>
                <div class="col-12 px-4 my-3">
                  <div class="row m-0 justify-content-center">
                    <div class="col-6 col-sm-4 px-1 py-1">
                      <div class="color-rojo-social text-center px-1">
                      <p>Alimentacion</p>
                      </div>
                    </div>
                      <div class="col-6 col-sm-4 px-1 py-1">
                      <div class="color-rojo-social text-center px-1">
                      <p>Ceramica</p>
                      </div>
                    </div>
                      <div class="col-6 col-sm-4 px-1 py-1">
                      <div class="color-rojo-social text-center px-1">
                      <p>Crianza de cuy</p>
                      </div>
                    </div>
                    
                  </div>
                </div>
                <div class="col-12 px-4 mt-sm-4 mt-lg-4 mt-xl-4">
                  <div class="row m-0">
                    <div class="col-12 px-0">
                      <div class="row m-0">
                        <div class="col-2 col-lg-3 col-xl-2 color-01 pl-0 pr-4 donde-altitud-font">
                          <p class="mb-0">Donde</p>
                        </div>
                        <div class="col-10 col-lg-9 col-xl-10 color-02 px-0 texto-chiquito">
                          <p class="mb-1">{{viaje.donde}}</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 px-0">
                        <div class="row m-0">
                          <div class="col-2 col-lg-3 col-xl-2 color-01 pl-0 pr-4 donde-altitud-font">
                            <p>Altitud</p>
                          </div>
                          <div class="col-10 col-lg-9 col-xl-10 color-02 px-0 texto-chiquito">
                            <p>{{viaje.altitud}}</p>
                          </div>
                        </div>
                    </div>
                  </div>
                </div>
                <div style="height: 135px;" class="col-12 text-center color-02 text-grande text-resumen-viajes mb-2" [innerHtml]="viaje.descripcion">
                    
                </div>
                <div class="col-12 text-center mt-3 mb-3">
                  <div (click)="openDialog ('turismo_social_btn_explorar', etiquetas?.turismo_social_btn_explorar, 0)">
                      <button class="btn colot-btn-ruta py-0" *ngIf="etiquetas?.turismo_social_btn_explorar">{{ etiquetas?.turismo_social_btn_explorar }}</button>
                      <button class="btn colot-btn-ruta py-0" *ngIf="!etiquetas?.turismo_social_btn_explorar">turismo_social_btn_explorar </button>
                  </div>
                      
                </div>
              </div>
              </div>
            </div> 
          </div>
      </div>
    </div>
  </div>
</div>
</section>
