
<section class="titulo-phone">
<div class="container-fluid px-0">
    <div class="row m-0">
    <div class="col-12 col-lg-4 px-0 order-2 order-lg-0">
        <img src="assets/imagenes/andre.jpg" width="100%" height="100%">
    </div>
    <div class="col-12 col-lg-8 fondo-azul color-blanco py-5 text-center text-lg-left">
        <div class="row m-0">
        <div class="col-lg-10 offset-lg-1 px-0 my-5">
            <h1 class="titulo-subtitulo">Dirección<span id="turismo-font"> Turismo</span></h1>
            <p class="texto-turismo my-3">La Dirección de turismo (DIRCETUR), órgano de línea de segundo nivel organizacional, responsable de proponer y ejecutar la política organizacional, responsable de proponer y ejecutar la política regional de la actividad turística, en el marco de la política nacional de turismo; así como calificar y supervisar a los prestadores de servicios turísticos, de conformidad con las normas y reglamentos expedidos por el ministerio de comercio exterior y turismo, así como ejecutar la política regional de turismo sostenible en materia ambiental, dependiente de la dirección regional.</p>
        </div>
        </div>
    </div>
    </div>
</div>
</section>

<section>
<div class="container py-5">
    <div class="row m-0">
    <div class="col-12 text-center color-65">
        <h2 class="subutitulo-general mb-0">Lineas de dirección</h2>
        <h3 class="subtitulo-delgado mb-0">De turismo</h3>
        <img src="assets/imagenes/flechader.jpg" width="20%">
    </div>
    <div class="col-lg-4 text-center px-5 my-5">
        <img src="assets/imagenes/icono1.svg" width="25%">
        <h5 class="color-rojo-turismo subtitulo-rojo-turismo my-3">Servicios turísticos</h5>
        <p class="color-2 my-2 texto-lineas-rubros">Los diferentes servicios turísticos ofrecidos en la Región Cusco, documentación relacionada para la formalización de los diferentes.</p>
        <button class="btn btn-lineas fondo-azul color-blanco px-5 py-0 my-2 btn-fondo-letra-azul">Ver</button>
    </div>
    <div class="col-lg-4 text-center px-5 my-5">
        <img src="assets/imagenes/icono3.svg" width="25%">
        <h5 class="color-rojo-turismo subtitulo-rojo-turismo my-3">Promoción turistica</h5>
        <p class="color-2 my-2 texto-lineas-rubros">Atractivos turísticos que posee la Región Cusco, así como fechas festivas celebradas en la región y datos de importancia para el turista</p>
        <button class="btn btn-lineas fondo-azul color-blanco px-5 py-0 my-2 btn-fondo-letra-azul">Ver</button>
    </div>
    <div class="col-lg-4 text-center px-5 my-5">
        <img src="assets/imagenes/icono2.svg" width="25%">
        <h5 class="color-rojo-turismo subtitulo-rojo-turismo my-4">Desarrollo turistico</h5>
        <p class="color-2 my-2 texto-lineas-rubros">Desarrollo turístico de la región Cusco, así como información de inventario turístico, turismo social , Turismo rural y supervisión ambiental.</p>
        <button class="btn btn-lineas fondo-azul color-blanco px-5 py-0 my-2 btn-fondo-letra-azul">Ver</button>
    </div>
    </div>
</div>
</section>

<section>
<div class="container-fluid px-0">
    <div class="row m-0">
    <div class="col-lg-8 fondo-rojo px-0 py-5 pl-lg-5">
    <div class="row m-0">
        <div class="col-12 col-lg-9">
            <div class="row">
            <div class="col-sm-6 offset-sm-3 offset-lg-0 color-blanco text-center px-4">
                <h2 class="subutitulo-general mb-0">FUNCIONES</h2>
                <h3 class="subtitulo-delgado mb-0">Y NORMATIVA</h3>
                <img src="assets/imagenes/arrow.png" width="100%" style="transform: rotate(-180deg);">
            </div>
            <div class="col-12 col-lg-10 color-blanco text-center text-lg-left">
                <p class="texto-turismo my-4">La Dirección de Comercio Exterior y Turismo a través de la Dirección de Turismo pone a disposición de los usuarios información para el sector turismo y de todos aquellos programas y acciones que se vienen realizando para alcanzar un turismo sostenible en el tiempo, lograr que el ejercicio turístico se convierta en una fuente que genere inversiones y deje recursos en la Región Cusco
                </p>
                <button class="btn btn-funciones px-4 py-1 btn-fondo-letra-rojo">Ver normatividad</button>
            </div>
            </div>
        </div>
        <div class="col-3 px-0">
            <img class="mt-n5 ml-lg-5 ml-xl-5" src="assets/imagenes/manoapp.png" id="img-app-turi">
        </div>
    </div>
    </div>
    <div class="col-lg-4 py-3">
    <div class="row m-0">
        <div class="col-12 text-center">
            <h2 class="color-65 mb-0" id="app-font">App móvil</h2>
            <h3 class="color-65 mb-0" id="turi-font">Turistica</h3>
            <img src="assets/imagenes/flechaizq.jpg" width="50%">
        </div>
        <div class="col-12 pl-lg-3 pl-xl-5 text-center text-lg-left">
            <p class="color-2 ml-lg-5 my-2">Órgano de Línea de segundo nivel organizacional, responsable de proponer y ejecutar la política regional de desarrollo y promoción de la artesanía; así como fomentar las exportaciones de los productos artesanales.</p>
        </div>
        <div class="col-12 col-lg-8 px-5 text-center offset-lg-3">
            <h5 class="color-65 my-3" id="muy-font">MUY PRONTO</h5>
        </div>
        <div class="col-12 col-lg-8 px-5 text-center offset-lg-3">
            <div class="row justify-content-md-center">
            <div class="col-6 pr-1 pl-0">
                <img class="img-app-turismo" src="assets/imagenes/app1.png" width="100%">
            </div>
            <div class="col-6 pl-1 pr-0">
                <img class="img-app-turismo" src="assets/imagenes/app2.png" width="100%">
            </div>
            </div>
        </div>
    </div>
    </div>
    </div>
</div>
</section>

<section>
<div class="container-fluid py-5">
    <div class="row m-0">
    <div class="col-12 text-center color-65 mb-5">
        <h2 class="subutitulo-general mb-0">Rubros</h2>
        <h3 class="subtitulo-delgado mb-0">Turísticos</h3>
        <img src="assets/imagenes/flechader.jpg" width="20%">
    </div>
    <div class="col-12 col-md-6 col-xl-3 text-center mb-5 mb-md-3 mb-xl-0">
        <div class="row m-0">
        <div class="col-12">
            <img class="" src="assets/imagenes/icono6.svg" width="25%" height="77.17">
        </div>
        <div class="col-12">
            <h5 class="color-rojo-turismo subtitulo-rojo-turismo my-3">Alojamiento</h5>
            <h5 class="color-azul numero-font mb-0">4,094</h5>
            <h6 class="subtitulo-deslgado-font">Establecimientos formales</h6>
        </div>
        <div class="col-12">
            <p class="color-2 texto-lineas-rubros">Un hospedaje es un lugar destinado a prestar habitualmente servicio de alojamiento no permanente, para que sus huéspedes pernocten en el local, con la posibilidad de incluir otros servicios complementarios.</p>
        </div>
        <div class="col-12">
            <button class="btn btn-lineas fondo-azul color-blanco px-5 py-0 my-2 btn-fondo-letra-azul" (click)="goAlojamiento ()">Ver</button>
        </div>
        </div>
    </div>
    <div class="col-12 col-md-6 col-xl-3 text-center mb-5 mb-md-3 mb-xl-0">
        <div class="row m-0">
        <div class="col-12">
            <img src="assets/imagenes/icono5.svg" width="25%" height="77.17">
        </div>
        <div class="col-12">
            <h5 class="color-rojo-turismo subtitulo-rojo-turismo my-3">Restaurantes</h5>
            <h5 class="color-azul numero-font mb-0">3,684</h5>
            <h6 class="subtitulo-deslgado-font">Restaurantes autorizados</h6>
        </div>
        <div class="col-12">
            <p class="color-2 texto-lineas-rubros">Establecimiento que expende comidas y bebidas al público, preparadas en el mismo local, prestando el servicio en las condiciones que señala el presente Reglamento y de acuerdo a las normas sanitarias correspondientes.</p>
        </div>
        <div class="col-12">
            <button class="btn btn-lineas fondo-azul color-blanco px-5 py-0 my-2 btn-fondo-letra-azul" (click)="goRestaurante ()">Ver</button>
        </div>
        </div>
    </div>
    <div class="col-12 col-md-6 col-xl-3 text-center mb-5 mb-md-3 mb-xl-0">
        <div class="row m-0">
        <div class="col-12">
            <img class="" src="assets/imagenes/icono4.svg" width="25%" height="77.17">
        </div>
        <div class="col-12">
            <h5 class="color-rojo-turismo subtitulo-rojo-turismo my-3">Agencias de turismo</h5>
            <h5 class="color-azul numero-font mb-0">724</h5>
            <h6 class="subtitulo-deslgado-font">Agencias en supervisadas</h6>
        </div>
        <div class="col-12">
            <p class="color-2 texto-lineas-rubros">Persona natural o jurídica que se dedica al ejercicio de actividades de organización, mediación, coordinación, promoción, asesoría y venta de servicios turísticos, de acuerdo a su clasificación, pudiendo utilizar medios propios o contratados para la prestación de los mismos.</p>
        </div>
        <div class="col-12">
            <button class="btn btn-lineas fondo-azul color-blanco px-5 py-0 my-2 btn-fondo-letra-azul" (click)="goAgencia ()">Ver</button>
        </div>
        </div>
    </div>
    <div class="col-12 col-md-6 col-xl-3 text-center mb-5 mb-md-3 mb-xl-0">
        <div class="row m-0">
        <div class="col-12">
            <img class="" src="assets/imagenes/icono7.svg" width="25%" height="77.17">
        </div>
        <div class="col-12">
            <h5 class="color-rojo-turismo subtitulo-rojo-turismo my-3">Guias de turismo</h5>
            <h5 class="color-azul numero-font mb-0">7,233</h5>
            <h6 class="subtitulo-deslgado-font">Guias en habilitados</h6>
        </div>
        <div class="col-12">
            <p class="color-2 texto-lineas-rubros">Un hospedaje es un lugar destinado a prestar habitualmente servicio de alojamiento no permanente, para que sus huéspedes pernocten en el local, con la posibilidad de incluir otros servicios complementarios.</p>
        </div>
        <div class="col-12">
            <button class="btn btn-lineas fondo-azul color-blanco px-5 py-0 my-2 btn-fondo-letra-azul" (click)="goGuia ()">Ver</button>
        </div>
        </div>
    </div>
    </div>
</div>
</section>

<section>
<div class="container-fluid my-5 px-0 px-xl-5">
    <div class="row m-0">
    <div class="col-12  text-center color-65 mb-5">
        <h2 class="subutitulo-general mb-0">Cusco</h2>
        <h3 class="subtitulo-delgado mb-0">en 360</h3>
        <img src="assets/imagenes/flechader.jpg" width="20%">
    </div>
    <div class="col-lg-6 px-lg-1">
        <div>
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/bsdrcM4wBeQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>    
        </div>
    </div>
    <div class="col-lg-6 px-lg-1">
        <div>
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/JwcDlT33eE0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
    </div>
</div>
</section>

<section>
<div class="container-fluid px-0 py-5">
    <div class="row m-0">
    <div class="col-12 col-lg-4 px-0 order-2 order-lg-0">
        <img src="assets/imagenes/social.png" width="100%" height="100%">
    </div>
    <div class="col-12 col-lg-8 fondo-azul color-blanco py-5 px-sm-5">
        <div class="row m-0">
        <div class="col-lg-4 text-center mt-4">
            <h2 class="subutitulo-general mb-0">Turismo</h2>
            <h3 class="subtitulo-delgado">Social</h3>
            <img src="assets/imagenes/arrow.png" width="70%" style="transform: rotate(-180deg);">
        </div>
        <div class="col-12 col-lg-10 text-center text-lg-left">
            <p class="texto-turismo my-4">La Dirección de Comercio Exterior y Turismo a través de la Dirección de Turismo pone a disposición de los usuarios información para el sector turismo y de todos aquellos programas y acciones que se vienen realizando para alcanzar un turismo sostenible en el tiempo, lograr que el ejercicio turístico se convierta en una fuente que genere inversiones y deje recursos en la Región Cusco</p>
            <button class="btn btn-funciones px-5 mt-2 py-1 btn-fondo-letra-azul">Explorar</button>
        </div>
        </div>
    </div>
    </div>
</div>
</section>

<section class="my-4">
<div class="container-fluid">
    <div class="row m-0">
    <div class="col-12 text-center color-65">
        <h2 class="mb-0 subutitulo-general">Cusco</h2>
        <h3 class="subtitulo-delgado mb-0">En numeros</h3>
        <img src="assets/imagenes/flechader.jpg" width="20%">
    </div>
    <div class="col-md-6 col-xl-3 color-azul text-center px-4 my-5">
        <div class="row m-0">
        <div class="col-12">
            <h3 class="number-cusco-altura counter">0</h3>
        </div>
        <div class="col-12 px-5">
            <p class="texto-turismo interliniado-numer">Prestadores de servicios turísticos</p>
        </div>
        </div>
    </div>
        <div class="col-md-6 col-xl-3 color-azul text-center px-4 my-5">
        <div class="row m-0">
        <div class="col-12">
            <h3 class="number-cusco-altura counter">0</h3>
        </div>
        <div class="col-12 px-5">
            <p class="texto-turismo interliniado-numer">Turistas visitaron a Cusco este año</p>
        </div>
        </div>
    </div>
        <div class="col-md-6 col-xl-3 color-azul text-center px-4 my-5">
        <div class="row m-0">
        <div class="col-12">
            <h3 class="number-cusco-altura counter">0</h3>
        </div>
        <div class="col-12 px-5">
            <p class="texto-turismo interliniado-numer">Prestadores de servicios turísticos</p>
        </div>
        </div>
    </div>
        <div class="col-md-6 col-xl-3 color-azul text-center px-4 my-5">
        <div class="row m-0">
        <div class="col-12">
            <h3 class="number-cusco-altura counter">0</h3>
        </div>
        <div class="col-12 px-5">
            <p class="texto-turismo interliniado-numer">Prestadores de servicios turísticos</p>
        </div>
        </div>
    </div>
    </div>
</div>
</section>

<section>
<div class="container-fluid px-0 py-5">
    <div class="row m-0">
    <div class="col-12 text-center px-0">
        <h2 class="subutitulo-general mb-0 color-65">IMAGENES</h2>
        <h3 class="subtitulo-delgado mb-0 color-65">TURISTICAS</h3>
        <img src="assets/imagenes/flechader.jpg" width="20%">
        <p class="texto-turismo color-81">Cusco lo tiene todo, vive experiencias únicas en nuestra maravillosa tierra.</p>
    </div>
    <div class="col-12 px-0 my-1">
        <div class="carousel-home">
            <img src="assets/imagenes/carousel1.png" class="carousel-cell px-1" height="100%"  alt="carousel1">
            <img src="assets/imagenes/carousel2.png" class="carousel-cell px-1" height="100%"  alt="carousel2">
            <img src="assets/imagenes/carousel3.png" class="carousel-cell px-1" height="100%"  alt="carousel3">
            <img src="assets/imagenes/carousel4.png" class="carousel-cell px-1" height="100%"  alt="carousel4">
            <img src="assets/imagenes/carousel10.png" class="carousel-cell px-1" height="100%"  alt="carousel10">
            <img src="assets/imagenes/carousel6.png" class="carousel-cell px-1" height="100%"  alt="carousel6">
            <img src="assets/imagenes/carousel7.png" class="carousel-cell px-1" height="100%"  alt="carousel7">
            <img src="assets/imagenes/carousel8.png" class="carousel-cell px-1" height="100%"  alt="carousel2">
            <img src="assets/imagenes/carousel2.png" class="carousel-cell px-1" height="100%"  alt="carousel2">
            <img src="assets/imagenes/carousel3.png" class="carousel-cell px-1" height="100%"  alt="carousel3">
            <img src="assets/imagenes/carousel4.png" class="carousel-cell px-1" height="100%"  alt="carousel4">
            <img src="assets/imagenes/carousel10.png" class="carousel-cell px-1" height="100%"  alt="carousel10">
            <img src="assets/imagenes/carousel6.png" class="carousel-cell px-1" height="100%"  alt="carousel6">
            <img src="assets/imagenes/carousel7.png" class="carousel-cell px-1" height="100%"  alt="carousel7">
            <img src="assets/imagenes/carousel8.png" class="carousel-cell px-1" height="100%"  alt="carousel2">
            <img src="assets/imagenes/carousel2.png" class="carousel-cell px-1" height="100%"  alt="carousel2">
        </div>
    </div>
    <div class="col-12 px-0 my-1">
        <div class="carousel-home">
            <img src="assets/imagenes/carousel11.png" class="carousel-cell px-1" height="100%" alt="carousel1">
            <img src="assets/imagenes/carousel8.png" class="carousel-cell px-1" height="100%" alt="carousel2">
            <img src="assets/imagenes/carousel13.png" class="carousel-cell px-1" height="100%" alt="carousel3">
            <img src="assets/imagenes/carousel14.png" class="carousel-cell px-1" height="100%" alt="carousel4">
            <img src="assets/imagenes/carousel10.png" class="carousel-cell px-1" height="100%" alt="carousel10">
            <img src="assets/imagenes/carousel6.png" class="carousel-cell px-1" height="100%" alt="carousel6">
            <img src="assets/imagenes/carousel7.png" class="carousel-cell px-1" height="100%" alt="carousel7">
            <img src="assets/imagenes/carousel1.png" class="carousel-cell px-1" height="100%" alt="carousel1">
            <img src="assets/imagenes/carousel2.png" class="carousel-cell px-1" height="100%" alt="carousel2">
            <img src="assets/imagenes/carousel3.png" class="carousel-cell px-1" height="100%" alt="carousel3">
        </div>
    </div>
    <div class="col-12 px-0 my-1">
        <div class="carousel-home">
            <img src="assets/imagenes/carousel1.png" class="carousel-cell px-1" height="100%" alt="carousel1">
            <img src="assets/imagenes/carousel2.png" class="carousel-cell px-1" height="100%" alt="carousel2">
            <img src="assets/imagenes/carousel3.png" class="carousel-cell px-1" height="100%" alt="carousel3">
            <img src="assets/imagenes/carousel4.png" class="carousel-cell px-1" height="100%" alt="carousel4">
            <img src="assets/imagenes/carousel10.png" class="carousel-cell px-1" height="100%" alt="carousel10">
            <img src="assets/imagenes/carousel6.png" class="carousel-cell px-1" height="100%" alt="carousel6">
            <img src="assets/imagenes/carousel7.png" class="carousel-cell px-1" height="100%" alt="carousel7">
            <img src="assets/imagenes/carousel8.png" class="carousel-cell px-1" height="100%" alt="carousel2">
            <img src="assets/imagenes/carousel14.png" class="carousel-cell px-1" height="100%" alt="carousel4">
        </div>
    </div>
    </div>
</div>
</section>

<section>
<div class="container-fluid px-0">
    <div class="row m-0">
    <div class="col-12 col-lg-8 fondo-rojo color-blanco py-5 px-sm-5">
        <div class="row m-0">
        <div class="col-lg-6 col-xl-5 text-center mt-4">
            <h2 class="subutitulo-general mb-0">Turismo</h2>
            <h3 class="subtitulo-delgado">Rural comunitario</h3>
            <img src="assets/imagenes/arrow.png" width="70%" style="transform: rotate(-180deg);">
        </div>
        <div class="col-12 col-lg-10 text-center text-lg-left">
            <p class="texto-turismo my-4">La Dirección de Comercio Exterior y Turismo a través de la Dirección de Turismo pone a disposición de los usuarios información para el sector turismo y de todos aquellos programas y acciones que se vienen realizando para alcanzar un turismo sostenible en el tiempo, lograr que el ejercicio turístico se convierta en una fuente que genere inversiones y deje recursos en la Región Cusco</p>
            <button class="btn btn-funciones px-5 mt-2 py-1 btn-fondo-letra-rojo">Explorar</button>
        </div>
        </div>
    </div>
    <div class="col-lg-4 px-0">
        <img src="assets/imagenes/carousel14.png" width="100%" height="100%">
    </div>
    </div>
</div>
</section>

<section class="contac-fondo-exterior">
<div class="container-fluid py-5" style="background-color: #00000070;">
    <div class="row m-0">
    <div class="col-sm-6 col-md-5 col-lg-4 offset-sm-3 offset-md-0 px-lg-5 text-center my-5">
        <h2 class="color-blanco subutitulo-general mb-0">Contactate</h2>
        <h3 class="color-blanco subtitulo-delgado mb-0">Turismo</h3>
        <img src="assets/imagenes/arrow.png" width="100%" style="transform: rotate(-180deg);">
    </div>
    <div class="col-md-7 col-lg-6 offset-lg-1 my-5">
        <div class="row m-0">
        <div class="col-12 color-blanco text-center text-md-left">
            <p class="mb-0 subutitulo-general">Ubicación</p>
            <p class="texto-turismo">Plaza Túpac Amaru Mz. Lote 2 ,<br> Wanchaq, Cusco, Tercer Piso.</p>
        </div>
        <div class="col-12 color-blanco text-center text-md-left">
            <p class="mb-0 subutitulo-general">Llamanos</p>
            <p class="texto-turismo">+51 (84) 223761</p>
        </div>
        <div class="col-12 color-blanco text-center text-md-left">
            <p class="mb-0 subutitulo-general mb-3">Escribenos</p>
        </div>
        <div class="col-sm-6 pr-md-1 mb-2 mb-sm-0">
            <input class="color-fondo px-3 py-2 anchura-inpu" type="text" placeholder="¿Cuál es su nombre?">
        </div>
        <div class="col-sm-6 pl-md-1">
            <input class="color-fondo px-3 py-2 anchura-inpu"  type="text" placeholder="¿Cuál es su correo?">
        </div>
        <div class="col-12 mt-2 anchura-contac-input">
            <textarea class=" color-fondo px-3 py-2" aria-label="With textarea" placeholder="Escribe su mensaje aqui" style="width: 100%;height: 100%"></textarea>
        </div>
        <div class="col-12 mt-2">
            <button class="btn py-2 fondo-rojo-contac">Enviar</button>
        </div>
        </div>
    </div>
    </div>
</div>
</section>
