<section>
  <!--angular-editor></angular-editor-->
  <nav class="navbar navbar-light navbar-expand-lg  py-xl-3" style="background-color: #FFFFFF; position: relative; box-shadow: 0px 3px 6px #00000029;">
   <div class="container-fluid justify-content-end justify-content-lg-start">
      <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
       <div class="collapse navbar-collapse"
           id="navcol-1">
           <div class="row m-0" style="width: 100%">
             <div class="col-xl-8 pl-xl-5 pr-xl-0 py-xl-2">
               <ul class="nav navbar-nav ocultar-menu dercha-list-menu  mt-xl-1" >
               <li class="nav-item">
                  <a class="nav-link color-letra-menu" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dircetur
                  </a>
                  <div style="width: 13rem;" class="dropdown-menu pt-0 ml-lg-1 ml-xl-4 bajar-submenu ml-3 ml-lg-0" aria-labelledby="navbarDropdown">
                    <div class="color-axul-menu"></div>
                    <a class="dropdown-item despliagable-font my-1" (click)="goSobreDIR ()">Sobre DIRCETUR</a>
                    <div class="color-megro-menu ml-4"></div>
                    <a class="dropdown-item despliagable-font my-1" (click)="goTransparenciaInst ()">Trasparencia institucional</a>
                    <div class="color-megro-menu ml-4"></div>
                    <a class="dropdown-item despliagable-font my-1" href="http://www.transparencia.gob.pe/enlaces/pte_transparencia_enlaces.aspx?id_entidad=13895#.XXwtq5MzaYU" target="_blank">Portal de transparencia</a>
                  </div>
                </li>
               <li class="nav-item ml-lg-4 ml-xl-0" role="presentation"><a class="nav-link color-letra-menu" href="#" id="dropdownstMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Servicios turísticos</a>
                 <div style="width: 13rem;" class="dropdown-menu pt-0 bajar-submenu" aria-labelledby="dropdownstMenu2" id="desplaigable-servicios">
                   <div class="color-axul-menu"></div>
                   <a class="dropdown-item despliagable-font my-1" (click)="goBoletoTuristico ()">Boleto turistico</a>
                   <div class="color-megro-menu ml-4"></div>
                   <a class="dropdown-item despliagable-font my-1" (click)="goTurismoSocial ()">Turismo social</a>
                   <div class="color-megro-menu ml-4"></div>
                   <a class="dropdown-item despliagable-font my-1" (click)="goCircuitosTuristicos ()">Circuitos turísticos</a>
                   <div class="color-megro-menu ml-4"></div>
                   <a class="dropdown-item despliagable-font my-1" (click)="goTurismoRural ()">Turismo rural-comunitario</a>
                 </div>
               </li>
               <li class="nav-item ml-lg-4 ml-xl-0" role="presentation"><a class="nav-link color-letra-menu" href="#" id="dropdownldMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Lineas de dirección</a>
                  <div style="width: 13rem;" class="dropdown-menu pt-0 bajar-submenu" aria-labelledby="dropdownldMenu2" id="desplaigable-lineas">
                   <div class="color-axul-menu"></div>
                   <a class="dropdown-item despliagable-font my-1" (click)="goTurismo ()">Turismo</a>
                   <div class="color-megro-menu ml-4"></div>
                   <a class="dropdown-item despliagable-font my-1" (click)="goComercioExterior ()">Comercio exterior</a>
                   <div class="color-megro-menu ml-4"></div>
                   <a class="dropdown-item despliagable-font my-1" (click)="goArtesania ()">Artesania</a>
                 </div>
               </li>
               <li class="nav-item ml-lg-4 ml-xl-0" role="presentation"><a class="nav-link color-letra-menu" href="#" id="dropdowncMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Comunicacion</a>
                 <div style="width: 13rem;" class="dropdown-menu pt-0 bajar-submenu" aria-labelledby="dropdowncMenu2" id="desplaigable-comunicacion">
                   <div class="color-axul-menu"></div>
                   <div *ngFor="let categoria of Categorias; let i=index; let longitud=count">
                    <a class="dropdown-item despliagable-font my-1" (click)="goBlogs (categoria.id)">{{categoria.nombre}}</a>
                    <div *ngIf="i<longitud-1" class="color-megro-menu ml-4"></div>
                   </div>
                 </div>
               </li>
               <li class="nav-item ml-lg-4 ml-xl-0" role="presentation"><a class="nav-link color-letra-menu" (click)="goContacto ()" style="cursor: pointer;">Contacto</a></li>
               <li class="nav-item ml-lg-4 ml-xl-0" role="presentation"><a class="nav-link color-letra-menu" href="#" id="dropdowniMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ingresar</a>
                 <div style="width: 13rem;" class="dropdown-menu pt-0 bajar-submenu" aria-labelledby="dropdowniMenu2" id="desplaigable-ingresar">
                   <div class="color-axul-menu"></div>
                   <a class="dropdown-item despliagable-font my-1" href="">Proveedores</a>
                   <div class="color-megro-menu ml-4"></div>
                   <a class="dropdown-item despliagable-font my-1" href="">Municipalidades</a>
                 </div>
               </li>

               <li class="nav-item ml-lg-4 ml-xl-0" role="presentation"><a class="nav-link color-letra-menu" href="#" id="dropdowniMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Idioma</a>
                <div style="width: 13rem;" class="dropdown-menu pt-0 bajar-submenu" aria-labelledby="dropdowniMenu2" id="desplaigable-ingresar">
                  <div class="color-axul-menu"></div>
                  <a class="dropdown-item despliagable-font my-1" (click)="cambio_idioma ('es')">
                    Español
                  </a>
                  <div class="color-megro-menu ml-4"></div>

                  <a class="dropdown-item despliagable-font my-1" (click)="cambio_idioma ('en')">
                    Ingles
                  </a>
                </div>
              </li>

               <li class="nav-item py-2 padding-0 ml-lg-4 ml-xl-0" role="presentation">
                 <input class="mt-1  color-letra-menu" type="text" name="focus" required class="search-box" placeholder="Busca contenidos en la web…" id="largo-buscador" style="display: none;" />
                   <i class="fa fa-search color-letra-menu px-3" id="icono-btn-home" style="border-left: 1px solid #8B8B8B;" ></i>
               </li>
               </ul>
             </div>
             <div class="col-xl-4 pr-5 ocultar-img-menu">
             <div class="row m-0">
               <div class="col-6 mt-2" (click)="openDialogImagen ('logo_dicertur', imagenes?.logo_dicertur)">
                  <img [src]="imagenes?.logo_dicertur.img" width="90%" >
               </div>
               <div class="col-6 mt-2">
                  <img src="assets/imagenes/logoportal.png" width="70%">
               </div>
             </div>
           </div>
           </div>
       </div>
   </div>
</nav>
</section>
<section style="position: relative;">
  <!--video playsinline autoplay muted loop id="video_background" preload="auto" width="100%">
  <source src="assets/imagenes/mapi-y-cusco.mp4" type="video/mp4" />
  </video-->

  <!--section id="home-banner-box" class="home-banner loading" style="height: 700px;">
    <div class="image video-slide" style="background-image: url(/assets/imagenes/fondo-video.jpg)">
      <div class="video-background">
        <div class="video-foreground" id="YouTubeBackgroundVideoPlayer">
        </div>
      </div>
    </div>
  </section>
  
  <script async src="https://www.youtube.com/iframe_api"></script>
  <script async src="assets/js/video.js"></script-->

<div id="imagen-prueba" class="loading-img" style="width: 100%;">
  <img id="imagen-prueba2" src="/assets/imagenes/fondo-video.jpg" class="img-loader loading-img">

</div>
 <div class="loading" id="video-prueba" style="width: 100%;">
    <div id="player">
    </div>
    <div id="home-banner-box" class="home-banner">
        <div class="video-background">
          
        </div>
    </div>
 </div>
  
  

  <div class="container-fluid p-0" id="subir">
      <div class="row m-0">
          <div class="col-12 col-sm-6 col-md-6 pr-0 pl-0 text-center text-sm-left">
            <div id="fondo-rojo-home">
               <div class="container">
                   <div class="row">
                   <div class="col-4 col-md-6 col-xl-5 offset-4 offset-sm-0 mt-1">
                      <img [src]="imagenes?.home_imagen_titulo.img" width="100%" id="logoblanco" (click)="openDialogImagen ('home_imagen_titulo', imagenes?.home_imagen_titulo)">
                      <img src="assets/imagenes/logomenu.png" width="100%" id="logonegro" (click)="openDialogImagen ('home_imagen_titulo', etiquetas?.home_imagen_titulo)">
                   </div>

                   <div class="col-12" id="bajar-titulo" (click)="openDialog ('home_titulo', etiquetas?.home_titulo, 0)">
                      <h1 *ngIf="etiquetas?.home_titulo" class="color-letra-blanco mb-0" id="titulo-altura">{{ etiquetas?.home_titulo }}</h1>
                      <h1 *ngIf="!etiquetas?.home_titulo" class="color-letra-blanco mb-0" id="titulo-altura">home_titulo</h1>
                   </div>

                   <div class="col-12 col-sm-10 col-xl-8" (click)="openDialog ('home_subtitulo', etiquetas?.home_subtitulo, 0)">
                       <p *ngIf="etiquetas?.home_subtitulo" class="color-letra-blanco mb-0" id="texto-altura">{{ etiquetas?.home_subtitulo }}</p>
                       <p *ngIf="!etiquetas?.home_subtitulo" class="color-letra-blanco mb-0" id="texto-altura">home_subtitulo</p>
                   </div>

                   <div class="col-12 mt-sm-5 py-2 px-3" id="sombra-buscador" (click)="openDialog ('home_buscador_placeholder', etiquetas?.home_buscador_placeholder, 0)">
                     <div class="py-2 px-2" id="col-buscardor">
                       <div class="row m-0">
                        <div class="col-1 px-0 text-center">
                          <i class="fa fa-search color-letra-menu" id="icono-btn-home"></i>
                        </div>
                        <div class="col-10 px-0">
                          <input type="text" name="focus" required class="search-box px-2" [placeholder]="etiquetas?.home_buscador_placeholder" id="col-buscardor-largo" />
                        </div>
                        <div class="col-1 px-0 text-center">
                          <i class="fa fa-question-circle color-letra-menu btn" placement="top" ngbTooltip="Busca tus proveedores turiscos y comprueba si son formales" container="body"></i>
                        </div>
                      </div>
                     </div>
                   </div>
               </div>
               </div>
            </div>
          </div>
        <div class="col-10 col-sm-3 col-md-3 col-xl-2 offset-1 offset-sm-9 offset-md-3 offset-xl-4 p-0" id="bajar-logos">
             <div style="background-color: #ffffffad">
               <div class="row m-0">
                  <div class="col-6 col-md-6 px-2 py-3">
                      <img src="assets/imagenes/logocusco.png" width="100%">
                  </div>
                  <div class="col-6 col-md-6 px-2 py-3">
                      <img src="assets/imagenes/logoportal.png" width="100%">
                  </div>
              </div>  
             </div>
          </div>
      </div>
  </div>
</section>
<section class="my-lg-5">
<div class="container p-0 py-5">
   <div class="row m-0">
       <div class="col-sm-4 pl-0 text-center py-5 py-lg-4 mt-sm-5 mt-md-0">
           <div class="row m-0">
               <div class="col-12">
                 <div (click)="openDialog ('home_que_es', etiquetas?.home_que_es, 0)">
                   <h2 *ngIf="etiquetas?.home_que_es" class="mb-0 subtitulo-font">{{ etiquetas?.home_que_es }}</h2>
                   <h2 *ngIf="!etiquetas?.home_que_es" class="mb-0 subtitulo-font">home_que_es</h2>
                  </div>
                 <div (click)="openDialog ('home_dicertur', etiquetas?.home_dicertur, 0)">
                   <h3 *ngIf="etiquetas?.home_dicertur" class="mb-0 subtitulo-2-font">{{ etiquetas?.home_dicertur }}</h3>
                   <h3 *ngIf="!etiquetas?.home_dicertur"  class="mb-0 subtitulo-2-font">DIRCETUR</h3>
                  </div>
               </div>
               <div class="col-12 my-3">
                 <img src="assets/imagenes/flechader.jpg" width="100%">
               </div>
               <div class="col-12" (click)="openDialog ('home_sobre_nosotros', etiquetas?.home_sobre_nosotros, 0)">
                   <p *ngIf="etiquetas?.home_sobre_nosotros" class="mb-0 sobre-font">{{ etiquetas?.home_sobre_nosotros }}</p>
                   <p *ngIf="!etiquetas?.home_sobre_nosotros" class="mb-0 sobre-font">home_sobre_nosotros</p>
               </div>
           </div>
       </div>
       <div class="col-sm-8" (click)="openDialog ('home_parrafo_detalle_01', etiquetas?.home_parrafo_detalle_01, 1)">
          <div *ngIf="etiquetas?.home_parrafo_detalle_01" [innerHtml]="etiquetas?.home_parrafo_detalle_01">
          </div>
          <div *ngIf="!etiquetas?.home_parrafo_detalle_01">
              home_parrafo_detalle_01
          </div>
       </div>
   </div>
</div>
</section>
<section class="mb-5">
   <div class="container-fluid px-sm-5">
      <div class="row m-0">
        <div class="col-12 text-center">
          <div>
              <h2 id="subtitulo-noticia-font">
                <span (click)="openDialog ('home_noticias', etiquetas?.home_noticias, 0)">
                  <span *ngIf="etiquetas?.home_noticias">{{ etiquetas?.home_noticias }}</span>
                  <span *ngIf="!etiquetas?.home_noticias">Noticias</span>
                </span>
                <span (click)="openDialog ('home_dicertur_1', etiquetas?.home_dicertur_1, 0)">
                  <span *ngIf="etiquetas?.home_dicertur_1" class="ml-1" id="suntitulo-dicertur-font">{{ etiquetas?.home_dicertur_1 }}</span>
                  <span *ngIf="!etiquetas?.home_dicertur_1" class="ml-1" id="suntitulo-dicertur-font">Dicertur</span>
                </span> 
                </h2>
          </div>
            
        </div>
        <div class="col-sm-6 col-xl-3 mt-5 px-0" *ngFor="let blog of Blogs; let i=index">
            <div class="row m-0" *ngIf="i<5">
                <div class="col-12 px-0 img-blog-home" data-aos="flip-left"  data-aos-offset="300" data-aos-easing="ease-in-sine" [ngStyle]="{'background-image': 'url('+ blog?.datageneral.imagen +')'}">
                    
                </div>
                <div class="col-12 mt-2 pl-xl-0 mb-0">
                    <h3 class="noticias-font mb-0 text-noticia-tituto">{{blog.datageneral.titulo}}</h3>
                </div>
                <div class="col-12 px-0 px-lg-3 px-xl-0">
                    <div class="row m-0">
                        <div class="col-6 col-md-2 pl-lg-0  pr-lg-0 ">
                            <p class="mb-1"><small class="fecha-eventos-font">{{blog.datageneral.categoria.nombre}}</small></p>
                        </div>
                        <div class="col-6 col-md-3 col-xl-3 pl-xl-2 pr-lg-0">
                            <p class="mb-1"><small class="fecha-eventos-font">{{ formatoFecha1(blog.datageneral.fecha_creado) }}</small></p>
                        </div>
                        <div class="col-12 col-md-7 col-xl-5 pl-lg-0 pl-xl-2 pr-0">
                            <p class="mb-2 mb-sm-0">
                              <small class="fecha-eventos-font text-autor-noticias mt-md-1">
                                {{ blog.datageneral.autor }}
                              </small>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 pr-md-4 pl-xl-0 textoeventos-font text-justify text-md-left text-noticia-alto">
                    <!--[innerHtml]-->
                    {{blog.datageneral.resumen}}
                </div>
                <div class="col-12 px-xl-0 my-3">
                  <div (click)="openDialog ('home_noticias_link_leer', etiquetas?.home_noticias_link_leer, 0)">
                      <a *ngIf="etiquetas?.home_noticias_link_leer" class="btn btn-leer-altura"  style="cursor: pointer; color: #FFFFFF;">{{ etiquetas?.home_noticias_link_leer }} </a>
                      <a *ngIf="!etiquetas?.home_noticias_link_leer" class="btn btn-leer-altura" style="cursor: pointer; color: #FFFFFF;">home_noticias_link_leer</a>
                  </div>
                </div>
            </div>
        </div>
      
      </div> 
   </div>
</section>
<section class="mt-5" style="position: relative">
   <div class="container-fluid px-0 mt-5">
      <div class="row m-0">
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 order-2 order-lg-0 px-0  mt-lg-3">
              <div class="row m-0">
                  <div class="col-12 px-0" (click)="openDialogImagen ('home_lineas_turismo_img', imagenes?.home_lineas_turismo_img)">
                      <img [src]="imagenes?.home_lineas_turismo_img.img" width="100%" class="">
                  </div>
                  <div class="col-10 offset-2 px-0 mt-n5 text-center">
                      <div class="linea-backgraund mt-n4 py-2">
                        <div (click)="openDialog ('home_lineas_turismo', etiquetas?.home_lineas_turismo, 0)">
                            <h3 *ngIf="etiquetas?.home_lineas_turismo" class="linea-font">{{ etiquetas?.home_lineas_turismo }}</h3>
                            <h3 *ngIf="!etiquetas?.home_lineas_turismo" class="linea-font">Turismo</h3>
                        </div>
                      </div>
                  </div>
                    <div class="row m-0">
                     <div class="col-12 text-center mb-5 mb-md-3 mb-lg-3 mb-xl-5">
                       <div (click)="openDialog ('home_lineas_turismo_1', etiquetas?.home_lineas_turismo_1, 0)">
                          <h3 *ngIf="etiquetas?.home_lineas_turismo_1" class="">{{ etiquetas?.home_lineas_turismo_1 }}</h3>
                          <h3 *ngIf="!etiquetas?.home_lineas_turismo_1" class="">Turismo</h3>
                       </div>
                  </div>
                  <div class="col-12 col-lg-12  text-center px-xl-5">
                    <div (click)="openDialog ('home_lineas_turismo_texto', etiquetas?.home_lineas_turismo_texto, 1)">
                        <div *ngIf="etiquetas?.home_lineas_turismo_texto" [innerHtml]="etiquetas?.home_lineas_turismo_texto"></div>
                        <div *ngIf="!etiquetas?.home_lineas_turismo_texto">home_lineas_turismo_texto</div>
                    </div>
                  </div>
                  <div class="col-6 offset-3 mt-xl-2">
                    <div  (click)="openDialog ('home_lineas_turismo_btn', etiquetas?.home_lineas_turismo_btn, 0)">
                        <button *ngIf="etiquetas?.home_lineas_turismo_btn"  class="btn btn-line-backgraound">{{ etiquetas?.home_lineas_turismo_btn }}</button>
                        <button *ngIf="!etiquetas?.home_lineas_turismo_btn"  class="btn btn-line-backgraound">Ver mas</button>
                    </div>
                  </div>
                  </div>
              </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 order-3 order-lg-0 px-0  mt-lg-3">
              <div class="row m-0">
                  <div class="col-12 px-0" (click)="openDialogImagen ('home_lineas_comercioexterior_img', imagenes?.home_lineas_comercioexterior_img)">
                      <img [src]="imagenes?.home_lineas_comercioexterior_img.img" width="100%" class="">
                  </div>
                  <div class="col-10 offset-2 px-0 mt-n5 text-center">
                      <div class="linea-backgraund mt-n4 py-2">
                        <div (click)="openDialog ('home_lineas_comercioexterior', etiquetas?.home_lineas_comercioexterior, 0)">
                            <h3 *ngIf="etiquetas?.home_lineas_comercioexterior" class="linea-font">{{ etiquetas?.home_lineas_comercioexterior }}</h3>
                            <h3 *ngIf="!etiquetas?.home_lineas_comercioexterior" class="linea-font">Comercio exterior</h3>
                        </div>
                      </div>
                  </div>
                   <div class="row m-0">
                     <div class="col-12 text-center mb-5 mb-md-3 mb-lg-3 mb-xl-5">
                       <div (click)="openDialog ('home_lineas_comercioexterior_1', etiquetas?.home_lineas_comercioexterior_1, 0)">
                         <h3 *ngIf="etiquetas?.home_lineas_comercioexterior" class="">{{ etiquetas?.home_lineas_comercioexterior_1 }}</h3>
                         <h3 *ngIf="!etiquetas?.home_lineas_comercioexterior" class="">Comercio exterior</h3>
                       </div>
                  </div>
                  <div class="col-12 col-lg-12  text-center px-xl-5">
                    <div (click)="openDialog ('home_lineas_comercioexterior_texto', etiquetas?.home_lineas_comercioexterior_texto, 1)"> 
                     <div *ngIf="etiquetas?.home_lineas_comercioexterior_texto" [innerHtml]="etiquetas?.home_lineas_comercioexterior_texto"></div>
                     <div *ngIf="!etiquetas?.home_lineas_comercioexterior_texto">home_lineas_comercioexterior_texto</div>
                  </div>
                  </div>
                  <div class="col-6 offset-3 mt-xl-2" (click)="openDialog ('home_lineas_comercioexterior_btn', etiquetas?.home_lineas_comercioexterior_btn, 0)">
                      <button  *ngIf="etiquetas?.home_lineas_comercioexterior_btn" class="btn btn-line-backgraound" >{{ etiquetas?.home_lineas_comercioexterior_btn }}</button>
                      <button  *ngIf="!etiquetas?.home_lineas_comercioexterior_btn" class="btn btn-line-backgraound" >Ver mas</button>
                  </div>
                  </div>
              </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 order-4 order-lg-0 px-0 mt-lg-3">
              <div class="row m-0">
                  <div class="col-12 px-0"  (click)="openDialogImagen ('home_lineas_artesania_img', imagenes?.home_lineas_artesania_img)">
                      <img [src]="imagenes?.home_lineas_artesania_img.img" width="100%" class="">
                  </div>
                  <div class="col-10 offset-2 px-0 mt-n5 text-center">
                      <div class="linea-backgraund mt-n4 py-2">
                        <div (click)="openDialog ('home_lineas_artesania', etiquetas?.home_lineas_artesania, 0)">
                           <h3 *ngIf="etiquetas?.home_lineas_artesania" class="linea-font">{{ etiquetas?.home_lineas_artesania }}</h3>
                           <h3 *ngIf="!etiquetas?.home_lineas_artesania" class="linea-font">Artesanía</h3>
                        </div>
                      </div>
                  </div>
                   <div class="row m-0">
                     <div class="col-12 text-center mb-5 mb-md-3 mb-lg-3 mb-xl-5">
                       <div (click)="openDialog ('home_lineas_artesania_1', etiquetas?.home_lineas_artesania_1, 0)">
                         <h3 *ngIf="etiquetas?.home_lineas_artesania_1" class="">{{ etiquetas?.home_lineas_artesania_1 }}</h3>
                         <h3 *ngIf="!etiquetas?.home_lineas_artesania_1" class="">Artesanía</h3>
                       </div>
                  </div>
                  <div class="col-12 col-lg-12  text-center px-xl-5" (click)="openDialog ('home_lineas_artesania_texto', etiquetas?.home_lineas_artesania_texto, 1)">
                      <div  *ngIf="etiquetas?.home_lineas_artesania_texto"  [innerHtml]="etiquetas?.home_lineas_artesania_texto"></div>
                      <div *ngIf="!etiquetas?.home_lineas_artesania_texto">home_lineas_artesania_texto</div>
                  </div>
                  <div class="col-6 offset-3 mt-xl-2" (click)="openDialog ('home_lineas_artesania_btn', etiquetas?.home_lineas_artesania_btn, 0)">
                      <button *ngIf="etiquetas?.home_lineas_artesania_btn" class="btn btn-line-backgraound" >{{ etiquetas?.home_lineas_artesania_btn }}</button>
                      <button *ngIf="!etiquetas?.home_lineas_artesania_btn" class="btn btn-line-backgraound" >home_lineas_artesania_btn</button>
                  </div>
                  </div>
              </div>
          </div>
          <div class="col-12 col-lg-3  px-4 text-center py-4">
           <div class="row m-0">
               <div class="col-12" id="bajar-linea">
                 <div (click)="openDialog ('home_lineas_titulo', etiquetas?.home_lineas_titulo, 0)">
                   <h2 *ngIf="etiquetas?.home_lineas_titulo" class="mb-0 subtitulo-font" >{{ etiquetas?.home_lineas_titulo }}</h2>
                   <h2 *ngIf="!etiquetas?.home_lineas_titulo" class="mb-0 subtitulo-font" >home_lineas_titulo</h2>
                 </div>
                 <div (click)="openDialog ('home_lineas_subtitulo', etiquetas?.home_lineas_subtitulo, 0)">
                   <h3 *ngIf="etiquetas?.home_lineas_subtitulo" class="mb-0 subtitulo-2-font">{{ etiquetas?.home_lineas_subtitulo }}</h3>
                   <h3 *ngIf="!etiquetas?.home_lineas_subtitulo" class="mb-0 subtitulo-2-font">home_lineas_subtitulo</h3>
                 </div>  
               </div>
               <div class="col-12 my-3">
                  <img src="assets/imagenes/flechaizq.jpg" width="100%">
               </div>
               <div class="col-12 mt-1" (click)="openDialog ('home_lineas_que_hacemos', etiquetas?.home_lineas_que_hacemos, 0)">
                   <p *ngIf="etiquetas?.home_lineas_que_hacemos" class="mb-0 sobre-font" id="hacemos-fontsize">{{ etiquetas?.home_lineas_que_hacemos }}</p>
                   <p *ngIf="!etiquetas?.home_lineas_que_hacemos" class="mb-0 sobre-font" id="hacemos-fontsize">home_lineas_que_hacemos</p>
               </div>
           </div>
       </div>
      </div>
   </div>
</section>
<section>
   <div class="container-fluid px-0">
      <div class="row m-0">
        <div class="col-12 col-sm-6 order-2 order-lg-0 col-lg-3 px-0 text-center mt-sm-n5 mt-lg-0">
          <div class="espacios-cuadros rojo-fondo">
              <div class="row m-0">
                  <div class="col-12 px-0">
                    <div (click)="openDialog ('home_proteccion', etiquetas?.home_proteccion, 0)">
                      <h3 *ngIf="etiquetas?.home_proteccion" class="pro-ser-font mb-0">{{ etiquetas?.home_proteccion }}</h3>
                      <h3 *ngIf="!etiquetas?.home_proteccion" class="pro-ser-font mb-0">home_proteccion</h3>
                    </div>
                    <div (click)="openDialog ('home_para_el_turista', etiquetas?.home_para_el_turista, 0)">
                      <p *ngIf="etiquetas?.home_para_el_turista" class="tur-agre-font">{{ etiquetas?.home_para_el_turista }}</p>
                      <p *ngIf="!etiquetas?.home_para_el_turista" class="tur-agre-font">home_para_el_turista</p>
                    </div>
                  </div>
                  <div class="col-12 px-0 mt-3">
                    <div (click)="openDialog ('home_proteccion_turista_texto', etiquetas?.home_proteccion_turista_texto, 1)">
                      <div *ngIf="etiquetas?.home_proteccion_turista_texto" [innerHtml]="etiquetas?.home_proteccion_turista_texto" class="text-pro-ser-font"></div>
                      <div *ngIf="!etiquetas?.home_proteccion_turista_texto" class="text-pro-ser-font">home_proteccion_turista_texto</div>
                    </div>
                  </div>
              </div>
          </div>
       </div>
       <div class="col-12 col-lg-6 px-0 py-0">
          <div class="row m-0">
              <div class="col-12 col-sm-6 col-xl-5 order-2 order-sm-0 px-0 py-0 ml-lg-n5 ml-xl-0 ocultar-img-home" (click)="openDialogImagen ('home_app_img', imagenes?.home_app_img)">
                  <img [src]="imagenes?.home_app_img.img" class="ml-xl-n5 mt-n4" id="altira-app">
              </div>
              <div class="col-12 col-sm-6 col-xl-7 px-0 py-0 ml-xl-n3">
                 <div class="row m-0">
                      <div class="col-xl-8 px-0 pt-md-5 pt-lg-3 pt-xl-5 ml-xl-n4 text-center text-lg-left">
                        <div class="row m-0">
                         <div class="col-12 mt-5 mt-xl-0 mt-lg-0">
                           <div (click)="openDialog ('home_descarga_titulo', etiquetas?.home_descarga_titulo, 0)">
                             <h2 *ngIf="etiquetas?.home_descarga_titulo" class="mb-0 subtitulo-font" >{{ etiquetas?.home_descarga_titulo }}</h2>
                             <h2 *ngIf="!etiquetas?.home_descarga_titulo" class="mb-0 subtitulo-font" >home_descarga_titulo</h2>
                           </div>
                           <div (click)="openDialog ('home_descarga_dicertur', etiquetas?.home_descarga_dicertur, 0)">
                             <h3 *ngIf="etiquetas?.home_descarga_dicertur" class="mb-0 subtitulo-2-font">{{ etiquetas?.home_descarga_dicertur }}</h3>
                             <h3 *ngIf="!etiquetas?.home_descarga_dicertur" class="mb-0 subtitulo-2-font">home_descarga_dicertur</h3>
                           </div>
                         </div>
                         <div class="col-12  ml-lg-n5 mt-3 mt-xl-1 mb-4">
                          <img class="" src="assets/imagenes/flechaizq.jpg" width="100%">
                         </div>
                         </div>
                        </div>
                        <div class="col-12 ml-xl-n4 mb-4 text-center text-sm-left">
                          <div (click)="openDialog ('home_descarga_texto', etiquetas?.home_descarga_texto, 1)">
                            <div *ngIf="etiquetas?.home_descarga_texto" [innerHtml]="etiquetas?.home_descarga_texto" id="descripcion-font"></div>
                            <div *ngIf="!etiquetas?.home_descarga_texto" id="descripcion-font">home_descarga_texto</div>
                          </div>
                          <div  (click)="openDialog ('home_descarga_pronto', etiquetas?.home_descarga_pronto, 0)">
                            <p *ngIf="etiquetas?.home_descarga_pronto" style="color: #3E729A;font-weight: 700;text-align: center;">{{ etiquetas?.home_descarga_pronto }}</p>
                            <p *ngIf="!etiquetas?.home_descarga_pronto" style="color: #3E729A;font-weight: 700;text-align: center;">home_descarga_pronto</p>
                          </div>
                        </div>
                        <!--<div class="col-md-6 col-xl-3 pr-1 ml-xl-n4">
                            <img src="assets/imagenes/app1.png" width="100%">
                        </div>
                        <div class="col-md-6 col-xl-3 pl-1">
                            <img src="assets/imagenes/app2.png" width="100%">
                        </div>-->
                 </div>
              </div>
          </div>
       </div>
        <div class="col-12 col-sm-6 col-lg-3 order-2 order-lg-0 px-0 text-center mt-sm-n5 mt-lg-0">
           <div class="espacios-cuadros" id="azul-fondo">
               <div class="row m-0">
                   <div class="col-12 px-0">
                     <div (click)="openDialog ('home_servicio', etiquetas?.home_servicio, 0)">
                       <h3 *ngIf="etiquetas?.home_servicio" class="pro-ser-font mb-0">{{ etiquetas?.home_servicio }}</h3>
                       <h3 *ngIf="!etiquetas?.home_servicio" class="pro-ser-font mb-0">home_servico</h3>
                     </div>
                     <div (click)="openDialog ('home_para_egremiado', etiquetas?.home_para_egremiado, 0)">
                       <p  *ngIf="etiquetas?.home_para_egremiado" class="tur-agre-font">{{ etiquetas?.home_para_egremiado }}</p>
                       <p  *ngIf="!etiquetas?.home_para_egremiado" class="tur-agre-font">home_para_egremiado</p>
                     </div>
                   </div>
                   <div class="col-12 px-0 mt-3">
                     <div (click)="openDialog ('home_servicio_texto', etiquetas?.home_servicio_texto, 1)">
                        <div *ngIf="etiquetas?.home_servicio_texto" [innerHtml]="etiquetas?.home_servicio_texto" class="text-pro-ser-font"></div>
                        <div *ngIf="!etiquetas?.home_servicio_texto" class="text-pro-ser-font">home_servicio_texto</div>
                     </div>
                   </div>
               </div>
           </div>
       </div>
      </div>
   </div>
</section>
<section class="" id="fondo-tiket">
   <div class="container-fluid p-0 py-5 px-0  px-lg-3 px-xl-5" id="fluid-fondo-negro" >
     <div class="row m-0">
         <div class="col-sm-6 col-lg-8 col-xl-7 mt-xl-1 order-2 order-sm-0 my-2 my-sm-0">
           <img class="mt-xl-4" src="assets/imagenes/boleto-2.png" id="boleto-anchura">
         </div>
         <div class="col-sm-6 col-lg-4 col-xl-5 p-0  my-sm-5 py-sm-5">
             <div class="rojo-fondo p-3 p-lg-3 p-xl-5 my-sm-5">
                 <div class="row m-0">
                     <div class="col-12 text-center text-lg-left">
                         <h3 class="color-letra-blanco" id="boleto-font">
                           <span (click)="openDialog ('home_boleto_titulo', etiquetas?.home_boleto_titulo, 0)">
                              <span *ngIf="etiquetas?.home_boleto_titulo">{{ etiquetas?.home_boleto_titulo }}</span>
                              <span *ngIf="!etiquetas?.home_boleto_titulo">home_boleto_titulo</span>
                           </span>
                           <span (click)="openDialog ('home_boleto_subtitulo', etiquetas?.home_boleto_subtitulo, 0)">
                             <span *ngIf="etiquetas?.home_boleto_subtitulo" class="ml-1" id="turistico-font">{{ etiquetas?.home_boleto_subtitulo }}</span>
                             <span *ngIf="!etiquetas?.home_boleto_subtitulo" class="ml-1" id="turistico-font">home_boleto_subtitulo</span>
                            </span>
                         </h3>
                     </div>
                     <div class="col-12">
                       <div (click)="openDialog ('home_boleto_texto', etiquetas?.home_boleto_texto, 1)">
                         <div *ngIf="etiquetas?.home_boleto_texto" [innerHtml]="etiquetas?.home_boleto_texto" class="color-letra-blanco texto-boleta-font"></div>
                         <div *ngIf="!etiquetas?.home_boleto_texto" class="color-letra-blanco texto-boleta-font">home_boleto_texto</div>
                        </div>
                     </div>
                     <div class="col-12">
                         <div (click)="openDialog ('home_boleto_preguntas', etiquetas?.home_boleto_preguntas, 1)">
                           <div *ngIf="etiquetas?.home_boleto_preguntas" [innerHtml]="etiquetas?.home_boleto_preguntas" class="color-letra-blanco p-0 texto-boleta-font"></div>
                           <div *ngIf="!etiquetas?.home_boleto_preguntas" class="color-letra-blanco p-0 texto-boleta-font">home_boleto_preguntas</div>
                         </div>
                     </div>
                     <div class="col-12 col-sm-7 col-lg-7 col-xl-6 offset-sm-5 offset-lg-5 offset-xl-6 text-right text-sm-left">
                       <div (click)="openDialog ('home_boleto_link_respuesta', etiquetas?.home_boleto_link_respuesta, 0)">
                          <a *ngIf="etiquetas?.home_boleto_link_respuesta" class="color-letra-blanco color-blanco-hover" style="cursor: pointer; color: #FFFFFF;" id="respuesta-font">{{ etiquetas?.home_boleto_link_respuesta }}</a>
                          <a *ngIf="!etiquetas?.home_boleto_link_respuesta" class="color-letra-blanco color-blanco-hover" style="cursor: pointer; color: #FFFFFF;" id="respuesta-font">home_boleto_link_respuesta</a>
                       </div>  
                     </div>
                 </div>
             </div>
         </div>
     </div>
   </div>
</section>
<section>
   <div class="container-fluid p-0">
       <div class="row m-0">
           <div class="col-sm-6 col-lg-4 col-xl-3 p-0">
               <div class="rojo-fondo text-center px-2" id="borde-rojo">
                   <div class="row m-0">
                       <div class="col-12">
                            <h3 class="color-letra-blanco" id="rutas-font-home">
                            <span (click)="openDialog ('home_rutas_titulo', etiquetas?.home_rutas_titulo, 0)">
                              <span *ngIf="etiquetas?.home_rutas_titulo">{{ etiquetas?.home_rutas_titulo }}</span>
                              <span *ngIf="!etiquetas?.home_rutas_titulo">home_rutas_titulo</span>
                            </span>
                            <span (click)="openDialog ('home_rutas_subtitulo', etiquetas?.home_rutas_subtitulo, 0)">
                              <span *ngIf="etiquetas?.home_rutas_subtitulo" class="ml-1" id="sugeridas-font-home">{{ etiquetas?.home_rutas_subtitulo }}</span>
                              <span *ngIf="!etiquetas?.home_rutas_subtitulo" class="ml-1" id="sugeridas-font-home">home_rutas_subtitulo</span>
                            </span>
                            </h3>
                       </div>
                       <div class="col-12 mt-2">
                         <div (click)="openDialog ('home_rutas_texto', etiquetas?.home_rutas_texto, 1)">
                            <div *ngIf="etiquetas?.home_rutas_texto" [innerHtml]="etiquetas?.home_rutas_texto" class="color-letra-blanco" id="texto-sugeridas-font"></div>
                            <div *ngIf="!etiquetas?.home_rutas_texto" class="color-letra-blanco" id="texto-sugeridas-font">home_rutas_texto</div>
                         </div>
                       </div>
                       <div class="col-12 mt-4 mb-3">
                         <div (click)="openDialog ('home_rutas_link_todas', etiquetas?.home_rutas_link_todas, 0)">
                            <a *ngIf="etiquetas?.home_rutas_link_todas" class="color-letra-blanco" id="ver-rutas-font" style="color: #ffffff;">{{ etiquetas?.home_rutas_link_todas }}</a>
                            <a *ngIf="!etiquetas?.home_rutas_link_todas" class="color-letra-blanco" id="ver-rutas-font" style="color: #ffffff;">home_rutas_link_todas</a>
                         </div>
                       </div>
                   </div>
               </div>
           </div>
           <div class="col-sm-6 col-lg-4 col-xl-3 p-0 animacion-ruta border-imagen" *ngFor="let ruta of Rutas">
             <div class="row m-0">
                 <div class="col-12 p-0 img-rutas-home" [ngStyle]="{'background-image': 'url('+ ruta?.imagen +')'}">
                     
                 </div>
                 <div class="col-12 p-0 py-2 ocultar-ruta p-0" style="background-color: #FFFFFF;">
                     <div class="row m-0">
                       <div class="col-8 p-0 py-2">
                         <div class="row m-0">
                           <div class="col-12 text-left p-0 px-2">
                             <h4 class="ruta-titulo-font mb-0 caracteres-titulo-rutas">{{ruta.nombre}}</h4>
                           </div>
                           <div class="col-12 text-left p-0 px-2">
                             <p class="ruta-texto-font color-ruta-rui"><small>Zonas Arqueologicas</small> </p>
                           </div>
                           <div class="col-12 text-left p-0 px-2">
                             <p class="ruta-texto-font color-cantidad">{{ruta.donde}}</p>
                           </div>
                         </div>
                       </div>
                       <div class="col-4 p-0">
                         <div (click)="openDialog ('home_rutas_link_explorar', etiquetas?.home_rutas_link_explorar, 0)">
                            <a *ngIf="etiquetas?.home_rutas_link_explorar" class="btn btn-explorar-ruta py-5 color-blanco-hover" style="cursor: pointer; color: #FFFFFF;">{{ etiquetas?.home_rutas_link_explorar }}</a>
                            <a *ngIf="!etiquetas?.home_rutas_link_explorar" class="btn btn-explorar-ruta py-5 color-blanco-hover" style="cursor: pointer; color: #FFFFFF;">home_rutas_link_explorar</a>
                         </div>
                       </div>
                     </div>
                 </div>
             </div>
           </div>
       </div>
   </div>
</section>
<section>
   <div class="container-fluid px-0 px-sm-5 py-3 py-sm-5 mt-xl-5">
       <div class="row m-0">
           <div class="col-lg-12 col-xl-4 p-0">
               <div class="rojo-fondo px-2 px-sm-5 px-lg-2 px-xl-3 py-2 py-sm-5 text-center text-xl-left" id="rojo-anchura">
                   <div class="row m-0">
                       <div class="col-12">
                           <h3 class="color-letra-blanco tamaño-calendario" id="calendario-font">
                            <span (click)="openDialog ('home_calendario_titulo', etiquetas?.home_calendario_titulo, 0)">
                              <span *ngIf="etiquetas?.home_calendario_titulo">{{ etiquetas?.home_calendario_titulo }}</span>
                              <span *ngIf="!etiquetas?.home_calendario_titulo">home_calendario_titulo</span>
                            </span>
                            <span (click)="openDialog ('home_calendario_subtitulo', etiquetas?.home_calendario_subtitulo, 0)">
                              <span *ngIf="etiquetas?.home_calendario_subtitulo" class="ml-1" id="cal-turistico-font">{{ etiquetas?.home_calendario_subtitulo }}</span>
                              <span *ngIf="!etiquetas?.home_calendario_subtitulo" class="ml-1" id="cal-turistico-font">home_calendario_subtitulo</span>
                            </span>
                            </h3>
                       </div>
                       <div class="col-xl-9 mb-xl-5 pr-0 pb-xl-0">
                         <div (click)="openDialog ('home_calendario_texto', etiquetas?.home_calendario_texto, 1)">
                           <div *ngIf="etiquetas?.home_calendario_texto" [innerHtml]="etiquetas?.home_calendario_texto" class="color-letra-blanco " id="cal-texto-font"></div>
                           <div *ngIf="!etiquetas?.home_calendario_texto" class="color-letra-blanco " id="cal-texto-font">home_calendario_texto</div>
                         </div>
                       </div>
                   </div>
               </div>
           </div>
           <div class="col-12 col-lg-12 col-xl-8 px-2 px-sm-0 mt-5 ml-xl-n0">
               <div class="row m-0">
                   <div class="col-12 px-5 ml-xl-5 mb-4 mb-xl-0 text-center text-xl-left">
                       <h3 class="fecha-font-home mb-3 ml-xl-4" id="mes-font-home">Octubre<span id="ano-font-home"> 2019</span></h3>
                   </div>
                   <div class="col-12 col-md-6 col-lg-6 px-0 px-sm-1 py-1 animacion1 animacion" *ngFor="let evento of Eventos; let i=index" >
                       <div class="row m-0" *ngIf="i<8">
                          <div class="col-3 text-center color-letra-blanco px-0 alturacol" style="position: absolute;z-index: 1000;">
                            <div [className]="evento.color=='azul' ? 'azul-fondo pt-2 pt-lg-3 pt-xl-2 ml-sm-n2' : 'rojo-calendario pt-2 pt-lg-3 pt-xl-2 ml-sm-n2'" style="box-shadow: 0px 3px 6px #0000004B;">
                              <p class="numero-mes-font mb-0">{{ ObtenerDia(evento.datageneral.fecha) }}</p>
                              <p class="letra-mes-font mt-n3">{{ ObtenerMesEnLetra(evento.datageneral.fecha) }}</p>
                            </div>
                          </div>
                          <div class="col-9 ocultar alturacol px-3" style="background: #FFFFFF;box-shadow: 0px 3px 6px #0000004B;">
                             <div class="row m-0">
                                <div class="col-12 pt-2 pt-xl-2 px-0 px-sm-2 text-left">
                                  <p class="cal-titulo-font mb-0 text-titulo-calendario" >{{titleCaseWord(evento.datageneral.titulo)}}</p>
                                  <p class="cal-subtitulo-font mb-2">{{ evento.datageneral.categoria.name }}</p>
                                </div>
                                <div class="col-12 px-0 px-sm-2 pb-3">
                                  <div class="row m-0">
                                    <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 p-0 text-left" style="border-right: 1px solid #A0A0A0">
                                      <span class="cal-subtitulo-font"><small><img src="assets/imagenes/icono-img1.png"> {{ evento.datageneral.provincia.nombre }}</small> </span>
                                    </div>
                                    <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 px-0" style="border-right: 1px solid #A0A0A0">
                                      <span class="cal-subtitulo-font"><small><img src="assets/imagenes/icono-img2.png"> {{ evento.datageneral.tipo.name }}</small> </span>
                                    </div>
                                    <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 px-0">
                                      <span class="cal-subtitulo-font"><small><img src="assets/imagenes/icono-img3.png"> {{ evento.datageneral.hora }}</small> </span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                          </div> 
                          <div class="col-9 mostar px-0 alturacol">
                            <div class="row m-0">
                              <div class="col-4 px-0 alturacol">
                               <img [src]="evento?.datageneral.imagen" width="100%" height="100%">
                              </div>
                              <div class="col-8 px-0" style="background: #FFFFFF;box-shadow: 0px 3px 6px #0000004B;">
                              <div class="row m-0 alturacol">
                                <div class="col-12 pt-2 text-left px-1">
                                  <p class="cal-titulo-font mb-0 text-titulo-calendario" >{{ titleCaseWord(evento.datageneral.titulo) }}</p>
                                  <p class="cal-subtitulo-font mb-">{{ evento.datageneral.categoria.name }}</p>
                                </div>
                                <div class="col-12 text-right pb-2 px-1">
                                  <div (click)="openDialog ('home_calendario_link_ver_mas', etiquetas?.home_calendario_link_completo, 0)">
                                      <a *ngIf="etiquetas?.home_calendario_link_ver_mas" class="calendario-link-font" style="cursor: pointer;"  placement="top" [ngbTooltip]="evento.datageneral.titulo" container="body">{{ etiquetas?.home_calendario_link_ver_mas }}</a>
                                      <a *ngIf="!etiquetas?.home_calendario_link_ver_mas" class="calendario-link-font" style="cursor: pointer;"  placement="top" [ngbTooltip]="evento.datageneral.titulo" container="body">home_calendario_link_ver_mas</a>
                                  </div>
                                </div>
                              </div>
                          </div> 
                            </div>
                          </div>
                       </div>
                   </div>
               </div>
           </div>
           <div class="col-12 text-center mt-3 mt-sm-5">
             <div (click)="openDialog ('home_calendario_link_completo', etiquetas?.home_calendario_link_completo, 0)">
                <a *ngIf="etiquetas?.home_calendario_link_completo" class="link-ver-negro"  style="cursor: pointer;">{{ etiquetas?.home_calendario_link_completo }}</a>
                <a *ngIf="!etiquetas?.home_calendario_link_completo" class="link-ver-negro"  style="cursor: pointer;">home_calendario_link_completo</a>
             </div>
           </div>
       </div>
   </div>
</section>
<section>
 <div class="container-fluid p-0">
   <div class="row m-0">
     <div class="col-sm-6 px-0 py-5" id="verde-fondo-turismo">
       <div class="row m-0">
         <div class="col-lg-7 offset-lg-3">
           <div (click)="openDialog ('home_turismo_titulo', etiquetas?.home_turismo_titulo, 0)">
              <h3 *ngIf="etiquetas?.home_turismo_titulo" class="color-letra-blanco titulo-turismo-font mb-0">{{ etiquetas?.home_turismo_titulo }}</h3>
              <h3 *ngIf="!etiquetas?.home_turismo_titulo" class="color-letra-blanco titulo-turismo-font mb-0">home_turismo_titulo</h3>
           </div>
           <div (click)="openDialog ('home_turismo_social_titulo', etiquetas?.home_turismo_social_titulo, 0)">
              <h4 *ngIf="etiquetas?.home_turismo_social_titulo" class="color-letra-blanco subtitulo-tur-rural-font">{{ etiquetas?.home_turismo_social_titulo }}</h4>
              <h4 *ngIf="!etiquetas?.home_turismo_social_titulo" class="color-letra-blanco subtitulo-tur-rural-font">home_turismo_social_titulo</h4>
           </div>
           <div (click)="openDialog ('home_turismo_social_texto', etiquetas?.home_turismo_social_texto, 1)">
              <div *ngIf="etiquetas?.home_turismo_social_texto" [innerHtml]="etiquetas?.home_turismo_social_texto" class="color-letra-blanco text-tur-rural-font mt-4"></div>
              <div *ngIf="!etiquetas?.home_turismo_social_texto" class="color-letra-blanco text-tur-rural-font mt-4">home_turismo_social_texto</div>
           </div>
           <div (click)="openDialog ('home_turismo_social_btn', etiquetas?.home_turismo_social_btn, 0)">
              <button *ngIf="etiquetas?.home_turismo_social_btn" class="btn btn-tour-rural-altura mt-4" id="hover-btn-social">{{ etiquetas?.home_turismo_social_btn }}</button>
              <button *ngIf="!etiquetas?.home_turismo_social_btn" class="btn btn-tour-rural-altura mt-4" id="hover-btn-social">home_turismo_social_btn</button>
           </div>
         </div>
       </div>
     </div>
     <div class="col-sm-6 px-0 text-right py-5" id="azul-fondo-turismo">
       <div class="row m-0">
         <div class="col-lg-7 offset-lg-2">
           <div (click)="openDialog ('home_turismo_1', etiquetas?.home_turismo_1, 0)">
              <h3 *ngIf="etiquetas?.home_turismo_1" class="color-letra-blanco titulo-turismo-font mb-0">{{ etiquetas?.home_turismo_1 }}</h3>
              <h3 *ngIf="!etiquetas?.home_turismo_1" class="color-letra-blanco titulo-turismo-font mb-0">home_turismo_1</h3>
           </div>
           <div (click)="openDialog ('home_turismo_rural', etiquetas?.home_turismo_rural, 0)">
              <h4 *ngIf="etiquetas?.home_turismo_rural" class="color-letra-blanco subtitulo-tur-rural-font">{{ etiquetas?.home_turismo_rural }}</h4>
              <h4 *ngIf="!etiquetas?.home_turismo_rural" class="color-letra-blanco subtitulo-tur-rural-font">home_turismo_rural</h4>
           </div>
           <div (click)="openDialog ('home_turismo_rural_texto', etiquetas?.home_turismo_rural_texto, 1)">
              <div *ngIf="etiquetas?.home_turismo_rural_texto" [innerHtml]="etiquetas?.home_turismo_rural_texto" class="color-letra-blanco text-tur-rural-font mt-4"></div>
              <div *ngIf="!etiquetas?.home_turismo_rural_texto" class="color-letra-blanco text-tur-rural-font mt-4">home_turismo_rural_texto</div>
           </div>
           <div (click)="openDialog ('home_turismo_rural_btn', etiquetas?.home_turismo_rural_btn, 0)">
              <button *ngIf="etiquetas?.home_turismo_rural_btn" class="btn btn-tour-rural-altura mt-4" id="hover-btn-rural">{{ etiquetas?.home_turismo_rural_btn }}</button>
              <button *ngIf="!etiquetas?.home_turismo_rural_btn" class="btn btn-tour-rural-altura mt-4" id="hover-btn-rural">home_turismo_rural_btn</button>
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>
</section>
<section class="pt-5"  id="section-color-fondo">
 <div class="container ">
   <div class="row m-0">
     <div class="col-12 text-center p-0 mb-5 mb-sm-0">
        <h2 class="titulo-dire-pro-font">
          <span (click)="openDialog ('home_direcciones', etiquetas?.home_direcciones, 0)">
            <span *ngIf="etiquetas?.home_direcciones">{{ etiquetas?.home_direcciones }}</span>
            <span *ngIf="!etiquetas?.home_direcciones">home_direcciones</span>
          </span>
          <span (click)="openDialog ('home_especiales', etiquetas?.home_especiales, 0)">
              <span *ngIf="etiquetas?.home_especiales" class="subtitulo-re-es-font">{{ etiquetas?.home_especiales }}</span>
              <span *ngIf="!etiquetas?.home_especiales" class="subtitulo-re-es-font">home_especiales</span>
          </span>
          </h2>
     </div>
     
     <div class="col-12 logo-container">
       <div class="row m-0">
          <div class="col-6 col-sm-4 col-lg-1 mt-sm-5 mb-5 mb-sm-3 my-lg-5 altura-img" (click)="openDialogImagen ('home_especiales_enclace_img_1', imagenes?.home_especiales_enclace_img_1)">
            <img  [src]="imagenes?.home_especiales_enclace_img_1.img" width="100%" >
          </div>
          <div class="col-6 col-sm-4 col-lg-1 mt-3 mt-sm-5 mb-0 mb-sm-3 my-lg-5 altura-img" (click)="openDialogImagen ('home_especiales_enclace_img_2', imagenes?.home_especiales_enclace_img_2)">
            <img class="mt-sm-3 mt-lg-2" [src]="imagenes?.home_especiales_enclace_img_2.img" width="100%" >
          </div>
          <div class="col-6 col-sm-4 col-lg-1 mt-3 mt-sm-5 mb-5 mb-sm-3 my-lg-5 altura-img" (click)="openDialogImagen ('home_especiales_enclace_img_3', imagenes?.home_especiales_enclace_img_3)">
            <img class="mt-sm-3 mt-lg-2" [src]="imagenes?.home_especiales_enclace_img_3.img" width="100%" >
          </div>
          <div class="col-6 col-sm-4 col-lg-1 mt-sm-3 mb-5 mb-sm-3 my-lg-5 altura-img" (click)="openDialogImagen ('home_especiales_enclace_img_4', imagenes?.home_especiales_enclace_img_4)">
            <img [src]="imagenes?.home_especiales_enclace_img_4.img" width="100%" >
          </div>
          <div class="col-6 col-sm-4 col-lg-1 mt-sm-3 mb-5 mb-sm-3 my-lg-5 altura-img" (click)="openDialogImagen ('home_especiales_enclace_img_5', imagenes?.home_especiales_enclace_img_5)">
            <img class="mt-sm-3 mt-lg-2" [src]="imagenes?.home_especiales_enclace_img_5.img" width="100%" >
          </div>
          <div class="col-6 col-sm-4 col-lg-1 mt-sm-3 mb-5 mb-sm-3 my-lg-5 altura-img" (click)="openDialogImagen ('home_especiales_enclace_img_6', imagenes?.home_especiales_enclace_img_6)">
            <img class="mt-lg-2" [src]="imagenes?.home_especiales_enclace_img_6.img" width="100%" >
          </div>
          <div class="col-6 col-sm-4 col-lg-3 mt-sm-3 mb-5 mb-sm-3 my-lg-5 altura-img" (click)="openDialogImagen ('home_especiales_enclace_img_7', imagenes?.home_especiales_enclace_img_7)">
            <img [src]="imagenes?.home_especiales_enclace_img_7.img" width="100%" >
          </div>
          <div class="col-6 col-sm-4 col-lg-3 mt-sm-3 mb-5 mb-sm-3 my-lg-5 altura-img" (click)="openDialogImagen ('home_especiales_enclace_img_8', imagenes?.home_especiales_enclace_img_8)">
            <img [src]="imagenes?.home_especiales_enclace_img_8.img" width="100%" >
          </div>
       </div>
     </div>
   </div>
 </div>
</section>
<section class="mt-5">
  <div class="container pt-5 mb-5">
    <div class="row m-0">
      <div class="col-12 text-center pb-5">
        <h2 class="titulo-dire-pro-font">
          <span (click)="openDialog ('home_proyecto', etiquetas?.home_proyecto, 0)">
            <span *ngIf="etiquetas?.home_proyecto">{{ etiquetas?.home_proyecto }}</span>
            <span *ngIf="!etiquetas?.home_proyecto">home_proyecto</span>
          </span>
          <span (click)="openDialog ('home_proyecto_especiales', etiquetas?.home_proyecto_especiales, 0)">
            <span *ngIf="etiquetas?.home_proyecto_especiales" class="subtitulo-re-es-font">{{ etiquetas?.home_proyecto_especiales }}</span>
            <span *ngIf="!etiquetas?.home_proyecto_especiales" class="subtitulo-re-es-font"> home_proyecto_especiales</span>
          </span>
          </h2>
      </div>
      <div class="col-12 col-lg-4 py-5 py-lg-0">
        <div class="row m-0">
          <div class="col-6 text-center offset-3" (click)="openDialogImagen ('home_proyecto_img_1', imagenes?.home_proyecto_img_1)">
            <img [src]="imagenes?.home_proyecto_img_1.img" width="100%">
          </div>
          <div class="col-12 text-center mt-4">
            <div (click)="openDialog ('home_proyecto_plan_texto', etiquetas?.home_proyecto_plan_texto, 1)">
                <div *ngIf="etiquetas?.home_proyecto_plan_texto" [innerHtml]="etiquetas?.home_proyecto_plan_texto" class="texto-proyecto-font"></div>
                <div *ngIf="!etiquetas?.home_proyecto_plan_texto" class="texto-proyecto-font">home_proyecto_plan_texto</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4 py-5 py-lg-0">
        <div class="row m-0">
          <div class="col-6 text-center offset-3" (click)="openDialogImagen ('home_proyecto_img_2', imagenes?.home_proyecto_img_2)">
            <img [src]="imagenes?.home_proyecto_img_2.img" width="30%">
          </div>
          <div class="col-12 text-center mt-4">
              <div (click)="openDialog ('home_proyecto_ima_texto', etiquetas?.home_proyecto_ima_texto, 1)">
                  <div *ngIf="etiquetas?.home_proyecto_ima_texto" [innerHtml]="etiquetas?.home_proyecto_ima_texto" class="texto-proyecto-font"></div>
                  <div *ngIf="!etiquetas?.home_proyecto_ima_texto" class="texto-proyecto-font">home_proyecto_ima_texto</div>
              </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4 py-5 py-lg-0">
        <div class="row m-0">
          <div class="col-6 text-center offset-3" (click)="openDialogImagen ('home_proyecto_img_3', imagenes?.home_proyecto_img_3)">
            <img [src]="imagenes?.home_proyecto_img_3.img" width="100%">
          </div>
          <div class="col-12 text-center mt-4">
              <div (click)="openDialog ('home_proyecto_pesc_texto', etiquetas?.home_proyecto_pesc_texto, 1)">
                  <div *ngIf="etiquetas?.home_proyecto_pesc_texto" [innerHtml]="etiquetas?.home_proyecto_pesc_texto" class="texto-proyecto-font"></div>
                  <div *ngIf="!etiquetas?.home_proyecto_pesc_texto" class="texto-proyecto-font">home_proyecto_pesc_texto</div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
