<section class="titulo-phone">
  <div class="container-fluid px-0">
    <div class="row m-0" style="background-color: #3E729A;">
      <div class="col-sm-5 px-0 img-blog-detalle" [ngStyle]="{'background-image': 'url('+ detalle?.imagen +')'}">
        
      </div>
      <div class="col-sm-7 px-sm-5 pt-1 pt-lg-5 pt-xl-5 text-center text-sm-left pb-5 pb-sm-5 pb-lg-0" id="fondo-azul">
        <h1 class=" mt-md-3 mt-lg-5 mt-xl-5 pt-sm-5 pl-lg-3" id="titulo-turismo-detalle">
          <span (click)="openDialog ('blog_detalle_titulo', etiquetas?.blog_detalle_titulo, 0)">
            <span *ngIf="etiquetas?.blog_detalle_titulo">{{ etiquetas?.blog_detalle_titulo }}</span>
            <span *ngIf="!etiquetas?.blog_detalle_titulo">blog_detalle_titulo</span>
          </span>
          <span (click)="openDialog ('blog_detalle_subtitulo', etiquetas?.blog_detalle_subtitulo, 0)">
              <span *ngIf="etiquetas?.blog_detalle_subtitulo" id="subtitulo-font">{{ etiquetas?.blog_detalle_subtitulo }}</span> 
              <span *ngIf="!etiquetas?.blog_detalle_subtitulo" id="subtitulo-font">blog_detalle_subtitulo</span> 
          </span>
          </h1>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container my-5">
    <div class="row m-0">
      <div class="col-12 col-lg-5 px-5 text-center text-lg-left">
        <h2 class="subtitulo-art-detalle">{{detalle?.titulo}}</h2>
        <p class="public-fecha-text mt-4 mb-0">
          <span (click)="openDialog ('publicado_por', etiquetas?.publicado_por, 0)">
            <span *ngIf="etiquetas?.publicado_por">{{ etiquetas?.publicado_por }}</span>
            <span *ngIf="!etiquetas?.publicado_por">publicado_por</span>
          </span>
          : {{detalle?.autor}}</p>
        <p class="public-fecha-text">
          <span (click)="openDialog ('fecha', etiquetas?.fecha, 0)">
            <span *ngIf="etiquetas?.fecha">{{ etiquetas?.fecha }}</span>
            <span *ngIf="!etiquetas?.fecha">fecha</span>
          </span>
          : {{ formatoFecha1(detalle?.fecha_creado) }}</p>
      </div>
      <div class="col-12 col-lg-7 px-0">
        <div class="row m-0">
          <div [innerHtml]="detalle?.detalle" class="col-12 text-center text-md-left mb-0 texto-todo">
          </div>
          <div class="col-12 my-3">
            <div class="row m-0">
              <div class="col-12 col-sm-6 px-1">
                <img src="assets/imagenes/linea-img1.png" width="100%">
              </div>
              <div class="col-12 col-sm-6 px-1">
                <img src="assets/imagenes/linea-img2.png" width="100%">
              </div>
            </div>
          </div>
          <!--div class="col-12 text-center text-md-left">
            <p class="texto-todo">Formular, proponer, ejecutar, evaluar y controlar las políticas en materia de desarrollo de la artesanía, en concordancia con la política general del gobierno, los planes sectoriales y las políticas de desarrollo regional. Planificar concertadamente y ejecutar el desarrollo de la actividad artesanal de la región, mediante el aprovechamiento de las potencialidades regionales. Fomentar, desarrollar y ejecutar proyectos, programas u otros mecanismos para promover la competitividad y productividad de la actividad artesanal en la región, con la participación de entidades públicas y privadas. Fomentar y promover la organización y formalización de los productores artesanales y el fortalecimiento gremial en la región.</p>
          </div-->
        </div>
      </div>
    </div>
  </div>
</section>